/*
* Variables font
*/
@font-face {
    font-family: Lato-Light;
    src: url(#{$path-font}Lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Hairline;
    src: url(#{$path-font}Lato/Lato-Hairline.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(#{$path-font}Lato/Lato-Regular.ttf);
}

$font-jp: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-en: Helvetica, Arial, メイリオ, Meiryo, sans-serif;
