/*
l-footer
*/

.l-footer {
    background-color: $color-default;
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    height: 54px;

    .l-footer-left {
        float: left;
        color: #fff;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;

    }

    .l-footer-right {
        float: right;

        &.l-footer-right-pt {
            padding-top: 4px;
        }
    }


    //MODIFIER
    &.l-footer-pd {
        padding: 10px 0 11px 0;
    }
    &.l-footer-mt {
        margin-top: 50px;
    }
    &.l-footer-mt-sm {
        margin-top: 30px;
    }
    &.l-footer-mt-lg {
        margin-top: 70px;
    }
}
