/*
l-header
*/

.l-header {
    background-color: #fff;
    padding: 23px 0;
    border-bottom: 2px solid #cccccc;
    z-index: 999;

    .l-header-left {
        float: left;
    }
    .l-header-right {
        float: right;
        text-align: right;
    }
P
    //MODIFIER
    &.l-header-mb {
        margin-bottom: 50px;
    }
    &.l-header-mb-sm {
        margin-bottom: 30px;
    }
    &.l-header-mb-l {
        margin-bottom: 70px;
    }

    //STATE
    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        transform: translate3d(0,0,0);
    }
}
