<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:locale" content="ja_JP">
<meta property="fb:admins" content="">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:type" content="<%= type %>">
<meta property="og:image" content="assets/images/common/logo_ogp.png">
<link rel="shortcut icon" href="assets/images/common/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="assets/images/common/apple-touch-icon-precomposed.png">
<link rel="stylesheet" href="assets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
    document.documentElement.className = document.documentElement.className.replace("no-js", "js");
</script>
