<div id="js-archive-lists" class="archive-lists archive-lists-margin">
    <article class="archive-lists-article">
        <a href="/article">
            <time class="archive-lists-article-time" datetime="2016-06-18">06.18</time>

            <div class="archive-lists-left">
                <h3 class="archive-lists-article-title">News title</h3>
            </div>
            <div class="archive-lists-right">
                <div class="archive-lists-article-contents">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae deserunt dignissimos numquam officiis quae quas quos? Amet architecto, et expedita fugit illo laboriosam magnam nulla odio praesentium quas totam.</p>
                </div>
            </div>

        </a>
    </article>
    <article class="archive-lists-article">
        <a href="/article">
            <time class="archive-lists-article-time" datetime="2016-06-18">06.18</time>
            <div class="archive-lists-left">
                <h3 class="archive-lists-article-title">News title</h3>
            </div>
            <div class="archive-lists-right">
                <div class="archive-lists-article-contents">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae deserunt dignissimos numquam officiis quae quas quos? Amet architecto, et expedita fugit illo laboriosam magnam nulla odio praesentium quas totam.</p>
                </div>
            </div>
        </a>
    </article>
    <article class="archive-lists-article">
        <a href="/article">
            <time class="archive-lists-article-time" datetime="2016-06-18">06.18</time>
            <div class="archive-lists-left">
                <h3 class="archive-lists-article-title">News title</h3>
            </div>
            <div class="archive-lists-right">
                <div class="archive-lists-article-contents">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae deserunt dignissimos numquam officiis quae quas quos? Amet architecto, et expedita fugit illo laboriosam magnam nulla odio praesentium quas totam.</p>
                </div>
            </div>
        </a>
    </article>
</div>