<div class="block-lines">
    <div class="block-lines-list block-lines-list-ibm"><a href="/"><img src="./images/company/logo/ibm.png" alt="IBM"></a></div>
    <div class="block-lines-list block-lines-list-microsoft"><a href="/"><img src="./images/company/logo/microsoft.png" alt="Microsoft"></a></div>
    <div class="block-lines-list block-lines-list-twitter"><a href="/"><img src="./images/company/logo/twitter.png" alt="Twitter"></a></div>
    <div class="block-lines-list block-lines-list-facebook"><a href="/"><img src="./images/company/logo/facebook.png" alt="Facebook"></a></div>
</div>