<div id="js-catch" class="catch catch-phone">
    <div class="l-container">
        <div class="catch-inner">
            <div class="catch-content catch-content-left">
                <h2 class="catch-heading">Catch copy text catch copy !!<br>Catch copy text!</h2>
                <div class="catch-msg">
                    <p>sample text sample text sample text sample text<br>
                        sample text sample text sample text sample<br>
                        sample text sample text sample text</p>
                    <p>sample text sample text sample text<br>
                        sample text sample text sample text sample text</p>
                </div>
            </div>
            <div class="catch-images">
                <div id="js-phone1" class="catch-img-phone catch-img-phone1"><img src="./images/catch/phone1.png" alt="phone1"></div>
                <div id="js-phone2" class="catch-img-phone catch-img-phone2"><img src="./images/catch/phone2.png" alt="phone2"></div>
                <div id="js-phone3" class="catch-img-phone catch-img-phone3"><img src="./images/catch/phone3.png" alt="phone3"></div>
            </div>
        </div>
    </div>
</div>