<div id="js-feature" class="feature">
    <div class="l-g-row">
        <div class="l-g-col l-g-col-3">
            <div class="box box-left">
                <img src="./images/feature/html5.png" alt="html5">
                <h3 class="box-heading">HTML5</h3>
                <div class="box-msg">
                    <p>sample text sample<br>
                        text sample text<br>
                        sample text sample text</p>
                </div>
            </div>
        </div>
        <div class="l-g-col l-g-col-3">
            <div class="box">
                <img src="./images/feature/css3.png" alt="css3">
                <h3 class="box-heading">CSS3</h3>
                <div class="box-msg">
                    <p>sample text sample<br>
                        text sample text<br>
                        sample text sample text</p>
                </div>
            </div>
        </div>
        <div class="l-g-col l-g-col-3">
            <div class="box box-right">
                <img src="./images/feature/javascript.png" alt="javascript">
                <h3 class="box-heading">JavaScript</h3>
                <div class="box-msg">
                    <p>sample text sample<br>
                        text sample text<br>
                        sample text sample text</p>
                </div>
            </div>
        </div>
    </div>
</div>