<div class="form form-content">
    <form action="/confirmation/">
        <div class="l-g-row">

            <div class="l-g-col l-g-col-6">
                <div class="form-margin-right">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="E-mail">
                    <div class="form-select">
                        <select name="topic">
                            <option value="">Please select your topic</option>
                            <option value="sample1">Sample1</option>
                            <option value="sample2">Sample2</option>
                            <option value="sample3">Sample3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="l-g-col l-g-col-6">
                <textarea name="contents" cols="30" rows="10" placeholder="Comments"></textarea>
                <button class="btn">
                    <span>Submit</span>
                </button>
            </div>

        </div>

    </form>
</div>