<div id="js-hero" class="hero">
    <div class="hero-content">
        <h2 class="hero-heading">Hello world</h2>
        <div class="hero-msg">
            <p>- description text -</p>
        </div>
    </div>
</div>