<aside>
    <div class="l-container">
        <div class="l-grid l-grid-col4">
            <div class="banner l-grid-inner">
                <div class="banner-item banner-item-ibm banner-item-ibm-mr l-grid-item">
                    <a href="#">
                        <img src="./images/logo_ibm.png" width="151" height="56" alt="ibm">
                    </a>
                </div>
                <div class="banner-item banner-item-microsoft banner-item-microsoft-mr l-grid-item">
                    <a href="#">
                        <img src="./images/logo_microsoft.png" width="260" height="55" alt="microsoft">
                    </a>
                </div>
                <div class="banner-item banner-item-twitter banner-item-twitter-mr l-grid-item">
                    <a href="#">
                        <img src="./images/logo_twitter.png" width="249" height="47" alt="twitter">
                    </a>
                </div>
                <div class="banner-item banner-item-facebook l-grid-item">
                    <a href="#">
                        <img src="./images/logo_facebook.png" width="215" height="43" alt="facebook">
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>
