<section id="js-concept" class="section section-concept u-clear">
    <div class="section-content">
        <div class="concept">
            <div class="l-container">
                <div class="concept-left">
                    <h1 class="concept-left-text-heading concept-left-text-heading-pt concept-left-text-heading-pb">concept copy text concept copy !!<br>
                        concept copy text!
                    </h1>
                    <p class="concept-left-text-description concept-left-text-description-pb">
                        sample text sample text sample text sample text<br>
                        sample text sample text sample text sample<br>
                        sample text sample text sample text<br>
                    <br>
                        sample text sample text sample text<br>
                        sample text sample text sample text sample text<br>
                    </p>
                </div>
            </div>
            <div class="l-container">
                <div class="concept-right">
                    <div id="js-concept-prlx-phone3" class="concept-right-phone concept-right-phone-3">
                        <img src="./images/phone_3.png" width="271" height="428" alt="phone 3" />
                    </div>
                    <div id="js-concept-prlx-phone2"  class="concept-right-phone concept-right-phone-2">
                        <img src="./images/phone_2.png" width="294" height="458" alt="phone 2" />
                    </div>
                    <div id="js-concept-prlx-phone1"  class="concept-right-phone concept-right-phone-1">
                        <img src="./images/phone_1.png" width="296" height="481" alt="phone 1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
