<!-- BEGIN CONTACT SECTION -->
<div class="section section-contact">
    <div class="l-container">
        <!-- BEGIN CONTACT FORM -->
        <div class="l-grid l-grid-col2">
            <div class="l-grid-inner">
                <form class="contact-form contact-form-pt" action="/submit" method="POST">
                    <div class="l-grid-item">
                        <input class="contact-input contact-input-left contact-input-mb" type="text" name="name" placeholder="Name">
                        <input class="contact-input contact-input-left contact-input-mb" type="email" name="email" placeholder="E-mail">
                        <div id="js-contact-select" class="contact-select">
                            <select class="contact-select-tag" name="select">
                                <option value="">Please select your topic</option>
                                <option value="option 1">option 1</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="l-grid-item">
                        <textarea class="contact-textarea contact-textarea-right contact-input-mb" name="comments" rows="8" cols="40" placeholder="Comments"></textarea>
                        <input class="contact-submit" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <!-- END CONTACT FORM -->
    </div>
</div>
<!-- END CONTACT SECTION -->
