<section id="js-feature" class="section section-feature">
    <div class="section-heading">
        <h1>- Feature -</h1>
    </div>
    <div class="section-content">
        <div class="l-container">
            <div class="feature feature-pb">
                <div class="l-grid l-grid-col3">
                    <div class="feature-inner l-grid-inner">
                        <% var items = [
                            {id: "js-feature-item-one", image: "./images/feature_html5.png", heading: "HTML5", description: "sample text sample<br>text sample text<br>sample text sample text"},
                            {id: "js-feature-item-two", image: "./images/feature_css3.png", heading: "CSS3", description: "sample text sample<br>text sample text<br>sample text sample text"},
                            {id: "js-feature-item-three", image: "./images/feature_javascript.png", heading: "JavaScript", description: "sample text sample<br>text sample text<br>sample text sample text"}
                        ]; %>
                        <% for(var i = 0; i < items.length; i++) { %>
                            <div class="feature-item l-grid-item">
                                <div id="<%= items[i].id %>" class="item is-invisible">
                                    <div class="item-inner">
                                        <img class="item-inner-image" src="<%= items[i].image %>" alt="html5">
                                        <h2 class="item-inner-heading"><%= items[i].heading %></h2>
                                        <p class="item-inner-description"><%- items[i].description %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="u-clear"></div>
</section>
