<section id="js-hero" class="hero">
    <div id="js-hero-text" class="hero-inner l-container">
        <h1 id="js-hero-text-heading" class="hero-heading">Hello world</h1>
        <h2 id="js-hero-text-subheading" class="hero-subheading">- description text -</h2>
    </div>
</section>
