<section id="js-news" class="section section-news">
    <div class="section-heading section-heading-news-pb">
        <h1>- News -</h1>
    </div>
    <div class="l-container">
        <div class="section-content">

            <% var articles = [
                { date: "06.18", title: "News title", description: "sample text sample text sample text sample text sample text sample text ..."},
                { date: "06.17", title: "News title", description: "sample text sample text sample text sample text sample text sample text ..."},
                { date: "06.16", title: "News title", description: "sample text sample text sample text sample text sample text sample text ..."}
            ];%>
            <ul class="article-list">

                <% for(var i = 0; i < articles.length; i++) { %>
                <li class="article-list-item">
                    <article class="article">
                        <a class="article-link" href="#">
                            <time class="article-item-date" datetime="2016-06-18"><%= articles[i].date %></time>
                            <h2 class="article-item-title"><%= articles[i].title %></h2>
                            <p class="article-item-description"><%= articles[i].description %></p>
                        </a>
                    </article>
                </li>
                <% } %>

            </ul>
        </div>
    </div>
</section>
