<section id="js-service" class="section section-service">
    <div class="section-heading section-heading-service-mb section-heading-service-mt">
        <h1>- Service -</h1>
    </div>
    <div class="section-content">
        <div class="service service-pb">
            <div class="l-container u-clear">
                <figure class="service-image">
                    <img src="./images/service_graph.png" width="438" height="412" alt="graph">
                </figure>
                <div class="service-text service-text-pt">
                    <h2 class="service-text-heading service-text-heading-pb">2016 our results</h2>
                    <p class="service-text-description">sample text sample text sample text sample text<br>
                    sample text sample text sample text sample<br>
                    sample text sample text sample text<br>
                    </p>
                    <br>
                    <p class="service-text-description service-text-description-pt">sample text sample text sample text<br>
                    sample text sample text sample text sample text</p>
                </div>
            </div>
        </div>
    </div>
</section>
