    <!-- start footer-->
    <footer class="l-footer">
        <div class="l-container">
            <div class="l-grid l-grid-col2">
                <div class="l-grid-inner">
                    <div class="l-grid-item">
                        <div class="l-footer-module">
                              <small class="l-footer-text">
                                  ©2016 Sample
                              </small>
                        </div>
                    </div>
                    <div class="l-grid-item">
                        <div class="l-footer-module">
                            <ul class="l-footer-icon">
                              <li class="l-footer-icon-list"> <a href="https://facebook.com" target="_blank"> <span class="icon-facebook"> </span> </a> </li>
                              <li class="l-footer-icon-list"> <a href="https://twitter.com" target="_blank"> <span class="icon-twitter"> </span> </a> </li>
                              <li class="l-footer-icon-list"> <a href="https://plus.google.com/" target="_blank"> <span class="icon-google"> </span> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer-->
