<!--start header-->
<% include ../const/_data %>
<header class="l-header l-header-mb" id="js-navbar">
    <div class="l-container u-clear">

        <div class="l-header-left">
            <div class="nav-logo">
                <%- include('module/_logo', { tag: 'a', link: '#', mf: '', alt: 'Logo'}) %>
            </div>
        </div>


        <div class="l-header-right">
            <nav class="nav">
                <div class="nav-inner l-grid">
                    <ul class="nav-list l-grid-inner">
                        <% for(var iNav=0; iNav< navArray.length; iNav++) { %>
                        <li class="nav-item l-grid-item">
                            <a class="js-scroll nav-link" href="<%= navArray[iNav].link %>" id="<%= navArray[iNav].id %>">
                                <%= navArray[iNav].name %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--end header-->
