/*
iconfont

iconfont is web font icons by icomoon.
icomoon is the web app that you can create high quality icons as web fonts.
https://icomoon.io/
*/

@font-face {
    font-family: 'icomoon';
    src:    url(#{$path-font}icomoon.eot?nmicjh);
    src:    url(#{$path-font}icomoon.eot?nmicjh#iefix) format('embedded-opentype'),
        url(#{$path-font}icomoon.ttf?nmicjh) format('truetype'),
        url(#{$path-font}icomoon.woff?nmicjh) format('woff'),
        url(#{$path-font}icomoon.svg?nmicjh#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
}
.icon-googleplus:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}


/*
.icon-home:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-search:before {
    content: "\e986";
}*/


