<% include ./const/_sample %>

<%
var id = "main";
var title = "";
var description = "hello world";
var keywords = "word1,word2,word3";
var type = "blog";
%>

<% include metadata/_head %>



<main class="l-page" id="js-hero">

    <% include layout/_l-header %>

    <!-- Hero Section -->
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__header">
                Hello world
            </h1>
            <p class="hero__description">
                -  description  text  -
            </p>
            <a class="js-scroll" href="#js-sec-copy">
                <div class="hero__button">
                    <div class="hero__button__down"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- Copy Section -->
    <section class="copy" id="js-sec-copy">
        <div class="copy__inner">
            <h2 class="copy__header">
                Catch copy text catch copy !! <br>
                Catch copy text!
            </h2>
            <p class="copy__content">
                sample text sample text sample text  <br>
                sample text sample text sample <br>
                text sample text sample sample text <br>
                sample text sample text <br>
            </p>
            <p class="copy__content">
                sample text sample text sample text <br>
                sample text sample text <br>
                sample text sample text
            </p>
            <div class="copy__cellphone">
                <img class="copy__cellphone__image" src="./images/cp1.png" alt="">
                <img class="copy__cellphone__image" src="./images/cp2.png" alt="">
                <img class="copy__cellphone__image" src="./images/cp3.png" alt="">
            </div>
        </div>
    </section>


    <!-- Feature Section -->
    <section class="feature" id="js-sec-feature">
        <div class="feature__inner">
            <h2 class="feature__header">
                - Feature -
            </h2>
              <ul>
                  <li class="feature__image">
                      <% for (var iFeatures = 0; iFeatures < featuresArray.length; iFeatures ++) { %>
                          <article>
                              <img class="feature__image__list" src="<%- featuresArray[iFeatures].img.src%>" alt="">
                              <h3 class="feature__title"> <%- featuresArray[iFeatures].heading%> </h3>
                              <p class="feature__description"> <%- featuresArray[iFeatures].description%> </p>
                          </article>
                      <% } %>
                  </li>
              </ul>
        </div>
        <div class="feature__button__left">
            <div class="feature__button__left__prev"></div>
        </div>
        <div class="feature__button__right">
            <div class="feature__button__right__next"></div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="services" id="js-sec-service">
        <div class="services__inner">
            <h2 class="services__title">
                - Service -
            </h2>
            <figure>
                <img class="services__graph" src="./images/services.png" alt="35% Okay 50% Fun 15% Terrible">
            </figure>
            <h3 class="services__header">
                2016 our results
            </h3>
            <p class="services__description">
                sample text sample text sample text <br>
                sample text sample text sample text <br>
                sample text sample <br>
                sample text sample text sample text <br>
            </p>
            <p class="services__description">
                sample text sample text sample <br>
                text sample text sample text sample <br>
                text sample text <br>
            </p>
        </div>
    </section>


    <!-- News Section -->
    <section class="news" id="js-sec-news">
        <div class="news__inner">
            <h2 class="news__header">
                - News -
            </h2>
            <ul class="news__list">
                <% for (var iNews = 0; iNews < newsArray.length; iNews ++) { %>
                <li class="news-body">
                    <article class="news__article">
                        <a class="news__link u-clear" href="#">
                            <time class="news__date" datetime="<%- newsArray[iNews].datetime%>"><%- newsArray[iNews].date%></time>
                            <h3 class="news__title"><%- newsArray[iNews].title %></h3>
                            <p class="news__description"> <%- newsArray[iNews].description %> </p>
                        </a>
                        <hr class="news__border">
                    </article>
                </li>
                <% } %>
            </ul>
        </div>
    </section>

    <!-- Brand  -->
    <aside class="brand">
        <ul class="brand__list">
            <li class="brand__item">
                <img src="./images/ibm.png" alt="">
            </li>
            <li class="brand__item">
                <img src="./images/microsoft.png" alt="">
            </li>
            <li class="brand__item">
                <img src="./images/twitter.png" alt="">
            </li>
            <li class="brand__item">
                <img src="./images/fb.png" alt="">
            </li>
        </ul>
    </aside>

    <!-- Contact Form Section -->
    <section class="contact">
        <div class="contact__inner">
            <h2 class="contact__title">
                - Mail -
            </h2>
            <form class="contact__form" action="index.html">
                <input class="contact__form__input" type="text" placeholder="Name">
                <input class="contact__form__input" type="email" placeholder="E-mail">
                <select class="contact__form__select">
                    <option disabled selected>Please select your topic</option>
                    <option value="option1"> Topic 1 </option>
                    <option value="option2"> Topic 2 </option>
                </select>
                <textarea class="contact__form__textarea" placeholder="Comments"></textarea>
                <input class="contact__form__submit" type="submit">
            </form>
        </div>
    </section>

</main>


<% include layout/_l-footer %>
<% include metadata/_script %>
