.alliance {

  //child-module
  &-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    flex: 0 1 auto;
    &:nth-child(2) {
      margin: 0 3px 0 12px;
    }
  }
}