.button {

  //modifier
  &-submit {
    margin-top: 24px;
    padding: 17px 0;
    width: 100%;
    transform: translate(2px, 2px);
    border: 1px solid $color-black;
    background: $color-black;
    transition: .2s ease;
    &:hover {
      transform: translate(0);
      opacity: .98;
      box-shadow: 3px 3px 0 $color-gray;
    }
    > span {
      font-size: 20px;
      font-family: $font-sub;
      letter-spacing: .08em;
      color: $color-white;
    }
  }
}