.catch {
    background-color: $color-gray;

    //child-module
    &-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        min-height: 660px;
        //child-module
        &-text {
            //margin: auto 0;
            flex: 0 0 620px;
            margin-top: 138px;
            color: $color-white;
            > h2 {
                display: inline-block;
                margin-bottom: 40px;
                font-family: $font-sub;
                font-size: 40px;
                line-height: 1.5;
                letter-spacing: .09em;
            }
            > p {
                display: inline-block;
                margin-top: 30px;
                max-width: 560px;
                line-height: 1.5;
                letter-spacing: .13em;
            }
        }
    }
    &-image {
        //child-module
        &-item {
            position: absolute;
            top: -20px;
            right: -8px;
            &:nth-child(2) {
                top: 280px;
                right: -62px;
            }
            &:nth-child(3) {
                top: 200px;
                right: 145px;
            }
        }
    }
}