.feature {
    background-color: $color-lightgray;

    //child-module
    &-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 -6.7%;
        margin-top: 33px;
        //child-module
        &-item {
            flex: 0 0 33.3333%;
            text-align: center;
            margin-top: 20px;
            > span,
            > dl {
                display: inline-block;
                opacity: 0;
                transform: translateY(10px);
                transition: .3s ease-out;
            }
            > dl {
                transition-delay: .2s;
            }
            dd {
                padding: 18px 35px 0;
                line-height: 1.5;
                letter-spacing: .12em;
            }
            &.is-active {
                > span,
                > dl {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}