.form {
  margin: 7px 0 5px;

  //child-module
  &-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  &-col {
    flex: 0 0 50%;
    > p {
      margin-left: -2px;
      margin-bottom: 31px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    input {
      padding: 16px 20px;
      width: 84%;
      font-size: 20px;
      border: 2px solid $color-darkgray;
      letter-spacing: .08em;
    }
    textarea {
      padding: 16px 20px;
      width: 92%;
      height: 115px;
      font-size: 20px;
      border: 2px solid $color-darkgray;
      letter-spacing: .08em;
    }
  }
  &-select {
    position: relative;
    display: inline-block;
    width: 91.3%;
    height: 57px;
    border: 2px solid $color-darkgray;
    overflow: hidden;
    background: #fff;
    &:after {
      content: '';
      position: absolute;
      margin-top: -4px;
      top: 50%;
      right: 22px;
      border: 8px solid transparent;
      border-top: 8px solid $color-darkgray;
    }
    > select {
      padding: 0 18px;
      width: 100%;
      height: 100%;
      font-size: 20px;
      letter-spacing: .12em;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;
      cursor: pointer;
    }
  }
}