.header {

    //child-module
    &-logo {
        position: absolute;
        height: 30px;
        margin-top: -13px;
        top: 50%;
        transition: .3s ease;
        &:hover {
            opacity: .75;
        }
    }
    &-menu {
        font-size: 0;
        text-align: right;

        //child-module
        &-item {
            display: inline-block;
            padding-left: 37px;
            > a {
                display: block;
                padding: 40px 0 35px;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: .08em;
                transition: .3s ease;
                &:hover {
                    color: $color-darkgray;
                }
                &.is-current {
                    cursor: default;
                    color: $color-darkgray;
                }
            }
            &:nth-child(2) {
                padding-left: 45px;
            }
        }
    }
}