.heading {
    font-family: $font-sub;
    letter-spacing: .07em;

    //modifier
    &-lv2 {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: .07em;
    }
    &-lv3 {
        margin-top: 24px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: .1em;
        &-service {
            margin: 73px 0 48px;
        }
    }
}