.info {
  padding-bottom: 12px;
  background-color: $color-lightgray;

  //child-module
  &-content {
    margin-top: 53px;

    //child-module
    &-box {
      margin-top: 20px;
    }
    &-item {
      margin-left: -2px;
      border-bottom: 2px solid $color-darkgray;
      &:hover {
        .info-content-title:after {
          width: 100%;
        }
        .info-content-text {
          opacity: .6;
        }
      }
      > dd {
        padding: 13px 0 16px;
      }
    }
    &-date {
      letter-spacing: .1em;
    }
    &-title,
    &-text {
      display: inline-block;
    }
    &-title {
      position: relative;
      margin-top: 0;
      margin-right: 28px;
      width: 16%;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: -5%;
        background: $color-black;
        transition: .23s ease-out;
      }
    }
    &-text {
      position: relative;
      width: 78%;
      top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: .125em;
      transition: .3s ease;
    }
  }
}