.service {

    //child-module
    &-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
        //child-module
        &-image {
            position: relative;
            top: -5px;
            left: -12px;
            margin-right: auto;
        }
        &-text {
            flex-basis: 548px;
            text-align: right;
            > p {
                margin-top: 30px;
                line-height: 1.5;
                letter-spacing: .125em;
            }
        }
    }
}