.sns {
  position: relative;
  top: 3px;
  right: 16.3%;

  //child-module
  &-item {
    display: inline-block;
    margin-left: 4px;
    .icon {
      font-size: 30px;
      color: $color-white;
      transition: .3s ease;

      //modifier
      &-facebook {
        &:hover {
          color: #315096;
        }
      }
      &-twitter {
        &:hover {
          color: #55acee;
        }
      }
      &-google {
        &:hover {
          color: #db4b39;
        }
      }
    }
  }
}