.visual {

  //child-module
  &-title {
    width: 100%;
    position: absolute;
    margin-top: -0.6%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-align: center;
    font-family: $font-sub;
    font-size: 11.8vw;
    font-weight: 400;
    letter-spacing: .047em;
  }
  &-subtitle {
    display: block;
    margin-top: 0.7%;
    font-size: 4.5vw;
    font-weight: 200;
    letter-spacing: .043em;
  }
}