<div class="alliance">
    <ul class="alliance-content">
        <% var dataImg = ['ibm', 'microsoft', 'twitter', 'facebook'] %>
        <% var dataWidth = ['151', '260', '249', '215'] %>
        <% var dataHeight = ['56', '55', '47', '43'] %>
        <% for(var i = 0; i < 4; i++) { %>
        <li class="alliance-item">
            <img src="./images/alliance/alliance_<%= dataImg[i] %>.png" alt="alliance" width="<%= dataWidth[i] %>" height="<%= dataHeight[i] %>">
        </li>
        <% } %>
    </ul>
</div>