<h2 class="heading heading-lv2">- News -</h2>
<div class="info-content">
    <% for(var i = 0; i < 3; i++) { %>
    <article class="info-content-box">
        <a href="#">
            <dl class="info-content-item">
                <dt>
                    <time class="info-content-date" datetime="2016-10-01">10.01</time>
                </dt>
                <dd>
                    <h3 class="heading-lv3 info-content-title">News title</h3>
                    <p class="info-content-text">sample text sample text sample text sample text sample text sample text sample text sample text sample text</p>
                </dd>
            </dl>
        </a>
    </article>
    <% } %>
</div>