
.arrow {
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: auto;
    height: 35px;
    width: 35px;
    cursor: pointer;

    &__ring {
        position: relative;
        border-radius: 100%;
        height: 35px;
        width: 35px;

        //MODIFIER
        &--hero {
            border: 2px solid #fff;
        }
        &--slick {
            border: 2px solid #666;
        }

        > .pointer {
            text-align: center;

            &--top{
                position: absolute;
                top: 12px;
                right: -11px;
                border-style: solid;
                border-width: 5px;
                border-color: transparent transparent #666 transparent;
            }
            &--bottom {
                position: absolute;
                top: 14px;
                right: 11px;
                border-style: solid;
                border-width: 5px;
                border-color: #fff transparent transparent transparent;
            }
            &--left{
                position: absolute;
                top: 11px;
                left: 7px;
                border-style: solid;
                border-width: 5px;
                border-color: transparent #666 transparent transparent;
            }
            &--right{
                position: absolute;
                top: 11px;
                left: 14px;
                border-style: solid;
                border-width: 5px;
                border-color: transparent transparent transparent #666;
            }
        }
    }

    //MODIFIER
    &.arrow--hero {
        text-align: center;
        margin: auto;
        width: 100%;
        background: red;
        position: absolute;
        bottom: 81px;
    }

    //STATE
    &.is-disabled {
        cursor: default;

        .arrow__ring {
            border-color: $color-disabled-arrow;
            > .pointer {

                &--top{
                    border-color: transparent transparent $color-disabled-arrow transparent;
                }
                &--bottom{
                    border-color: $color-disabled-arrow transparent transparent transparent;
                }
                &--bottom-hero{
                    border-color: $color-disabled-arrow transparent transparent transparent;
                }
                &--left{
                    border-color: transparent $color-disabled-arrow transparent transparent;
                }
                &--right{
                    border-color: transparent transparent transparent $color-disabled-arrow;
                }
            }
        }
    }

    //MODIFIER
    &--slick-prev {
        position: absolute;
        top: 60px;
        left: 8px;
        z-index: 999;
    }
    &--slick-next {
        position: absolute;
        top: 60px;
        right: 9px;
        z-index: 999;
    }
}
