.article {
    text-align: left;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;

    &__link {
        display: block;
        color: $color-default-black;

    }

}
