/*
#overview
banner
*/

/*
#styleguide
banner
```
<a class="banner" href="">
    <img src="http://placekitten.com/300/250" height="250" width="300" alt="">
</a>

*/
.banner {
    height: 75px;
    width: 100%;
    overflow-x: hidden;

    &__inner {
        margin: 0 -2% 0 -5%;

        > .banner-item {
            //MODIFIER
            &--ibm {
                width: 42px;
                height: 16px;
                padding-top: 22px;
            }
            &--microsoft {
                width: 72px;
                height: 15px;
                padding-top: 22px;
            }
            &--twitter {
                width: 78px;
                height: 13px;
                padding-top: 20px;
            }
            &--facebook {
                width: 59px;
                height: 11px;
                padding-top: 18px;
            }
        }
    }
}
