.contact-form {
    width: 100%;
    display: block;

    &__item {
        width: 100%;
        padding: 0 3px;

        > .input {
            width: 100%;
            height: 30px;
            display: block;
            border: 1px solid #cccccc;
            font-family: $font-en;
            color:  #000000;
            font-size: 10px;
            font-weight: 300;
            text-align: left;
            background-color:  #ffffff ;
            padding-left: 10px;
            padding-right: 10px;
            appearance: none;
            border-radius: 0;

            &--mb {
                margin-bottom: 10px;
            }
        }
        > .input::placeholder {
            font-family: $font-en;
            font-size: 10px;
            color: #ddd;
            font-weight: 300;
            letter-spacing: 0.1em;
        }
        > .select,
        > .textarea,
        > .submit {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        > .select {
            position: relative;
            height: 30px;
            border: 1px solid #cccccc;
            background-color:  #fff;

            .select__tag {
                width: 100%;
                top: 0;
                left: 0;
                z-index: 9;
                position: absolute;
                max-height: 30px;
                font-family: $font-en;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 0.1em;
                text-align: left;
                padding: 8px 10px 9px 8px;
                outline: none;
                appearance:none;
            }
            .select__tag::-ms-expand {
                display: none;
            }

            //MODIFIER
            &:before {
                cursor: pointer;
                content: " ";
                position: absolute;
                top: 6px;
                right: 10px;
                border-style: solid;
                margin-top: 6px;
                border-width: 4px;
                border-color: #ccc transparent transparent transparent;

            }
            &:hover::before {
                border-color: darken(#ccc, 50%) transparent transparent transparent;
            }
        }
        > .textarea {
            width: 100%;
            height: 75px;
            border: 1px solid #cccccc;
            font-family: $font-en;
            color:  #000000;
            font-size: 10px;
            font-weight: 300;
            text-align: left;
            background-color:  #ffffff ;
            resize: none;
            padding: 8px 10px 0 11px;
            appearance: none;
            border-radius: 0;

            //MODIFIER
            &::placeholder {
                font-family: $font-en;
                color: #dddddd;
                font-weight: 500;
                letter-spacing: 0.1em;
            }
        }
        > .submit {
            width: 100%;
            height: 30px;
            font-family: $font-en;
            color:  #fff;
            font-size: 10px;
            font-weight: 300;
            background: $color-default-black;
            letter-spacing: 0.08em;
            padding-left: 3px;

            box-shadow: 2px 2px 0 #c5c5c5;
            transition-property: box-shadow, transform;
            transition-duration: $duration;
            transition-timing-function: $easing;

            &:hover {
                text-decoration: none;
                transform: translate3d(0, 2px, 0);
                box-shadow: 0 0 0 #c5c5c5;
            }
        }
    }
}
