.concept {

    &__left-content {
        position: relative;
        float: right;
        display: block;
        width: 100%;
        z-index: 99;

        > .heading {
            width: 100%;
            font-family: $font-lato;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.09em;
            line-height: 148%;
            text-align: center;
            color: #fff;

            &--pt {
                padding-top: 54px;
            }
            &--pb {
                padding-bottom: 28px;
            }
        }

        > .description {
            font-family: $font-en;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 0.1em;
            line-height: 152%;
            text-align: center;
            color: #fff;
            padding: 0;

            &--pb {
                padding-bottom: 58px;
            }
        }

        //MODIFIER
        &--pt {
            padding-top: 150px;
        }
    }

    &__right-content {
        position: relative;
        width: 320px;
        margin: auto;
        text-align: center;

        > .phone {

            &--1 {
                width: 148px;
                height: 214px;
                position: absolute;
                top: 100px;
                left: 28px;
            }
            &--2 {
                position: absolute;
                width: 147px;
                height: 229px;
                top: 148px;
                left: 131px;
            }
            &--3 {
                position: absolute;
                width: 148px;
                height: 241px;
                top: 6px;
                left: 115px;
            }
        }
    }
}
