/*
l-footer
*/

.footer {
    background-color: $color-default;
    color: #fff;
    text-align: left;
    font-weight: 400;
    height: 27px;
    padding: 0 15px;

    &__left {
        float: left;
        color: #fff;
        font-family: Helvetica;
        font-size: 7px;
        font-weight: 400;
        line-height: 100%;

        &--pt {
            padding-top: 5px;
        }
        &--ml {
            padding-left: 5px;
        }

    }

    &__right {
        float: right;

        &--pb {
            padding-bottom: 4px;
        }
        &--mr {
            padding-right: 5px;
        }
    }


    //MODIFIER
    &--pd {
        padding: 5px 0 5px 0;
    }
    &--mt {
        margin-top: 20px;
    }
    &--mt-sm {
        margin-top: 15px;
    }
    &--mt-lg {
        margin-top: 35px;
    }
}
