
/*
header
*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: none;
    //transition: opacity 0.25s ease-in-out;
    transform: translate3d(0,0,0);

    &__left {
        float: left;
        margin-top: 11px;
        margin-left: 10px;
    }
    &__right {
        width: 100%;
        float: right;
        text-align: center;
    }

    //STATE
    &.is-expanded {
        height: 100%;
        //transition: opacity 0.25s ease-in-out;
        transform: translate3d(0,0,0);
        //background: rgba(0,0,0, 0.6);
        background-color: #000;
        opacity: 0.6;
    }
}
