.hero {
    width: 100%;
    text-align: center;
    height: auto;
    background: url(../images/hero.jpg) no-repeat 80% center;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;

    .hero__inner {
        display: block;
        width: 100%;
        padding: 0;
        margin: auto;

        >.heading,
        >.subheading {
            display: block;
            font-family: $font-lato;
            width: 100%;
            color: #fff;
            line-height: 100%;
        }
        >.heading {
            text-align: center;
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 0.06em;
            margin: 0;
            padding-bottom: 15px;
        }
        >.subheading {
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }
    .hero__arrow {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 40px;
    }

}
