.item {

    .item__inner {
        width: 100%;
        display: block;
        text-align: center;

        > .image {
            width: 141px;
            height: 155px;
            margin: auto;
        }

        > .heading {
            font-family: $font-en;
            color:  $color-default-black;
            font-size: 20px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0.085em;
            text-align: center;

            &--pt {
                padding-top: 18px;
            }
            &--pb {
                padding-bottom: 10px;
            }
            &--ml {
                margin-left: 6px;
            }
        }

        > .description {
            text-align: center !important;
            font-family: $font-en;
            color:  $color-default-black;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 0.1em;
            line-height: 150%;
        }
    }

    &.is-visible {
        opacity: 1;
        transition: opacity 0.5s ease-in-out 0.25s;
    }
    &.is-invisible {
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.25s;
    }

}
