.link-item {
    padding-bottom: 6px;

    //MODIFIER
    &:hover {
        .link-item__left {
            > .date {
                text-decoration: none;
            }
            > .title {
                text-decoration: underline;
            }
        }
    }

    &__left {
        float: left;
        padding-top: 4px;

        > .date {
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 0.05em;
        }
        > .title {
            font-family: $font-en;
            color: $color-default-black;
            font-size: 15px;
            font-weight: 800;
            letter-spacing: 0.1em;
            margin-top: -5px;
        }
    }
    &__right {
        display: block;
        padding-top: 16px;
        margin-left: 93px;
        letter-spacing: 0.065em;

        > .description {
            font-size: 10px;
            margin: 0;
            line-height: 150%;
        }
    }
}
