/*
#overview
logo
*/

/*
#styleguide
logo
```
<a class="logo" href="./">
    <img src="../../pc/images/logo.png" width="253" height="52" alt="LIG inc."/>
</a>
```
*/

.logo {
    display: block;
    width: 74px;
    height: 20px;
}
