.nav-list {
    position: absolute;
    width: 100%;

    &__item {

        > .link {
            font-family: $font-en;
            font-size: 20px;
            font-weight: 400;
            line-height: 270%;
            letter-spacing: 0.1em;
            color: #fff;
            transition: all 0.25s ease-in-out;

        }
    }
}
