.nav {
    display: none;
    position: relative;
    background: red;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    .nav__inner{}

    //STATE
    &.is-visible {
        display: block;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
    }
}
