.section {
    padding-bottom: 60px;
    position: relative;

    &__overlay {
        position: absolute;
        background: $color-default-black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    &__heading {
        font-family: $font-lato;
        color:  $color-default-black;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        line-height: 80px;
        letter-spacing: 0.085em;
        padding-top: 31px;
        padding-bottom: 11px;

        //MODIFIER
        &--service-mb {
            margin-bottom: -8px;
        }
        &--feature-pb {
            padding-bottom: 24px;
        }
        &--news-pb {
            padding-bottom: 16px;
        }
    }

    &__content {

        > .inner {

        }

    }

    //MODIFIER
    &--concept {
        background: rgba(151,145,142,1);
        background: linear-gradient(to bottom, rgba(151,145,142,1) 0%, rgba(195,187,184,1) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97918e', endColorstr='#c3bbb8', GradientType=1 );
        padding-bottom: 0;
        //margin: 0 -15px;
    }
    &--concept-pb {
        padding-bottom: 0;
    }
    &--feature {
        background: $color-default-grey;
        text-align: center;
        position: relative;
        padding-bottom: 55px;
    }
    &--contact {
        padding-top: 0;
        padding-bottom: 50px;
        background: $color-default-grey;
        text-align: center;
    }
    &--news {
        background: $color-default-grey;
        text-align: center;
        padding-bottom: 35px;
    }

    &--pt {
        padding-top: 30px;
    }
}
