.service {
    width: 100%;
    display: block;

    &__image {
        display: block;
        margin: auto;
        text-align: right;
        width: 235px;
        height: 206px;

        > img {
            width: 235px;
            height: 222px;
        }
    }
    &__content {
        width: 100%;

        > .heading,
        > .description {
            font-family: $font-en;
            color:  $color-default-black;
            text-align: center;
        }

        > .heading {
            font-size: 15px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0.11em;

            &--pt {
                padding-top: 24px;
            }
            &--mb {
                margin-bottom: -4px;
            }
            &--pl {
                padding-left: 8px;
            }
        }

        > .description {
            width: 100%;
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            letter-spacing: 0.07em;
            //margin: 0 7px 0 1px;

            //MODIFIER
            &--mt {
                margin-top: 16px;
            }
        }
    }

    //MODIFIER
    &--pb {
        padding-bottom: 0;
    }
    &--mb {
        margin-bottom: -8px;
    }
}
