/*
#overview
social
*/

/*
#styleguide
social
```
<div class="social l-grid l-grid-col2">
    <ul class="l-grid-inner">
        <li class="l-grid-item">
            <a href="">
                <i class="sprite-sns-2x sprite-sns-facebook"></i>
            </a>
        </li>
        <li class="l-grid-item">
            <a href="">
                <i class="sprite-sns-2x sprite-sns-twitter"></i>
            </a>
        </li>
        <li class="l-grid-item">
            <a href="">
                <i class="sprite-sns-2x sprite-sns-instagram"></i>
            </a>
        </li>
    </ul>
</div>



```
*/

.social {
    text-align: left;
    margin-top: -3px;
    padding: 0;

    &__item {
        color: #fff;
        display: inline-block;
        margin: 0;
        text-decoration: none;

        > .facebook {
            font-size: 15px;
        }
        > .twitter {
            font-size: 12px;

            &--pl {
                padding-left: 9px;
            }
        }
        > .google-plus {
            font-size: 15px;

            &--pl {
                padding-left: 8px;
            }
        }

        &:hover {
            text-decoration: none;
            > .facebook {
                color: #305097;
            }
            > .twitter {
                color: #00aced;
            }
            > .google-plus {
                color: #e74c3c;
            }
        }
    }

    //MODIFIER
    &--footer {
        color: #fff;
    }

    &--footer-pr {
        padding-right: 3px;
    }

}
