#js-temp {
    background: fade_out(black, 0.5);
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    padding: 5px;
    z-index: 10;

    #js-temp-h {

    }

    #js-temp-w {

    }
}
#js-log {
    background: fade_out(black, 0.5);
    position: fixed;
    top: 100px;
    right: 15px;
    color: #fff;
    padding: 5px;
    z-index: 10;

    #js-lob-h {

    }

    #js-lob-w {

    }
}
