.transformicon {
    display: block;
    position: absolute;
    top: 23px;
    right: 15px;
    width: 23px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    margin: auto;
    transition: all 0.5s ease;
    cursor: pointer;

    &::before, &::after {
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        content: "";
        width: 23px;
        height: 3px;
        border-radius: 3px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &::before {
        top: -8px;
        transition: all 0.3s ease;
        }
        &::after {
        top: 8px;
        transition: all 0.3s ease;
    }

    &.is-active {
        cursor: pointer;
        background: transparent;
        transition: all 0.1s ease;

        &::before {
            transform: translateY(8px) rotate(45deg);
            transition: all .3s ease;
        }
        &::after {
            transform: translateY(-8px) rotate(-45deg);
            transition: all .3s ease;
        }
    }
}
