<%
var id = "index";
var title = "Hello World";
var description = "Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.";
var keywords = "world, html5, css3, javascript, facebook, twitter";
var type = "blog";
%>


<% include metadata/_head %>
		
	<div id="js-section-top">
			<main class="main">
					<h1 class="main-title">Hello world</h1>
					<p class="main-description">- description text -</p>
					<div class="main-image" id="js-main-container">
							<img id="js-main-image" src="images/header.jpg" width="1080" height="617" alt="header image">
					</div>
			</main>

			
			<header class="l-header" id="js-header">
					<div class="l-container u-clear">
							<div class="l-header-left">
									<a class="logo" href="#">
											<img src="images/logo.png" width="111" height="30" alt="logo image">
									</a>
							</div>
							<div class="l-header-right">
									<nav class="nav">
											<ul>
													<li class="nav-item" id="js-nav-item-top">
														<a class="nav-link js-scroll" href="#js-section-top">Top</a>
													</li>
													<li class="nav-item" id="js-nav-item-feature">
														<a class="nav-link js-scroll" href="#js-section-feature">Feature</a>
													</li>
													<li class="nav-item" id="js-nav-item-service">
														<a class="nav-link js-scroll" href="#js-section-service">Service</a>
													</li>
													<li class="nav-item" id="js-nav-item-news">
														<a class="nav-link js-scroll" href="#js-section-news">News</a>
													</li>
											</ul>
									</nav>
							</div>
					</div>
			</header>
			
			<section class="catch" id="js-section-catch">
					<div class="l-container">
							<h2 class="catch-title" id="js-section-catch-title">Catch copy text catch copy !!<br>Catch copy text!</h2>
							<p class="catch-description" id="js-section-catch-description">
									sample text sample text sample text sample text<br>
									sample text sample text sample text sample<br>
									sample text sample text sample text<br>
									<br>
									sample text sample text sample text<br>
									sample text sample text sample text sample text</p>
							
							<div class="catch-phone-1" id="js-section-catch-phone-1">
									<img src="images/phone_1.png" width="296" height="481" alt="phone 1">
							</div>
							<div class="catch-phone-2" id="js-section-catch-phone-2">
									<img src="images/phone_2.png" width="294" height="458" alt="phone 2">
							</div>
							<div class="catch-phone-3" id="js-section-catch-phone-3">
									<img src="images/phone_3.png" width="271" height="428" alt="phone 3">
							</div>
					</div>
			</section>
	</div>
	

	<section class="section section-feature" id="js-section-feature">
		<div class="l-container">
			<h2 class="section-title">- Feature -</h2>
			
			<div class="feature">

				<div class="l-grid l-grid-col3 feature-grid">
					<div class="l-grid-inner feature-grid-inner">

						<div class="l-grid-item feature-grid-item">

							<article class="feature-article">
								<div class="feature-article-image" id="js-feature-image-html5">
										<img width="171" height="189" src="images/feature_html5.png" alt="HTML5 Logo">
								</div>
								<h3 class="feature-article-title" id="js-feature-title-html5">HTML5</h3>
								<p class="feature-article-description is-hidden" id="js-feature-description-html5">
										sample text sample<br>
										text sample text<br>
										sample text sample text</p>
							</article>

						</div>
						<div class="l-grid-item feature-grid-item">

							<article class="feature-article">
								<div class="feature-article-image is-hidden" id="js-feature-image-css3">
										<img width="171" height="189" src="images/feature_css3.png" alt="CSS3 Logo">
								</div>
								<h3 class="feature-article-title is-hidden" id="js-feature-title-css3">CSS3</h3>
								<p class="feature-article-description is-hidden" id="js-feature-description-css3">
										sample text sample<br>
										text sample text<br>
										sample text sample text</p>
							</article>

						</div>
						<div class="l-grid-item feature-grid-item">

							<article class="feature-article">
								<div class="feature-article-image is-hidden" id="js-feature-image-javascript">
										<img width="171" height="189" src="images/feature_javascript.png" alt="JavaScript Logo">
								</div>
								<h3 class="feature-article-title is-hidden" id="js-feature-title-javascript">JavaScript</h3>
								<p class="feature-article-description is-hidden" id="js-feature-description-javascript">
										sample text sample<br>
										text sample text<br>
										sample text sample text</p>
							</article>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="section section-service" id="js-section-service">
		<div class="l-container">
			<h2 class="section-title">- Service -</h2>
			
			<div class="service">

				<article class="service-article">
					<div class="service-article-left">
						<img width="438" height="412" src="images/service_graph.png" alt="Service Graph">
					</div>
					<div class="service-article-right">
						<h3 class="service-article-title">2016 our results</h3>
						<p class="service-article-description">
								sample text sample text sample text sample text<br>
								sample text sample text sample text sample<br>
								sample text sample text sample text<br>
								<br>
								sample text sample text sample text<br>
								sample text sample text sample text sample text</p>
					</div>
					<div class="u-clear"></div>
				</article>

			</div>
		</div>
	</section>

	
	<section class="section section-news" id="js-section-news">
		<div class="l-container">
			<h2 class="section-title">- News -</h2>

			<div class="news">

				<%
				var articleCount=3;
				var dates=["06.18", "06.17", "06.16"];
				for(var i=0; i < articleCount; i++){%>
					<article class="news-article">
						<a class="news-article-link" href="#">
							<time class="news-article-date" datetime="06-18"><%= dates[i]%></time>

							<div class="u-clear"></div>

							<div class="news-article-left">
								<h3 class="news-article-title">News title</h3>
							</div>
							<div class="news-article-right">
								<p class="news-article-description u-elps">sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text</p>
							</div>
						</a>
					</article>
				<%}%>

			</div>
		</div>
	</section>


	
	<aside class="section section-banners">
		<div class="l-container">

			<div class="banners">

				<div class="l-grid banners-grid">
					<div class="l-grid-inner banners-grid-inner">

						<div class="l-grid-item banners-grid-item">

							<a href="#">
								<img width="151" height="56" src="images/logo_ibm.png" alt="IBM Banner">
							</a>

						</div>
						<div class="l-grid-item banners-grid-item">

							<a href="#">
								<img width="260" height="55" src="images/logo_microsoft.png" alt="Microsoft Banner">
							</a>

						</div>
						<div class="l-grid-item banners-grid-item">

							<a href="#">
								<img width="249" height="47" src="images/logo_twitter.png" alt="Twitter Banner">
							</a>

						</div>
						<div class="l-grid-item banners-grid-item">

							<a href="#">
								<img width="215" height="43" src="images/logo_facebook.png" alt="Facebook Banner">
							</a>

						</div>

					</div>
				</div>

			</div>

		</div>
	</aside>
	
	
	<form class="section section-mail" action="#" method="GET">
		<div class="l-container">

			<div class="mail">

				<div class="mail-left">
					<input class="mail-form" type="text" placeholder="Name">
					<input class="mail-form mail-form-email" type="text" placeholder="E-mail">
				</div>
				<div class="mail-right">
					<textarea class="mail-form mail-form-comments" rows="4" cols="50" placeholder="Comments"></textarea>
				</div>

				<div class="u-clear"></div>

				<div class="mail-left mail-arrow">
					<select class="mail-form mail-form-topic">
							<option value="" disabled selected>Please select your topic</option>
							<option value="item 1">Topic 1</option>
							<option value="item 2">Topic 2</option>
					</select>
				</div>
				<div class="mail-right">
					<button class="button mail-form mail-form-submit" type="submit">Submit</button>
				</div>

				<div class="u-clear"></div>

			</div>
		</div>
	</form>

	
	<footer class="l-footer u-clear">
		<div class="l-container">
			<div class="l-footer-left">
					<small class="l-footer-copyright">©2016 Sample</small>
			</div>
			<div class="l-footer-right">
					<a class="icon-facebook l-footer-icons l-footer-icons-facebook" href="https://www.facebook.com/facebook"></a>
					<a class="icon-twitter l-footer-icons l-footer-icons-twitter" href="https://twitter.com/twitter"></a>
					<a class="icon-googleplus l-footer-icons l-footer-icons-googleplus" href="https://plus.google.com/+googleplus/posts"></a>
			</div>
		</div>
	</footer>

<% include metadata/_script %>