<svg class="svg svg-logo" id="logo" x="0px" y="0px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
         width="208.401px" height="48.71px" viewBox="0 0 208.401 48.71" enable-background="new 0 0 208.401 48.71" xml:space="preserve">
    <% if(logo !== "english"){ %>
    <g>
        <path fill="#FFFFFF" d="M81.199,8.871c0-0.116,0.215-0.182,0.414-0.215c0.496-0.066,0.811-0.197,1.373-0.479
            c0.893-0.413,1.538-0.877,2.232-1.521c0.894-0.81,1.39-1.504,1.869-2.332c0.116-0.198,0.231-0.479,0.066-0.611
            c-0.199-0.166-0.38-0.248-0.596-0.332c-0.182-0.083-0.298-0.198-0.281-0.314c0.017-0.115,0.132-0.182,0.431-0.182
            c0.297,0,0.545,0.034,1.008,0.232c0.479,0.199,1.042,0.859,0.579,1.637c-0.463,0.793-1.489,1.77-2.646,2.579
            c-0.843,0.579-1.223,0.794-2.067,1.142c-0.662,0.281-1.174,0.43-1.852,0.513C81.397,9.037,81.199,8.971,81.199,8.871 M94.18,6.093
            c0.396,0.612,0.447,1.273-0.017,1.489c-0.462,0.197-0.958-0.117-1.157-0.629c-0.215-0.579-0.447-0.992-0.794-1.621
            c-0.363-0.645-0.661-1.008-1.206-1.471c-0.249-0.182-0.414-0.348-0.298-0.447c0.116-0.132,0.331-0.033,0.611,0.1
            c0.529,0.232,0.993,0.562,1.571,1.058C93.469,5.052,93.783,5.448,94.18,6.093 M93.254,2.521c-0.347,0.167-0.678,0.083-0.744-0.065
            c-0.083-0.149-0.017-0.364,0.23-0.447c0.231-0.083,0.398-0.281,0.398-0.53c0-0.496-0.364-0.693-0.761-0.595
            c-0.447,0.083-0.513,0.595-0.315,1.042c0.1,0.182,0.148,0.381,0.017,0.447c-0.131,0.083-0.314-0.066-0.463-0.397
            c-0.512-1.075,0.265-1.885,1.108-1.835c0.927,0.065,1.455,0.678,1.191,1.653C93.833,2.125,93.634,2.356,93.254,2.521"/>
        <path fill="#FFFFFF" d="M108.298,6.242c-0.099,0.463-0.215,1.257-0.265,1.752c0,0.116,0.184,0.198,0.414,0.347
            c0.397,0.248,0.429,0.563,0.249,0.761c-0.166,0.181-0.679,0.066-0.877-0.034c-0.216-0.081-0.563-0.164-0.976-0.164
            c-0.479-0.016-1.686,0.066-2.266,0.083c-0.595,0.015-1.571,0.033-1.967,0.081c-0.414,0.034-0.728,0.083-1.027,0.017
            c-0.297-0.064-0.594-0.23-0.909-0.479s-0.364-0.579-0.231-0.71c0.148-0.151,0.347-0.117,0.463-0.035
            c0.116,0.066,0.264,0.183,0.563,0.249c0.297,0.066,1.355,0.099,2.529,0.099c1.175,0,2.813-0.066,2.993-0.066
            c0.197-0.017,0.283-0.083,0.313-0.265c0.117-0.563,0.184-1.042,0.282-1.703c0.1-0.645,0.199-1.456,0.231-1.819
            c0.017-0.348-0.248-0.464-0.463-0.464c-0.231,0.017-0.827,0.05-1.405,0.083c-0.563,0.017-1.638,0.132-2.349,0.182
            c-0.695,0.033-1.703,0.099-2.183,0.116c-0.496,0-0.81-0.248-1.009-0.562c-0.215-0.298-0.281-0.629-0.116-0.744
            c0.183-0.149,0.397-0.034,0.563,0.082c0.182,0.115,0.348,0.215,0.644,0.281c0.397,0.083,1.34,0.066,2.348,0.049
            c1.026-0.016,2.217-0.082,2.679-0.132c0.481-0.066,0.925-0.199,1.19-0.331c0.298-0.148,0.447-0.082,0.63,0.05
            c0.197,0.149,0.461,0.413,0.677,0.744c0.215,0.33,0.101,0.628-0.033,0.793c-0.133,0.166-0.283,0.397-0.414,0.611
            C108.447,5.333,108.398,5.746,108.298,6.242"/>
        <path fill="#FFFFFF" d="M126.486,3.034c0.182,0.182,0.197,0.464,0.114,0.563c-0.1,0.116-0.314,0.183-0.562,0.216
            c-0.165,0.016-0.529,0.115-0.629,0.263c-0.149,0.199-0.596,0.745-1.504,1.605c-0.828,0.793-1.456,1.307-2.166,1.869
            c0.28,0.379,0.445,0.727,0.562,1.091c0.181,0.48,0.232,1.091-0.265,1.257c-0.498,0.165-0.926-0.314-1.074-0.811
            c-0.266-0.843-0.464-1.405-0.662-1.884c-0.198-0.48-0.496-0.876-0.859-1.291c-0.132-0.148-0.232-0.33-0.132-0.413
            c0.114-0.116,0.329,0,0.628,0.248c0.579,0.43,1.025,0.843,1.422,1.29c0.826-0.644,1.538-1.389,2.034-1.934
            c0.527-0.579,0.976-1.29,1.158-1.588c0.181-0.281-0.017-0.479-0.332-0.446c-0.413,0.033-1.686,0.165-2.563,0.249
            c-0.843,0.082-2.114,0.264-2.894,0.413c-0.759,0.165-1.422,0.182-1.901,0.083c-0.479-0.1-0.743-0.348-0.941-0.613
            c-0.184-0.265-0.216-0.579-0.1-0.679c0.214-0.181,0.743,0.149,1.09,0.265c0.332,0.099,1.06,0.149,1.786,0.099
            c0.728-0.049,1.886-0.166,2.712-0.215c0.813-0.066,1.902-0.099,2.398-0.149c0.497-0.065,0.975-0.165,1.19-0.297
            c0.282-0.132,0.513-0.183,0.727,0.033C125.907,2.473,126.304,2.836,126.486,3.034"/>
        <path d="M81.199,8.871c0-0.116,0.215-0.182,0.414-0.215c0.496-0.066,0.811-0.197,1.373-0.479c0.893-0.413,1.538-0.877,2.232-1.521
            c0.894-0.81,1.39-1.504,1.869-2.332c0.116-0.198,0.231-0.479,0.066-0.611c-0.199-0.166-0.38-0.248-0.596-0.332
            c-0.182-0.083-0.298-0.198-0.281-0.314c0.017-0.115,0.132-0.182,0.431-0.182c0.297,0,0.545,0.034,1.008,0.232
            c0.479,0.199,1.042,0.859,0.579,1.637c-0.463,0.793-1.489,1.77-2.646,2.579c-0.843,0.579-1.223,0.794-2.067,1.142
            c-0.662,0.281-1.174,0.43-1.852,0.513C81.397,9.037,81.199,8.971,81.199,8.871z M94.18,6.093c0.396,0.612,0.447,1.273-0.017,1.489
            c-0.462,0.197-0.958-0.117-1.157-0.629c-0.215-0.579-0.447-0.992-0.794-1.621c-0.363-0.645-0.661-1.008-1.206-1.471
            c-0.249-0.182-0.414-0.348-0.298-0.447c0.116-0.132,0.331-0.033,0.611,0.1c0.529,0.232,0.993,0.562,1.571,1.058
            C93.469,5.052,93.783,5.448,94.18,6.093z M93.254,2.521c-0.347,0.167-0.678,0.083-0.744-0.065c-0.083-0.149-0.017-0.364,0.23-0.447
            c0.231-0.083,0.398-0.281,0.398-0.53c0-0.496-0.364-0.693-0.761-0.595c-0.447,0.083-0.513,0.595-0.315,1.042
            c0.1,0.182,0.148,0.381,0.017,0.447c-0.131,0.083-0.314-0.066-0.463-0.397c-0.512-1.075,0.265-1.885,1.108-1.835
            c0.927,0.065,1.455,0.678,1.191,1.653C93.833,2.125,93.634,2.356,93.254,2.521z"/>
        <path d="M108.298,6.242c-0.099,0.463-0.215,1.257-0.265,1.752c0,0.116,0.184,0.198,0.414,0.347
            c0.397,0.248,0.429,0.563,0.249,0.761c-0.166,0.181-0.679,0.066-0.877-0.034c-0.216-0.081-0.563-0.164-0.976-0.164
            c-0.479-0.016-1.686,0.066-2.266,0.083c-0.595,0.015-1.571,0.033-1.967,0.081c-0.414,0.034-0.728,0.083-1.027,0.017
            c-0.297-0.064-0.594-0.23-0.909-0.479s-0.364-0.579-0.231-0.71c0.148-0.151,0.347-0.117,0.463-0.035
            c0.116,0.066,0.264,0.183,0.563,0.249c0.297,0.066,1.355,0.099,2.529,0.099c1.175,0,2.813-0.066,2.993-0.066
            c0.197-0.017,0.283-0.083,0.313-0.265c0.117-0.563,0.184-1.042,0.282-1.703c0.1-0.645,0.199-1.456,0.231-1.819
            c0.017-0.348-0.248-0.464-0.463-0.464c-0.231,0.017-0.827,0.05-1.405,0.083c-0.563,0.017-1.638,0.132-2.349,0.182
            c-0.695,0.033-1.703,0.099-2.183,0.116c-0.496,0-0.81-0.248-1.009-0.562c-0.215-0.298-0.281-0.629-0.116-0.744
            c0.183-0.149,0.397-0.034,0.563,0.082c0.182,0.115,0.348,0.215,0.644,0.281c0.397,0.083,1.34,0.066,2.348,0.049
            c1.026-0.016,2.217-0.082,2.679-0.132c0.481-0.066,0.925-0.199,1.19-0.331c0.298-0.148,0.447-0.082,0.63,0.05
            c0.197,0.149,0.461,0.413,0.677,0.744c0.215,0.33,0.101,0.628-0.033,0.793c-0.133,0.166-0.283,0.397-0.414,0.611
            C108.447,5.333,108.398,5.746,108.298,6.242z"/>
        <path d="M126.486,3.034c0.182,0.182,0.197,0.464,0.114,0.563c-0.1,0.116-0.314,0.183-0.562,0.216
            c-0.165,0.016-0.529,0.115-0.629,0.263c-0.149,0.199-0.596,0.745-1.504,1.605c-0.828,0.793-1.456,1.307-2.166,1.869
            c0.28,0.379,0.445,0.727,0.562,1.091c0.181,0.48,0.232,1.091-0.265,1.257c-0.498,0.165-0.926-0.314-1.074-0.811
            c-0.266-0.843-0.464-1.405-0.662-1.884c-0.198-0.48-0.496-0.876-0.859-1.291c-0.132-0.148-0.232-0.33-0.132-0.413
            c0.114-0.116,0.329,0,0.628,0.248c0.579,0.43,1.025,0.843,1.422,1.29c0.826-0.644,1.538-1.389,2.034-1.934
            c0.527-0.579,0.976-1.29,1.158-1.588c0.181-0.281-0.017-0.479-0.332-0.446c-0.413,0.033-1.686,0.165-2.563,0.249
            c-0.843,0.082-2.114,0.264-2.894,0.413c-0.759,0.165-1.422,0.182-1.901,0.083c-0.479-0.1-0.743-0.348-0.941-0.613
            c-0.184-0.265-0.216-0.579-0.1-0.679c0.214-0.181,0.743,0.149,1.09,0.265c0.332,0.099,1.06,0.149,1.786,0.099
            c0.728-0.049,1.886-0.166,2.712-0.215c0.813-0.066,1.902-0.099,2.398-0.149c0.497-0.065,0.975-0.165,1.19-0.297
            c0.282-0.132,0.513-0.183,0.727,0.033C125.907,2.473,126.304,2.836,126.486,3.034z"/>
        <rect x="81.062" fill="none" width="45.726" height="10.067"/>
    </g>
    <% } %>
    <g>
        <path d="M13.327,29.864c1.232,0.998,2.701,1.351,4.05,1.351c3.875,0,7.691-4.286,7.691-9.394c0-5.282-4.932-8.805-10.568-8.805
            c-6.692,0-10.274,4.344-10.274,7.689c0,0.94,0.47,1.645,1.645,2.291L4.845,26.67c-2.921-0.832-4.492-3.381-4.492-6.199
            c0-6.105,5.812-11.331,14.031-11.331c8.571,0,15.322,4.931,15.322,12.68c0,7.221-6.106,13.445-12.446,13.445
            c-1.76,0-3.111-0.352-4.873-1.174c-0.117,0.469-0.176,0.762-0.352,1.525C9.863,45.362,7.914,48.592,1.291,48.592L0,44.014
            c1.174,0.236,1.526,0.293,2.054,0.293c2.701,0,3.992-2.7,6.047-12.563c1.174-5.636,2.407-10.802,4.462-15.323l4.638,0.118
            c-1.527,3.815-2.583,7.808-3.522,11.858L13.327,29.864z"/>
        <path d="M51.074,32.506c-2.349-2.7-2.995-3.521-4.521-3.521c-3.64,0-7.162,4.99-7.162,10.154c0,3.113,1.233,5.46,2.877,5.46
            c1.643,0,4.637-2.523,7.162-5.985c0.118-0.177,0.235-0.294,0.294-0.353L51.074,32.506z M62.229,42.428
            c-4.411,4.642-7.809,6.164-10.451,6.164c-3.17,0-2.993-3.874-2.935-5.518c-3.698,3.991-5.871,5.459-8.101,5.459
            c-3.466,0-6.4-3.758-6.4-8.219c0-8.632,6.517-14.911,11.742-14.911c2.29,0,4.109,1.173,5.752,3.698l0.998-3.641l4.544,0.853
            l-2.782,11.183c-0.47,1.937-0.94,4.638-0.94,5.343c0,0.703,0.235,1.116,0.646,1.116c1.232,0,3.221-1.361,6.706-5.544L62.229,42.428
            z"/>
        <path d="M91.873,42.428c-4.637,4.404-8.571,6.282-13.327,6.282c-7.456,0-8.454-5.754-8.454-8.337
            c0-7.631,5.988-14.912,12.27-14.912c3.171,0,5.108,1.703,5.108,4.581c0,2.524-1.292,5.106-3.287,6.456l-2.995-2.055
            c1.761-2.467,2.113-2.935,2.113-4.051c0-0.998-0.528-1.467-1.584-1.467c-3.112,0-6.811,6.634-6.811,11.272
            c0,2.934,1.82,4.812,4.521,4.812c3.078,0,6.925-2.014,10.975-6.241L91.873,42.428z"/>
        <path d="M126.881,28.496c-1.862,2.765-3.95,4.63-5.922,5.415c0.035-0.493,0.108-1.328,0.108-1.842c0-2.024-0.794-3.798-2.181-4.862
            c-1.038-0.799-2.3-1.079-3.454-0.771c-1.248,0.334-2.314,1.289-2.854,2.556c-0.628,1.474-0.492,3.157,0.381,4.737
            c1.051,1.904,2.41,2.828,3.829,3.266c-1.674,5.146-5.73,7.899-8.067,7.899c-2.172,0-3.405-1.938-3.405-5.225
            c0-3.522,1.233-6.927,3.171-8.631c0.998-0.914,1.997-1.477,3.33-1.853l-0.662-3.488c-1.562,0.234-2.823,0.715-4.136,1.525
            c-4.11,2.583-6.81,7.808-6.81,13.092c0,5.224,2.758,8.338,7.339,8.338c4.764,0,10.901-4.346,12.824-11.323
            c3.169-0.563,5.139-1.878,7.83-4.975L126.881,28.496z M117.673,33.825c-0.948-0.25-1.475-0.704-1.894-1.464
            c-0.337-0.61-0.597-2.57,0.381-2.87c1.031-0.315,1.597,0.865,1.696,1.88C117.958,32.382,117.849,33.271,117.673,33.825"/>
        <path d="M134.844,48.356c-0.353-2.994-0.47-7.867-0.47-8.395c0-3.053,1.293-8.453,3.521-14.501l4.64,0.822
            c-0.999,2.701-1.466,4.168-2.056,6.459c5.226-5.226,7.867-7.047,10.099-7.047c1.585,0,3.815,1.703,3.522,6.635
            c0.586-0.47,0.938-0.705,1.879-1.468c3.638-2.936,5.751-4.108,7.572-4.108c2.114,0,3.816,2.172,3.816,4.929
            c0,1.177-0.41,2.938-1.351,5.639c-0.94,2.523-1.409,4.52-1.409,5.578c0,0.938,0.353,1.641,0.882,1.641
            c1.616,0,3.831-1.963,7.525-5.531l1.399,3.419c-4.288,4.227-7.634,6.225-10.512,6.225c-3.521,0-4.051-3.994-4.051-5.049
            c0-1.704,0.588-4.171,1.819-7.634c0.646-1.878,0.999-3.287,0.999-3.875c0-0.586-0.353-1.057-0.821-1.057
            c-1.176,0-7.104,5.401-7.634,5.871l-0.879,0.82c-0.235,1.646-0.704,3.993-2.349,10.627h-4.814c1.527-5.81,2.23-8.688,2.818-12.035
            c0.354-1.878,0.529-3.053,0.529-3.816c0-0.996-0.354-1.584-0.94-1.584c-1.351,0-4.696,3.112-9.275,7.456
            c-0.117,1.526-0.117,2.406-0.117,3.816c0,1.173,0.059,2.935,0.117,4.402v1.761H134.844z"/>
        <path d="M197.248,32.506c-2.35-2.7-2.994-3.521-4.521-3.521c-3.639,0-7.16,4.99-7.16,10.154c0,3.113,1.231,5.46,2.875,5.46
            c1.645,0,4.639-2.523,7.163-5.985c0.119-0.177,0.233-0.294,0.294-0.353L197.248,32.506z M208.401,42.428
            c-4.409,4.642-7.809,6.164-10.449,6.164c-3.17,0-2.995-3.874-2.937-5.518c-3.696,3.991-5.87,5.459-8.1,5.459
            c-3.465,0-6.401-3.758-6.401-8.219c0-8.632,6.519-14.911,11.743-14.911c2.29,0,4.107,1.173,5.752,3.698l0.999-3.641l4.543,0.853
            l-2.783,11.183c-0.467,1.937-0.938,4.638-0.938,5.343c0,0.703,0.234,1.116,0.646,1.116c1.232,0,3.22-1.361,6.705-5.544
            L208.401,42.428z"/>
    </g>
    <g>
        <desc>Pacoma パコマ</desc>
    </g>
</svg>
