/*
#styleguide
sprite-sns-2x

```
<i class="sprite-sns-2x sprite-sns-facebook"></i>
<i class="sprite-sns-2x sprite-sns-googleplus"></i>
<i class="sprite-sns-2x sprite-sns-twitter"></i>
```
*/

$sprite-sns-facebook: 88px 0px -88px 0px 28px 58px 116px 58px '../images/sprite-sns-2x.png' sprite-sns-facebook;
$sprite-sns-googleplus: 0px 0px 0px 0px 40px 58px 116px 58px '../images/sprite-sns-2x.png' sprite-sns-googleplus;
$sprite-sns-twitter: 46px 0px -46px 0px 36px 48px 116px 58px '../images/sprite-sns-2x.png' sprite-sns-twitter;


$sprite-sns-2x: ($sprite-sns-facebook,$sprite-sns-googleplus,$sprite-sns-twitter,);
@each $sprite in $sprite-sns-2x {
    $name: nth($sprite,10);
    .sprite-sns-2x.#{$name} {
        @include sprite($sprite,0.5);
    }
}