
//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 16px;
$base-font-color: #333;
$base-background-color: #fff;


$color-base: #fff;
$color-content-bg: #f6f6f6;
$color-form-border: #ccc;
$color-key: #333;
$color-accent: #305097;
$color-placeholder: #ddd;

// z-indexの最高値
$max-z-index: 10;