@font-face {
  font-family: 'icomoon';
  src:  url(#{$path-font}icomoon.eot?mxr3ee);
  src:  url(#{$path-font}icomoon.eot?mxr3ee#iefix) format('embedded-opentype'),
    url(#{$path-font}icomoon.ttf?mxr3ee) format('truetype'),
    url(#{$path-font}icomoon.woff?mxr3ee) format('woff'),
    url(#{$path-font}icomoon.svg?mxr3ee#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
    font-size: 28px;
    position: relative;
    top: -4px;
}

.icon-facebook:hover {
    color: #305097;
}
.icon-google:before {
    content: "\e901";
    font-size: 30px;
    position: relative;
    font-size: 30px;
    top: -1px;
    left: 7px;
}

.icon-google:hover {
    color: #e74c3c;
}
.icon-twitter:before {
    position: relative;
    content: "\e902";
    font-size: 25px;
    left: 5px;
    top: -3px;
}

.icon-twitter:hover {
    color: #0099ff;
}
