<%
mediaArray = [
    {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }, {
        img: {
            src: "http://placekitten.com/200/120",
            width: 200,
            height: 120,
            alt: ""
        },
        heading: "Title",
        description: "Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text..."
    }
];

feature = [
    {
        image:'../images/image01.jpg',
        link: '#',
        target: '_self',
        avatar: '../images/avatar1.jpg',
        name: '本田圭佑',
        content: 'タイトルは全30文字タイトルは全30文字タイトルは全30文字'
    },
    {
        image:'../images/image02.jpg',
        link: '#',
        target: '_self',
        avatar: '../images/avatar2.jpg',
        name: 'イチロー',
        content: '【スペシャルテクニック動画】イチローが教えるホームランキャッチ'
    },
    {
        image:'../images/image03.jpg',
        link: '#',
        target: '_self',
        avatar: '../images/avatar3.jpg',
        name: '錦織圭',
        content: '【スペシャルテクニック動画】錦織圭が教えるエアーK'
    },
    {
        image:'../images/image04.jpg',
        link: '#',
        target: '_self',
        avatar: '../images/avatar4.jpg',
        name: 'ネイマール',
        content: '【スペシャルテクニック動画】ネイマールが驚きのテクニックを披露'
    }
];

%>
