/*
l-footer
*/

/*.l-footer {
    background-color: $color-default;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 10px;

    //Modifier margin
    &.l-footer-mt {
        margin-top: 50px;
    }
    &.l-footer-mt-sm {
        margin-top: 30px;
    }
    &.l-footer-mt {
        margin-top: 70px;
    }
}
*/

.l-footer{
    //width:$site-size;
    //padding-left:$base-padding-left;
    //padding-right:$base-padding-right;
    padding-top:12px;
    padding-bottom:12px;
    //margin:0 auto;
    background-color: #333333;
    .l-footer-copyright{
        $font-size:14px;
        $char-spacing:20;
        $letter-spacing-multiplier:1200;
        font-family:$font-en;
        font-size:14px;
        color:#ffffff;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
    }
    .l-footer-left{
        float:left;
    }
    .l-footer-right{
        float:right;
        margin-right:170px;
        //border:1px solid #ff0000;
    }
    .l-footer-icons{
        padding:0 8px;

        color:#ffffff;

        font-size:30px;
        text-decoration: none;
        transition:color 0.1s ease-out;
    }
    .l-footer-icons-facebook:hover{
        color:#305097;
    }
    .l-footer-icons-twitter{
        font-size:25px;
        &:hover{
            color:#00aced;
        }
    }
    .l-footer-icons-googleplus:hover{
        color:#e74c3c;
    }
}