<% include const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample tex";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include metadata/_head %>
<% include layout/_l-header %>

<!--start l-contents-->
<div class="l-container u-clear">

<% include layout/_l-sidebar %>
    <!--start l-main-->
    <main class="l-main">
        <div class="camera">
            <div class="camera__wrap">
                <h1 class="camera__title">
                    Camera
                </h1>
                <p class="camera__description">
                    最新のニュースやトレンドに関する、<br>
                    ホットな話題をお届けします。
                </p>
            </div>
        </div>
        <div class="l-index">
            <ul class="l-index-list">
                <% for(var iFeature = 0; iFeature < feature.length; iFeature++) { %>
                <li>
                    <% include module/_feature %>
                </li>
                <% } %>
            </ul>
        </div>

    </main>
    <!--end l-main-->

</div>
<!--end l-contents-->

<% include layout/_l-footer %>
<% include metadata/_script %>
