<footer class="footer">
    <div class="l-footer">
        <div class="l-g-row">
            <div class="l-g-col l-g-col-6">
                <p class="footer-copy"><a href="/"><small>©2016 Sample</small></a></p>
            </div>
            <div class="l-g-col l-g-col-6">
                <div class="footer-sns">
                    <a href="facebook" class="footer-sns-icon"><i class="icon-facebook"></i><i class="text-hide">facebook</i></a>
                    <a href="twitter" class="footer-sns-icon"><i class="icon-twitter"></i><i class="text-hide">twitter</i></a>
                    <a href="google" class="footer-sns-icon"><i class="icon-google"></i><i class="text-hide">google</i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</div> <!-- end .l-wrap -->


<script src="./js/app.js"></script>
</body>
</html>