<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Sample Title</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:admins" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="images/common/logo_ogp.png">

    <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png">

    <link rel="stylesheet" href="css/style.css">
    <script src="lib/modernizr.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
</head>
<body>
<div class="l-wrap">

<% include ../../parts/module/_hero %>

<header class="header" id="js-header">
    <div class="l-container">
        <div class="header-content">
            <h1 class="header-logo">
                <a href="/">
                    <img class="header-logo-img" src="./images/header/logo.png" alt="ロゴ">
                </a>
            </h1>
            <div class="header-nav">
                <div>
                    <ul class="header-nav-lists">
                        <li id="js-header-nav-list-top" class="header-nav-list header-nav-list-top"><a href="#top"><span>Top</span></a></li>
                        <li id="js-header-nav-list-faeture" class="header-nav-list header-nav-list-feature"><a href="#faeture"><span>Faeture</span></a></li>
                        <li id="js-header-nav-list-service" class="header-nav-list header-nav-list-service"><a href="#service"><span>Service</span></a></li>
                        <li id="js-header-nav-list-news" class="header-nav-list header-nav-list-news"><a href="#news"><span>News</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>