.brands {
    background-color: $color-white;
    height: 217px;
    min-height: 100%;
    padding-top: 79px;
    margin-left: 79px;

    &-image {
        &-list {
            display: inline;
            margin: 0 36px;

            &:nth-child(3) {
              top: -4px;
              position: relative;
              left: -10px;
            }

            &:nth-child(4) {
              top: -7px;
              position: relative;
              left: -23px;
            }
        }
    }

}
