.contact {
    background-color: $color-gray;
    width: 100%;
    height: 399px;
    min-height: 100%;
    padding-top: 80px;

    &-input {
        margin-bottom: 30px;

        & > input[type=submit] {
            width: 541px;
            background-color: #333;
            color: #fff;
            border: none;
            margin-left: 4px;
            margin-top: 1px;
            padding-top: 20px;
            font-size: 20px;
            font-weight: lighter;
            letter-spacing: 0.1em;
            box-shadow: 5px 5px 0px 0px rgba(51,51,51,0.25);
            transition: margin 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

            &:hover {
                display: inline-block;
                color: $color-white;
                box-shadow: 0 5px 0 $color-white;
                margin: 5px 0px 0px 5px;
            }

        }

        & > textarea {
            width: 541px;
            height: 149px;

            &[placeholder] {
                font-size: 20px;
                padding-left: 22px;
                padding-top: 16px;
                letter-spacing: 0.1em;
            }

        }

    }
}
