.copy {
    position: relative;
    background: linear-gradient(to bottom, #97918e 0%, #c3bbb8 100%);
    width: 100%;
    height: 850px;
    background-size: cover;


    &-body {
        margin-left:auto;
        margin-right:auto;
        padding-top: 130px;
    }

    &-header {
        margin-top: 175px;
        font-family: Lato-Regular;
        width: 660px;
        color: $color-white;
        font-size: 40px;
        letter-spacing: 0.098em;
        line-height: 1.5em;
    }

    &-content {
        font-family: Helvetica-light;
        width: 600px;
        letter-spacing: 0.12em;
        color: $color-white;
        font-size: 20px;
        line-height: 1.5;

        &:nth-child(2) {
            margin-top: 70px;
            margin-bottom: 30px;
        }

    }

    &-cellphone {
        margin-top: 434px;
        margin-left: 98px;

        &-image {

            &:nth-child(1) {
                position: absolute;
                z-index: 5;
            }

            &:nth-child(2) {
                z-index: 3;
                top: 530px;
                left: 876px;
                position: absolute;
            }

            &:nth-child(3) {
                z-index: 1;
                top: 247px;
                left: 846px;
                position: absolute;
            }
        }
    }
}
