.feature {
    background-color: $color-gray;
    height: 612px;
    min-height: 100%;

    &-container {
        padding: 0 131px;
    }

    &-module {
        opacity: 0;
        text-align: center;

        &.on-enter {
          visibility: visible;
          opacity: 1;
          transition: opacity 2s linear;

        }
    }

    &-header {
        padding-left: 5px;
        padding-bottom: 36px;
        padding-top: 53px;
        font-weight: bolder;
        font-family: Lato-Regular;
        text-align: center;
        font-size: 60px;
        letter-spacing: 0.084em;
    }

    &-title {
        margin-top: 18px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2.9px;
    }

    &-description {
        font-size: 20px;
        margin-top: 9px;
        margin-left: 9px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.122em;
        text-align: center;
    }
}
