.hero {
    background-image: url(#{$path-image}1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;

      &-header {
          margin-top: 77px;
          margin-left: 8px;
          font-weight: bolder;
          letter-spacing: 0.075em;
          color: $color-white;
          font-size: 160px;
          text-align: center;
          font-family: Lato-Light;
          padding-left: 11px;
      }

      &-inner {
          position: absolute;
          left: 0;
          right: 3px;
          top: 50%;
          transform: translateY(-59%);
      }

      &-description {
          position: relative;
          color: #fff;
          font-size: 60px;
          text-align: center;
          letter-spacing: 0.08em;
          font-family: Lato-Hairline;
          top: -40px;
          left: 3px;
      }

}
