.nav {
    background-color: $color-white;
    width: 100%;

    &-logo {
      padding: 10px 0px;
    }

    &-menu {
        display: inline;
    }

    &-list {
        top: 13px;
        position: relative;
        float: right;
        list-style-type: none;
        display: inline-block;
    }

    &-link {
        letter-spacing: 0.11em;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: #000;
        padding-bottom: 10px;
        margin-left: 37px;

        &.is-active {
            color: #ccc;
            border-bottom: 1px solid $color-black;
        }

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid $color-black;
      }


    }
    //state
    &.is-sticky {
        position: fixed;
        top: 0;
        margin: 0;
    }
}
