.news {
    background-color: $color-gray;
    width: 100%;
    height: 550px;
    min-height: 100%;
    padding-top: 53px;

    &-header {
        font-weight: bolder;
        font-family: Lato-Regular;
        text-align: center;
        font-size: 60px;
        letter-spacing: 4.1px;
    }
    &-body {
        margin-bottom: 10px;
    }
    &-article {
        padding-bottom: 14px;
        border-bottom: 2px solid $color-border;

        & > a {
            text-decoration: none;
            color: $color-default;

            &:hover {
                h3,
                p {
                    border-bottom-color: $color-black;
                }

                h1 {
                    width: 175px;
                }
            }
        }
    }
    &-list {
        margin-top: 27px;
        margin-left: -3px;
    }
    &-date {
        letter-spacing: 2.1px;
        font-family: "Kozuka Gothic Pr6N";
        font-size: 20px;
    }
    &-title {
        letter-spacing: 3px;
        margin-right: 30px;
        font-weight: bolder;
        font-family: "Arial";
        font-size: 30px;
        width: 180px;
        border-bottom: 1px solid transparent;
    }

    &-description {
        letter-spacing: 0.125em;
        font-size: 20px;
        margin-left: 207px;
        margin-top: -39px;
        border-bottom: 1px solid transparent;
    }
}
