.services {
    background-color: $color-white;
    width: 100%;
    height: 677px;
    min-height: 100%;
    padding-top: 52px;

    &-title {
        font-weight: bolder;
        font-family: Lato-Regular;
        text-align: center;
        font-size: 60px;
        letter-spacing: 0.08em;
    }

    &-graph {
        margin-top: 37px;
        margin-left: -14px;
    }

    &-header {
        text-align: right;
        letter-spacing: 0.105em;
        margin-top: 106px;
        font-size: 30px;
        font-weight: 800;
    }

    &-description {
        font-family: $font-en;
        text-align: right;
        font-size: 20px;
        line-height: 1.5em;
        letter-spacing: 0.125em;
        margin-right: -7px;
        width: 600px;
        float: right;

        &:nth-child(2) {
          margin-top: 40px;
          margin-bottom: 30px;
        }
    }
}
