/*
#styleguide
sprite-icon-2x

```
<i class="sprite-icon-2x icon-css3"></i>
<i class="sprite-icon-2x icon-html5"></i>
<i class="sprite-icon-2x icon-js"></i>
```
*/

$icon-css3: 350px 0px -350px 0px 342px 378px 1040px 380px '../images/sprite-icon-2x.png' icon-css3;
$icon-html5: 0px 0px 0px 0px 344px 380px 1040px 380px '../images/sprite-icon-2x.png' icon-html5;
$icon-js: 698px 0px -698px 0px 342px 378px 1040px 380px '../images/sprite-icon-2x.png' icon-js;


$sprite-icon-2x: ($icon-css3,$icon-html5,$icon-js,);
@each $sprite in $sprite-icon-2x {
    $name: nth($sprite,10);
    .sprite-icon-2x.#{$name} {
        @include sprite($sprite,0.5);
    }
}