/*
* Variables font
*/

$font-jp: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-en: Helvetica, Arial, メイリオ, Meiryo, sans-serif;
$font-lato: Lato, $font-en;
//$font-kozuka: "Kozuka Gothic Pr6N", $font-jp;
$font-kozuka: "kozuka-gothic-pr6n", $font-en;