* {
    box-sizing: border-box;
}
br {
    font-size: 0;
}

input,
textarea {
    &::selection {
        color: $color-default;
    }
}

html {
    font-size: 62.5%;
    min-height: 100%;
	/*
    width: 100%;
	*/
}

body {
    font-size: $base-font-size + px;
    line-height: $base-line-height;
    font-family: $font-en;
    background: $color-white;
    color: $color-default;
    width: 100%;
    letter-spacing: $base-letter-spacing;
    min-width: $min-width;
}

input,
button,
select,
textarea {
    font-family: $font-en;
}

select {
    padding: 10px 19px;
    font-size: 20px;
    font-weight: lighter;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $color-white url(#{$path-image}down.png) no-repeat;
    background-position: 460px 24px;
    letter-spacing: 0.1em;
}

input,
button,
select,
textarea,
a,
div,
aside {
    &:focus {
        outline: none;
    }
}

a {
    color: $color-main;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.for-no-js,
.for-old {
    text-align: center;
    width: 100%;
    background: #000;
    color: #fff;
    height: 40px;
    line-height: 40px;
    z-index: $z-max + 1;
}

.for-old {
    display: none;

    .lt-ie9 & {
        display: block;
    }
}
