.l-footer {
    background-color: $color-default;
    color: #fff;
    padding: 13px;
    font-size: 14px;

    //Modifier margin
    &.l-footer-mt {
        margin-top: 50px;
    }
    &.l-footer-mt-sm {
        margin-top: 30px;
    }
    &.l-footer-mt {
        margin-top: 70px;
    }

    &-text {
        float: left;
        padding-left: 4px;
        padding-top: 2px;
        font-size: 14px;
        letter-spacing: 0.02em;
    }

    &-icon {
        margin-left: 84px;
        text-align: center;

        & > li {
            padding: 0 7px;
            display: inline-block;

            &:nth-child(2),
            &:nth-child(3) {
                margin-right: 2px;
                margin-top: 2px;
            }

            & > a {
                color: $color-white;
                text-decoration: none;
            }
        }
    }
}
