.l-header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid $color-border;
    min-width: $min-width;
    width: 100%;
    position: absolute;
    z-index: 20;

    &.is-sticky {
      z-index: 10;
      position: fixed;
      top: 0;
      margin: 0;
    }

    &-left {
        float: left;
    }
    &-right {
        float: right;
    }

    //Modifier margin
    &.l-header-mb {
        // margin-bottom: 50px;
    }
    &.l-header-mb-sm {
        margin-bottom: 30px;
    }
    &.l-header-mb-l {
        margin-bottom: 70px;
    }
}
