        <!--javascript ここから-->
        <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script> -->
        <script src="./lib/jquery-2.2.4.min.js"></script>
        <!-- <script src="./lib/jquery-2.2.0.min.js"></script> -->
        <script src="./lib/ScrollMagic.min.js"></script>
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script> -->
        <script src="./js/vendor.js"></script>
        <script src="./js/app.js"></script>
        <!--javascript ここまで-->
    </body>
</html>
