<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_head %>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
  </style>
</head>
<body>
  <script src="assets/js/app.js" async></script>
  <div class="hero">
    <div class="l-container">
      <div class="hero-details">
        <div class="hero-title">Hello world</div>
        <div class="hero-description">- description text -</div>
      </div>
    </div>
  </div>
  <header>
    <div class="l-container">
      <div class="header-logo">LOGO</div>
      <div class="header-nav">
          <ul>
            <li>Top</li>
            <li>Feature</li>
            <li>Service</li>
            <li>News</li>
          </ul>
      </div>
    </div>
  </header>
  <div class="concept">
    <div class="l-container">
      <div class="concept-details">
          <div class="concept-title">Catch copy text catch copy !! Catch copy text!</div>
          <div class="concept-description">
            <p>
              sample text sample text sample text sample text 
              sample text sample text sample text sample 
              sample text sample text sample text 
            </p>
            <p>
              sample text sample text sample text 
              sample text sample text sample text sample text </div>
            </p>
      </div>
      <div class="concept-phones"></div>
    </div>
  </div>
  <div class="features">
    <div class="l-container">
      <div class="feature-col">
        <div class="feature-logo">
          <img src="./assets/images/html5-logo.png" alt="HTML">
        </div>
        <div class="feature-title">HTML5</div>
        <div class="feature-details">
          sample text sample text sample text sample text sample text
        </div>
      </div>
      <div class="feature-col">
        <div class="feature-logo">
          <img src="./assets/images/css-logo.png" alt="CSS">
        </div>
        <div class="feature-title">CSS</div>
        <div class="feature-details">
          sample text sample text sample text sample text sample text
        </div>
      </div>
      <div class="feature-col">
        <div class="feature-logo">
          <img src="./assets/images/js-logo.png" alt="Javascript">
        </div>
        <div class="feature-title">JavaScript</div>
        <div class="feature-details">
          sample text sample text sample text sample text sample text
        </div>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="l-container">
      <div class="service-title">- Service -</div>
      <div class="service-graph"><img src="./assets/images/service-graph.png" alt="Service"></div>
      <div class="service-details">
          <h3>2016 our results</h3>
          <p>sample text sample text sample text sample text 
            sample text sample text sample text sample 
            sample text sample text sample text 
            
            sample text sample text sample text 
            sample text sample text sample text sample text </p>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="l-container">
      <div class="news-heading">- News -</div>
      <div class="news-articles">
        <div class="news-article">
          <div class="news-article-date">06.18</div>
          <div class="news-article-title">News title</div>
          <div class="news-article-desc">sample text sample text sample text sample text sample text sample text ...</div>
        </div>
        <div class="news-article">
          <div class="news-article-date">06.17</div>
          <div class="news-article-title">News title</div>
          <div class="news-article-desc">sample text sample text sample text sample text sample text sample text ...</div>
        </div>
        <div class="news-article">
          <div class="news-article-date">06.16</div>
          <div class="news-article-title">News title</div>
          <div class="news-article-desc">sample text sample text sample text sample text sample text sample text ...</div>
        </div>
      </div>
    </div>
  </div>
  <div class="supporters">
    <div class="l-container">
      <ul>
        <li><img src="./assets/images/ibm.png" alt="IBM"></li>
        <li><img src="./assets/images/microsoft.png" alt="Microsoft"></li>
        <li><img src="./assets/images/twitter.png" alt="Twitter"></li>
        <li><img src="./assets/images/facebook.png" alt="Facebook"></li>
      </ul>
    </div>
  </div>
  <div class="contact-form">
    <div class="l-container">
      <form action="../">
        
      </form>
    </div>
  </div>

</body>
</html>
