 <div class="catch-content">
    <div class="catch-content-text">
        <h2>Catch copy text catch copy !! Catch copy text!</h2>

        <p>sample text sample text sample text sample text<br>
            sample text sample text sample text sample<br>
            sample text sample text sample text</p>
        <p>sample text sample text sample text<br>
            sample text sample text sample text sample text</p>
    </div>
    <div class="catch-image">
        <ul>
            <% var dataImg = ['1', '2', '3'] %>
            <% var dataWidth = ['271', '294', '296'] %>
            <% var dataHeight = ['428', '458', '481'] %>
            <% for(var i = 0; i < 3; i++) { %>
            <li class="catch-image-item">
                <img src="./images/catch/catch_phone_<%= dataImg[i] %>.png" alt="iPhone" width="<%= dataWidth[i] %>" height="<%= dataHeight[i] %>">
            </li>
            <% } %>
        </ul>
    </div>
</div>