<h2 class="heading heading-lv2">- Feature -</h2>
<ul class="feature-content">
    <% var dataImg = ['html5', 'css3', 'javascript'] %>
    <% var dataTitle = ['HTML5', 'CSS3', 'JavaScript'] %>
    <% for(var i = 0; i < 3; i++) { %>
    <li class="feature-content-item">
        <span><img src="./images/feature/feature_<%= dataImg[i] %>.png" alt="code image" width="171" height="189"></span>
        <dl>
            <dt class="heading-lv3"><%= dataTitle[i] %></dt>
            <dd>sample text sample<br>
                text sample text<br>
                sample text sample text</dd>
        </dl>
    </li>
    <% } %>
</ul>