<footer>
    <div class="l-footer">
        <div class="l-footer-inner">
            <small class="footer-copy">&copy;2016 Sample</small>
            <ul class="sns">
                <li class="sns-item">
                    <a href="#"><i class="icon icon-facebook"></i></a>
                </li>
                <li class="sns-item">
                    <a href="#"><i class="icon icon-twitter"></i></a>
                </li>
                <li class="sns-item">
                    <a href="#"><i class="icon icon-google"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>