<form class="form" action="mail.php" method="post">
    <div class="form-content">
        <div class="form-col">
            <p><input type="text" name="name" placeholder="Name"></p>
            <p><input type="text" name="name" placeholder="E-mail"></p>
            <p>
                <label class="form-select" for="select-forcus">
                    <select id="select-forcus">
                        <option value="">Please select your topic</option>
                        <option value="selected1">selected1</option>
                        <option value="selected2">selected2</option>
                    </select>
                </label>
            </p>
        </div>
        <div class="form-col">
            <textarea name="text" placeholder="Comments"></textarea>

            <div class="button">
                <div class="button-inner">
                    <button class="button-submit">
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>