<head>
    <meta charset="UTF-8">
    <title>魁!!聖斗塾</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:admins" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="images/common/logo_ogp.png">

    <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="css/style.css">

    <script src="lib/modernizr.js"></script>
    <script src="lib/TweenMax.min.js"></script>
    <script src="lib/ScrollToPlugin.min.js"></script>
</head>