<header>
    <div class="l-header" id="js-sticky">
        <div class="l-header-inner">
            <div class="header-logo">
                <a href="./index.html"><img src="./images/logo.png" alt="LOGO" width="111" height="30"></a>
            </div>
            <ul class="header-menu">
                <li class="header-menu-item"><a id="js-menu-top" href="#top">Top</a></li>
                <li class="header-menu-item"><a id="js-menu-feature" href="#feature">Feature</a></li>
                <li class="header-menu-item"><a id="js-menu-service" href="#service">Service</a></li>
                <li class="header-menu-item"><a id="js-menu-news" href="#news">News</a></li>
            </ul>
        </div>
    </div>
</header>