<article class="media <%= mf %>">
    <a class="media-link u-clear" href="">
        <div class="media-thumbnail">
            <img src="<%= mediaArray[iMedia].img.src %>" height="<%= mediaArray[iMedia].img.height %>" width="<%= mediaArray[iMedia].img.width %>" alt="<%= mediaArray[iMedia].img.alt %>">
        </div>
        <div class="media-body">
            <time class="media-date" datetime="yyyy-mm-ddT00:00+09:00">
                <i class="media-icon icon icon-clock"></i>mm/dd
            </time>
            <h1 class="media-heading"><%= mediaArray[iMedia].heading %></h1>
            <p class="media-description"><%= mediaArray[iMedia].description %></p>
        </div>
    </a>
</article>
