$font-en :"bitter", sans-serif;

@font-face {
    font-family: 'bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter-Regular'),
    url(./font/Bitter/Bitter-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter-Bold'),
    url(./font/Bitter/Bitter-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}