.l-index {

    &-list {

        > li {
            width: 575px;
            height: 322px;
            float: left;

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    &-button {
        margin-top: 40px;
        text-align: center;
    }
}
