.l-sidebar {
    float: left;
    padding: 0 30px;
    width: 190px;

    //&-list {}

    &-item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
