<%
    var id = "index";
    var title = "Hello World";
    var description = "Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.";
    var og_description = "world, html5, css3, javascropt, facebook, twitter";
    var url = "http://liginc.co.jp/";
    var site_name = "Hello World";
    var keywords = "world, html5, css3, javascropt, facebook, twitter";
    var type = "blog";
%>
<% include metadata/_head %>

    <!--start contents-->
        <!--start main-->
        <main class="u-clear">
            <div id="js-top">
                <% include module/_hero %>
                <% include layout/_l-header %>
                <% include module/_concept %>
            </div>
            <% include module/_feature %>
            <% include module/_service %>
            <% include module/_news %>
        </main>
        <% include module/_banner %>
        <% include module/_contact-form %>
        <!--end main-->

    <% include layout/_l-footer %>
    <!--end contents-->
<% include metadata/_script %>
