<%
var id = "フロントエンド研修会_サンプルサイト";
var title = "フロントエンド研修会用のサンプルサイトです。";
var description = "";
var keywords = "";
var type = "article";
%>

<% include metadata/_head %>
<!-- star wrap -->
<div class="l-wrap">
    <% include module/_hero %>
    <% include layout/_l-header%>
    <% include module/_catch%>
    <% include module/_section %>
    <% include module/_supporters %>
    <% include module/_contact%>
    <% include layout/_l-footer %>
</div>
<!-- end of wrap -->
<% include metadata/_script %>