//thema

body {
    &.category-a {
        .l-header {
            border-bottom: 5px solid $color_sports;
        }
        .l-nav .list-item.nav01 {
            a {
                color: #fff;
            }
            background: $color_sports;
            i {
                background: url(../images/icon_sports_on.png) no-repeat;
                border-right: 1px solid rgba(255, 255, 255, .5);
                background-position: 15px 15px;
            }
        }
        .l-heading {
            background: $color_sports url(../images/bg_heading_sports.png) no-repeat;
            background-position: right bottom;
        }
    }
    &.category-b {
        .l-header {
            border-bottom: 5px solid $color_music;
        }
        .l-nav .list-item.nav02 {
            background-color: $color_music;

            a{
                color: #fff;
            }
            i {
                background: url(../images/icon_music_on.png) no-repeat;
                background-position: 15px 15px;
                border-right: 1px solid rgba(255, 255, 255, .5);
            }
        }
        .l-heading {
            background: $color_music url(../images/bg_heading_music.png) no-repeat;
            background-position: right top;
        }
    }
    &.category-c {
        .l-header {
            border-bottom: 5px solid $color_life;
        }
        .l-nav .list-item.nav03 {
            background-color: $color_life;
            a{
                color: #fff;
            }
            i {
                background: url(../images/icon_life_on.png) no-repeat;
                background-position: 15px 15px;
                border-right: 1px solid rgba(255, 255, 255, .5);
            }
        }
        .l-heading {
            background: #ffce38 url(../images/bg_heading_life.png) no-repeat;
            background-position: right bottom;
        }
    }
    &.category-d {
        .l-header {
            border-bottom: 5px solid $color_camera;
        }
         .l-nav .list-item.nav04 {
            background-color: $color_camera;
            a{
                color: #fff;
            }
            i {
                background: url(../images/icon_camera_on.png) no-repeat;
                background-position: 15px 15px;
                border-right: 1px solid rgba(255, 255, 255, .5);
            }
        }
        .l-heading {
            background: $color_camera url(../images/bg_heading_camera.png) no-repeat;
            background-position: right bottom;
        }
    }
    &.category-e {
        .l-header {
            border-bottom: 5px solid $color_kitchen;
        }
          .l-nav .list-item.nav05 {
            background-color: $color_kitchen;
            a{
                color: #fff;
            }
            i {
                background: url(../images/icon_kitchen_on.png) no-repeat;
                background-position: 15px 15px;
                border-right: 1px solid rgba(255, 255, 255, .5);
            }
        }

        .l-heading {
            background: $color_kitchen url(../images/bg_heading_kitchen.png) no-repeat;
            background-position: right bottom;
        }
    }
}
