    <!--footer ここから-->
    <footer class="l-footer l-footer--pd u-clear">
        <div class="container">
            <div class="l-footer__left">
                <small>&copy;2016 Sample</small>
            </div>
            <div class="l-footer__right l-footer__right--pt">
                <div class="social social--footer social--footer-pr">
                    <a href="#" class="social__item"><i class="facebook icon-facebook"></i></a>
                    <a href="#" class="social__item"><i class="twitter twitter--pl icon-twitter"></i></a>
                    <a href="#" class="social__item"><i class="google-plus google-plus--pl icon-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--footer ここまで-->
