<% var navArray = [ "Top", "Feature", "Service", "News" ]; %>

<!-- START HEADER-->
<header id="js-header" class="l-header">
    <div class="container u-clear">
        <div class="l-header__left l-header__left--pt l-header__left--pl u-clear">
            <a class="logo" href="./">
                <img src="images/logo_mobile.png" width="148" height="40" alt="logo"/>
            </a>
        </div>
        <div class="l-header__right">
            <% var navItems = [
                { href: "#js-body", section: "Top"},
                { href: "#js-feature", section: "Feature"},
                { href: "#js-service", section: "Service"},
                { href: "#js-news", section: "News"}
            ]; %>
            <span id="js-transformicon" class="transformicon"></span>
            <nav id="js-nav" class="nav">
                <ul class="nav-list">
                    <% for(var i=0; i< navItems.length; i++) { %>
                        <li class="nav-list__item">
                            <a class="link js-scroll" href="<%= navItems[i].href %>">
                                <%= navItems[i].section %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- END HEADER -->
