<%
featuresArray = [
    {
        img: {
            src: "./images/html.png",
            alt: ""
        },
        heading: "HTML5",
        id: "js-feature1",
        description: "sample text sample <br>" +
                     "text sample text <br>" +
                     "sample text sample text <br>"
    }, {
        img: {
            src: "./images/css.png",
            alt: ""
        },
        heading: "CSS3",
        id: "js-feature2",
        description: "sample text sample <br>" +
                     "text sample text <br>" +
                     "sample text sample text <br>"
    }, {
        img: {
            src: "./images/js.png",
            alt: ""
        },
        heading: "JavaScript",
        id: "js-feature3",
        description: "sample text sample <br>" +
                     "text sample text <br>" +
                     "sample text sample text <br>"

    }
];

newsArray = [
    {
        date: "06.18",
        datetime: "2016-06-18",
        title: "News title",
        id: "js-feature-one",
        description: "sample text sample text sample text sample text sample text sample text sample text sample text"
    }, {
        date: "06.18",
        datetime: "2016-06-17",
        title: "News title",
        id: "js-feature-two",
        description: "sample text sample text sample text sample text sample text sample text sample text sample text"
    }, {
        date: "06.18",
        datetime: "2016-06-16",
        title: "News title",
        id: "js-feature-three",
        description: "sample text sample text sample text sample text sample text sample text sample text sample text"

    }
];

%>
