.banners{
	//.banners .banners-grid
	& &-grid{ 

		//.banners .banners-grid-inner
		&-inner{
			margin:0 -34px;
		}

		//.banners .banners-grid-item
		&-item{
			padding:0 34px;
		}
	}
}

/*
.primary-section-banners{
	background-color:#ffffff;

	.l-grid{
		//
		$horizSpace:34px;
		//$colCount:4;
		//overflow:hidden;
		//
		//border:1px solid #ff0000;
		.l-grid-inner{
			//margin:0 ($horizSpace * $colCount * -1);
			margin:0 ($horizSpace * -1);
			//border:1px solid #00ff00;
			.l-grid-item{
				padding:0 $horizSpace;
				//border:1px solid #0000ff;
			}
		}
	}
}
*/