.catch{

    position:relative;
    //border:1px solid #ff0000;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#97918e+0,c3bbb8+100 */
	background: #97918e; /* Old browsers */
	background: -moz-linear-gradient(top,  #97918e 0%, #c3bbb8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #97918e 0%,#c3bbb8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #97918e 0%,#c3bbb8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97918e', endColorstr='#c3bbb8',GradientType=0 ); /* IE6-9 */

	height:800px;

	$char-spacing:70;
	.catch-title{
		//border:1px solid #ff0000;
		//padding-top:200px;

		position:absolute;
    	left:0px + 25;
    	top:225px;
    	z-index:3;

    	$font-size:40px;
    	$letter-spacing-multiplier:715;
		font-family: $font-lato;
		color:  #ffffff;
		font-size: $font-size;
		font-weight: 400;
		line-height: 60px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: left;
	}
	.catch-spacer{
    	height:64px;
    }
	.catch-description{
		//margin-top:64px;
		//padding-bottom:200px;

		position:absolute;
    	left:0px + 25;
    	top:415px;
    	z-index:3;

    	$font-size:20px;
    	$letter-spacing-multiplier:580;
		font-family: $font-en;
		color:  #ffffff;
		font-size: $font-size;
		font-weight: 300;
		line-height: 30px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: left;
	}
	.catch-phone-1{
		position:absolute;
    	//left:628px + 36;
    	//top:218px + 14;
    	left:628px;
    	top:218px;
    	z-index:3;
	}
	.catch-phone-2{
		position:absolute;
    	//left:845px + 36;
    	//top:314px + 14;
    	left:845px;
    	top:314px;
    	z-index:2;
	}
	.catch-phone-3{
		position:absolute;
    	//left:817px + 25;
    	//top:31px + 14;
    	left:817px;
    	top:31px;
    	z-index:1;
	}
}
