.feature{

	//.feature .feature-grid
	& &-grid{ 

		//.feature .feature-grid-inner
		&-inner{
			margin:0 -70px;
		}

		//.feature .feature-grid-item
		&-item{
			padding:0 70px;
		}
	}

	//.feature .feature-article
	& &-article{

		//.is-shown and .is-hidden
		@mixin shown-animation-state(){
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&.is-shown{
				opacity:1;
			}
		}

		//.feature .feature-article-image
		&-image{
			@include shown-animation-state();
		}

		//.feature .feature-article-title
		&-title{
			$font-size:30px;
			$char-spacing:70;
			$letter-spacing-multiplier:640;
			font-family: $font-en;
			color: #333333;
			font-size: $font-size;
			font-weight: 700;
			line-height: 100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:30px;

			@include shown-animation-state();
		}

		//.feature .feature-article-description
		&-description{
			$font-size:20px;
			$char-spacing:70;
			$letter-spacing-multiplier:600;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;			
			font-weight: 300;
			line-height: 30px;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:20px;

			@include shown-animation-state();
		}
	}
}





/*
.primary-section-feature{
	background-color:#f6f6f6;
	position:relative;
	z-index:4;
	
	padding-bottom:$base-padding-bottom + 50;;

	.primary-section-title{
		margin-bottom:110px;
	}

	.l-grid{
		//
		$horizSpace:70px;
		.l-grid-inner{
			margin:0 ($horizSpace * -1);
			.l-grid-item{
				padding:0 $horizSpace;
			}
		}
	}
	
	.primary-section-article{
		.primary-section-article-html5-image{
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&-fadeIn{
				opacity:1;
			}
		}
		.primary-section-article-css3-image{
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&-fadeIn{
				opacity:1;
			}
		}
		.primary-section-article-javascript-image{
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&-fadeIn{
				opacity:1;
			}
		}
			
	}

}
*/

