.mail{

	//.mail .mail-form
	& &-form{
		display:block;
		border-style: solid;
		border-width: 2px;
		border-color:  #cccccc;
		box-sizing: border-box;
		background-color:  #ffffff;
		width: 500px;
		height: 60px;
		padding:20px;

		$font-size:20px;
		$char-spacing:50;
    	$letter-spacing-multiplier:640;
		font-family: Helvetica;
		color:  #000000;
		font-size: $font-size;
		font-weight: 300;
		line-height: 20px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: left;

		//
		&::placeholder{
			color: #dddddd;
		}

		//
		&-email{
			margin-top:28px;
		}
		&-comments{
			width: 540px;
			height: 150px;
			resize: none;
		}
		&-topic{
			padding-top:15px;
			padding-bottom:15px;

			$font-size:20px;
			$char-spacing:50;
	    	$letter-spacing-multiplier:500;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:28px;

			appearance:none; //webkit moz remove default arrow
			&::-ms-expand{
				display:none; //win8 ie11 remove default arrow
			}
		}
		&-submit{
			width: 540px;
			background-color:  #333333;
			border:0px;
			color: #ffffff;
			text-align: center;
			margin-top:28px;

			border-radius: 0px;
			box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 0.25);
			&:hover {
		        text-decoration: none;
		        transform: translate3d(2px, 2px, 0);
		        //box-shadow: 0 0 0 darken($color-main,20%);
		        box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 0);
		    }
		}
	}

	//.mail .mail-arrow
	& &-arrow{
		position:relative;
		&:before {
            cursor: pointer;
            pointer-events:none;
            content: "";
            position: absolute;
            top: 12px + 28;
            right: 20px;
            border-style: solid;
            margin-top: 12px;
            //border-width: 8px;
            border-width: 8px;
            border-color: #ccc transparent transparent transparent;
        }
	}

	//.mail .mail-left
	& &-left{
		float:left;
	}

	//.mail .mail-right
	& &-right{
		float:right
	}
}

/*
.primary-section-mail{
	background-color:#f6f6f6;
	padding-top:$base-padding-top + 10;
	padding-bottom:$base-padding-bottom + 15;

	.primary-section-mail-form{
		display:block;
		border-style: solid;
		border-width: 2px;
		border-color:  #cccccc;
		box-sizing: border-box;
		background-color:  #ffffff;
		width: 500px;
		height: 60px;
		padding:20px;

		$font-size:20px;
		$char-spacing:50;
    	$letter-spacing-multiplier:640;
		font-family: Helvetica;
		color:  #000000;
		font-size: $font-size;
		font-weight: 300;
		line-height: 20px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: left;

		&-email{
			margin-top:28px;
		}
	}
	.primary-section-mail-form::placeholder{
		color:  #dddddd;
	}

	.primary-section-mail-form-textarea{
		width: 540px;
		height: 150px;
	}
	.primary-section-mail-form-select{
		padding-top:15px;
		padding-bottom:15px;

		$font-size:20px;
		$char-spacing:50;
    	$letter-spacing-multiplier:500;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

		margin-top:28px;

		appearance:none; //webkit moz remove default arrow
		&::-ms-expand{
			display:none; //win8 ie11 remove default arrow
		}
	}
	.primary-section-mail-arrow{
		position:relative;
		&:before {
            cursor: pointer;
            pointer-events:none;
            content: "";
            position: absolute;
            top: 12px + 28;
            right: 20px;
            border-style: solid;
            margin-top: 12px;
            //border-width: 8px;
            border-width: 8px;
            border-color: #ccc transparent transparent transparent;
        }
	}

	.primary-section-mail-form-button{
		width: 540px;

		background-color:  #333333;
		border:0px;

		color: #ffffff;
		text-align: center;

		margin-top:28px;

		
		$font-size:20px;
		$char-spacing:50;
    	$letter-spacing-multiplier:645;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
	}

	.primary-section-mail-left{
		float:left;
	}
	.primary-section-mail-right{
		float:right
	}
}
*/