.main{
    position:relative;
    pointer-events: none;
    z-index:5;
    overflow:hidden;
    .main-image{
        display:inline-block;
    }

    $title-description-spacer:17px;
    $char-spacing:50;
    $letter-spacing-multiplier:640;
    .main-title{
        width:100%;
        position:absolute;

        $font-size:160px;
        font-family: $font-lato;
        color: #ffffff;
        font-size:$font-size;
        font-weight: 300;
        line-height:100%;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
        text-align: center;

        top:50%;
        margin-top:-$font-size - ($title-description-spacer/2);
        //border:1px solid #0000ff;        

        z-index:1;
    }
    .main-description{        
        width:100%;
        position:absolute;

        $font-size:60px;
        font-family: $font-lato;
        color: #ffffff;
        font-size:$font-size;
        font-weight: 100;
        line-height:100%;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
        text-align: center;

        top:50%;
        margin-top:($title-description-spacer/2);
        //border:1px solid #ff0000;        

        z-index:2;
    }
}