.news{

	//.news .news-article
	& &-article{
		height:88px;
		border-bottom:1px solid #cccccc;
		margin-top:10px;
		padding-bottom:100px;

		//.news .news-article-date
		&-date{
			$font-size:20px;
			$char-spacing:70;
    		$letter-spacing-multiplier:640;
			font-family: $font-kozuka;
			color:  #333333;
			font-size: $font-size;
			line-height:100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
			text-align: left;

			margin-bottom:20px;

			display:inline-block; //make this inline for text-decoration:none
		}

		//.news .news-article-title
		&-title{
			$font-size:30px;
			$char-spacing:70;
			$letter-spacing-multiplier:640;
			font-family: $font-en;
			color: #333333;
			font-size: $font-size;
			font-weight: 700;
			line-height: 100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:0px;
		}

		//.news .news-article-link:hover .news-article-title
		&-link:hover .news-article-title{
			text-decoration: none;
			border-bottom:1px solid #333333;
		}

		//.news .news-article-description
		&-description{
			$font-size:20px;
			$char-spacing:70;
			$letter-spacing-multiplier:600;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;			
			font-weight: 300;
			line-height:100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:5px;

			display:inline-block;
			width:870px;
		}

		//.news .news-article-link:hover .news-article-description
		&-link:hover .news-article-description{
			text-decoration: none;
			border-bottom:1px solid #333333;
		}

		//.news .news-article-left
		.news-article-left{
			float:left;
		}

		//.news .news-article-right
		.news-article-right{
			margin-left:208px;
		}
	}
}

/*
.primary-section-news{
	background-color:#f6f6f6;
	padding-bottom:$base-padding-bottom + 24;
	
	.primary-section-title{
		margin-bottom:35px;
	}

	.primary-section-article{
		//border:1px solid #000;
		height:88px;
		border-bottom:1px solid #cccccc;
		margin-top:10px;
		padding-bottom:100px;
		.primary-section-article-link{
			&:hover .primary-section-article-title{
				text-decoration: none;
				border-bottom:1px solid #000000;
			}
			&:hover .primary-section-article-description{
				text-decoration: none;
				border-bottom:1px solid #000000;
			}
		}
		.primary-section-article-date{
			display:inline-block; //for text-decoration:none

			$font-size:20px;
			$char-spacing:70;
    		$letter-spacing-multiplier:640;
			font-family: $font-kozuka;
			color:  #333333;
			font-size: $font-size;
			line-height:100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			text-align: left;

			margin-bottom:28px;
		}
		.primary-section-article-spacer{
			height:9px;
			&-2{
				height:100px;
			}
		}
		.primary-section-article-title{
			margin-top:0px;
		}
		.primary-section-article-description{
			display:inline-block;
			width:870px;
			line-height:100%;
			
			margin-top:5px;
		}
		.primary-section-article-divider{
			border-top:1px solid #cccccc;
		}
		.primary-section-article-left{
			float:left;
			//border:1px solid #ff0000;
		}
		.primary-section-article-right{
			//border:1px solid #ff0000;
			margin-left:208px;
		}
	}	
}
*/