.section{
	padding-top:$section-padding-top;
	padding-bottom:$section-padding-bottom;

	//.section .section-title
	& &-title{ 
		$font-size:60px;
		$char-spacing:50;
    	$letter-spacing-multiplier:640;
		font-family: $font-lato;
		color:  #333333;
		font-size: $font-size;
		font-weight: 400;
		line-height: 100%;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: center;

		margin-bottom:53px;
	}

	//modifiers
	&-feature{
		background-color:#f6f6f6;
		position:relative;
		z-index:4;
	}
	&-service{
		background-color:#ffffff;
		position:relative;
		z-index:4;
	}
	&-news{
		background-color:#f6f6f6;
		position:relative;
		z-index:4;
	}
	&-banners{
		background-color:#ffffff;
	}
	&-mail{
		background-color:#f6f6f6;
	}





	



	/*
	.section-article{
		.section-article-title{
			$font-size:30px;
			$char-spacing:70;
    		$letter-spacing-multiplier:640;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;
			font-weight: 700;
			line-height: 100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:28px;

    		&-fadeOut{
    			transition-property: opacity;
	    		transition-duration: $duration;
	    		transition-timing-function: $easing;
	    		transition-delay: $delay;
    			opacity:0;
    		}
    		&-fadeIn{
				opacity:1;
			}
		}
		.primary-section-article-description{
			$font-size:20px;
			$char-spacing:70;
    		$letter-spacing-multiplier:600;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;			
			font-weight: 300;
			line-height: 30px;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:20px;

    		&-fadeOut{
    			opacity:0;
				transition-property: opacity;
	    		transition-duration: $duration;
	    		transition-timing-function: $easing;
	    		transition-delay: $delay;
    		}
    		&-fadeIn{
				opacity:1;
			}
		}
	}*/
}