.service{

	//.service .service-article
	& &-article{

		//.service .service-article-title
		&-title{
			$font-size:30px;
			$char-spacing:70;
			$letter-spacing-multiplier:640;
			font-family: $font-en;
			color: #333333;
			font-size: $font-size;
			font-weight: 700;
			line-height: 100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			text-align:right;
			margin-top:80px;
		}

		//.service .service-article-description
		&-description{
			$font-size:20px;
			$char-spacing:70;
			$letter-spacing-multiplier:600;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;			
			font-weight: 300;
			line-height: 30px;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			text-align:right;
			margin-top:50px;
		}

		//.service .service-article-left
		&-left{
			float:left;
		}

		//.service .service-article-right
		&-right{
			float:right;
		}
	}
}


/*
.primary-section-service{
	background-color:#ffffff;
	position:relative;
	z-index:4;
	.primary-section-article{
		.primary-section-article-title{
			text-align:right;
			margin-top:80px;
		}
		.primary-section-article-description{
			text-align:right;
			margin-top:50px;	
		}
		.primary-section-article-left{
			float:left;
			//border:1px solid #ff0000;
		}
		.primary-section-article-right{
			float:right;
			//border:1px solid #ff0000;
		}
	}
}*/