.archive-lists {
    display: block;
    width: 100%;
    height: auto;
}
//Modifier
.archive-lists-margin {
    margin-top: 50px;
}

.archive-lists-left {
    width: 206px;
    float: left;
}
.archive-lists-right {
    width: auto;
    overflow: hidden;
}

.archive-lists-article {
    box-sizing: border-box;
    height: 80px;
    margin-top: 21px;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    &:first-child {
        margin-top: 0;
    }
    > a {
        display: block;
        color: inherit;
        text-decoration: none;
        opacity: 1;
        transition: opacity .5s;
        &:hover {
            opacity: .5;
        }
    }
}
.archive-lists-article-time {
    display: block;
    font-size: 19.97px;
    line-height: 1;
    letter-spacing: .05em;
}
.archive-lists-article-title {
    margin-top: 8px;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: .05em;
}
.archive-lists-article-contents {
    margin-top: 18px;
    font-size: 1.250rem;
    line-height: 1.5em;
    letter-spacing: .05em;
    > p {
        overflow: hidden;
        width: 100%;
        height: 1.5em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}