$block-lines-list-margin: 30px;
.block-lines {
    margin: 80px (-$block-lines-list-margin);
    text-align: center;
    font-size: 0;
    letter-spacing: 0;
}
.block-lines-list {
    display: inline-block;
    padding: 0 $block-lines-list-margin;

    > a {
        display: block;
        opacity: 1;
        transition: opacity .5s;
        &:hover {
            opacity: .5;
        }
    }
    &.block-lines-list-ibm {
        padding-right: 45px;
    }
    &.block-lines-list-microsoft {
        padding-right: 38px;
    }
    &.block-lines-list-twitter {
        padding-right: 32px;
    }
    &.block-lines-list-facebook {

    }
}