.box {
    box-sizing: border-box;
    width: 100%;
    max-width: 264px;
    margin: 53px auto 0;
    text-align: center;
    > img {
        display: inline-block;
        width: 100%;
        max-width: 172px;
        height: auto;
    }
    &.box-left {
        margin-left: 0;
    }
    &.box-right {
        margin-right: 0;
    }
}

.box-heading {
    margin-top: 18px;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: .05em;
}
.box-msg {
    margin-top: 10px;
    font-size: 1.250rem;
    line-height: 1.5em;
    letter-spacing: .05em;
}