.btn {
    @include placeholderColor($color-placeholder);
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    padding: 20px;
    cursor: pointer;
    background: $color-key;
    font-size: 1.25rem;
    color: $color-base;
    text-align: center;
    outline: none;
    border: none;
    opacity: 1;
    transition: opacity .5s;
    box-shadow: 4px 4px 0 0 #c5c5c5;
    &:hover {
        opacity: .5;
    }
}