$catchHeight: 803px;
.catch {
    position: relative;
    width: 100%;
    height: $catchHeight;
}
.catch-inner {
    width: 100%;
    height: $catchHeight;
}
.catch-content {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -175px;
    z-index: $max-z-index - 1;
    &.catch-content-right {
        right: 0;
        text-align: right;
    }
    >img {
        max-width: 300px;
    }
}
.catch-heading {
    font-family: $font-lato;
    font-size: 2.5rem;
    color: $color-base;
    line-height: 1.5em;
    letter-spacing: .05em;
}
.catch-msg {
    margin-top: 80px;
    font-size: 1.25rem;
    color: $color-base;
    line-height: 1.5em;
    letter-spacing: .05em;
}

.catch-images {
    transform: translateY(200px);
}
.catch-img {
    > img {
        display: inline-block;
        //width: 100%;
        //max-width: 348px;
        height: auto;
    }
}
//Modifier
.catch-img-phone {
    top: 0;
    right: 0;
    position: absolute;
    > img {
        display: block;
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}
//Modifier
.catch-img-phone1 {
    top: 30px;
    z-index: $max-z-index - 4;
}
//Modifier
.catch-img-phone2 {
    top: 313px;
    right: -30px;
    z-index: $max-z-index - 3;
}
//Modifier
.catch-img-phone3 {
    top: 218px;
    right: 164px;
    z-index: $max-z-index - 2;
}


.catch-phone {
    .catch-inner {
        height: 805px;
    }
    .catch-heading {
        letter-spacing: .08em;
    }
    .catch-msg {
        margin-top: 70px;
        p {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.catch-service {
    height: 600px;
    .catch-content {
        left: -10px;
        p {
            margin-top: 31px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .catch-content-img {
        margin-top: -247px;
    }
    .catch-heading {
        font-size: 30px;
        font-weight: bold;
        color: $base-font-color;
        letter-spacing: .1em;
    }
    .catch-msg {
        margin-top: 40px;
        font-size: 20px;
        color: $base-font-color;
    }
}