.content {
    width: 100%;
    height: auto;
    background-color: $color-content-bg;
    overflow: hidden;
}
//Modifier
.content-light {
    background: $base-background-color;
}
//Modifier
.content-margin {
    padding-bottom: 80px;
}
.content-news {
    &.content-margin {
        padding-bottom: 90px;
    }
}
//Modifier
.content-gradation {
    background: #97918e;
    background: linear-gradient(to bottom,  #97918e 0%,#c3bbb8 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97918e', endColorstr='#c3bbb8',GradientType=0 );
}