.footer {
    height: 54px;
    background: $color-key;
    color: $color-base;
    a {
        color: inherit;
        text-decoration: none;
    }
}
.footer-copy {
    font-size: 14px;
    line-height: 1.4rem;
    padding-top: 17px;
    &:hover {
        color: $color-accent;
    }
}
.footer-sns {
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 73px;
    text-align: center;
}
.footer-sns-icon {
    font-size: 31px;
    line-height: 1em;
    color: $color-base;
    &:hover {
        color: $color-accent;
    }
}