.form {
    &.form-content {
        margin-top: 50px;
    }
    input[type=text] {
        @include placeholderColor($color-placeholder);
        display: block;
        margin-top: 30px;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 20px;
        border: 2px solid $color-form-border;
        outline: none;
        font-size: 1.25rem;
    }
    textarea {
        @include placeholderColor($color-placeholder);
        height: 150px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin-top: 30px;
        padding: 20px;
        border: 2px solid $color-form-border;
        outline: none;
        font-size: 1.25rem;
        color: $color-placeholder;
        &:focus {
            color: $base-font-color;
        }
    }
    input[type=submit] {
        @include placeholderColor($color-placeholder);
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-top: 30px;
        padding: 20px;
        cursor: pointer;
        background: $color-key;
        font-size: 1.25rem;
        color: $color-base;
        text-align: center;
        outline: none;
        border: none;
        opacity: 1;
        transition: opacity .5s;
        &:hover {
            opacity: .5;
        }
    }
    select {
        width: 100%;
        appearance: none;
        border-radius: 0;
        vertical-align: middle;
        font-size: 1.25rem;
        color: inherit;
        box-sizing: content-box;
        border: none;
        outline: none;
        background: $color-base;
    }
}
.form-select {
    @include placeholderColor($color-placeholder);
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    padding: 15px 20px;
    border: 2px solid $color-form-border;
    outline: none;
    background: $color-base;
    &:after {
        content: '';
        position: absolute;
        margin-top: -4px;
        top: 50%;
        right: 22px;
        border: 8px solid transparent;
        border-top: 8px solid #ccc;
    }
}
.form-margin-right {
    padding-right: 40px;
}