.heading {
    width: 100%;
    text-align: center;
    font-family: $font-lato;
    font-size: 3.75rem;
    font-weight: bold;
    z-index: $max-z-index;
    &:before,
    &:after {
        content: '-';
    }
    &:before {
        padding-right: .5em;
    }
    &:after {
        padding-left: .5em;
    }
}
//Modifier
.heading-margin {
    margin-top: 70px;
}