$headerHeight: 93px;

.header {
    z-index: $max-z-index;
    width: 100%;
    top: 0 !important;
    height: $headerHeight;
    background: $base-background-color;
}

.header-content {
    @extend %u-clearfix;
}
.header-logo {
    float: left;
    display: block;
    margin-top: 33px;
    .header-logo-img {
        display: inline-block;
        width: auto;
        height: 30px;
        vertical-align: middle;
    }
    a {
        opacity: 1;
        transition: opacity .5s;
        &:hover {
            opacity: .5;
        }
    }
}

.header-nav {
    float: right;
    display: block;
}
.header-nav-lists {
    display: block;
    @extend %u-clearfix;
}

.header-nav-list {
    display: block;
    float: left;
    font-size: 20.23px;
    color: $base-font-color;
    letter-spacing: .15rem;
    a {
        display: block;
        padding: 0 18px;
        text-decoration: none;
        color: inherit;
        line-height: $headerHeight;
        opacity: 1;
        transition: opacity .5s;
        &:hover {
            opacity: .5;
        }
        > * {
            padding-bottom: 4px;
            border-bottom: 2px solid inherit;
        }
    }
    &.is-current {
        a {
            > * {
                border-bottom: 2px solid $base-font-color;
            }
        }
    }
}
//Modifier
.header-nav-list-top {
    a {
        padding-right: 24px;
    }
}
//Modifier
.header-nav-list-news {
    a {
        padding-right: 0;
    }
}