.hero {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url('../images/hero/bg.jpg');
    background-size: cover;
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -129px 0 0 -540px;
    display: block;
    width: 1080px;
}
.hero-heading {
    color: $color-base;
    font-size: 10rem;
    font-family: $font-lato;
    font-weight: 400;
    text-align: center;
    line-height: 1em;
    letter-spacing: .6rem;
}
.hero-msg {
    margin-top: 18px;
    color: $color-base;
    font-size: 3.75rem;
    font-family: $font-lato;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
    letter-spacing: .3rem;
}