@font-face {
    font-family: 'ligiconfont';
    src:
            url('../fonts/ligiconfont.ttf?h7yjwt') format('truetype'),
            url('../fonts/ligiconfont.woff?h7yjwt') format('woff'),
            url('../fonts/ligiconfont.svg?h7yjwt#ligiconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    i {
        font-style: normal;
    }
}

%icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ligiconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter {
    &:before {
        @extend %icon;
        content: '\e900';
    }
}
.icon-facebook {
    &:before {
        @extend %icon;
        content: '\e901';
    }
}
.icon-google {
    &:before {
        @extend %icon;
        content: '\e902';
    }
}

