.article {

    text-align: left;
    border-bottom: 2px solid #c5c5c5;
    padding-bottom: 5px;

    .article-link {
        color: $color-default-black;
        text-decoration: none;

        &:hover {

            > .article-item-date {
                padding-left: 3px;
                transition: all 0.25s ease-in-out;
            }
            > .article-item-title {
                border-bottom: 1px solid $color-default-black;
            }
            > .article-item-description {
                border-bottom: 1px solid lighten($color-default-black, 35%);
            }
        }

        > .article-item-date {
            display: block;
            width: 207px;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 0.05em;
            line-height: 100%;
            padding-top: 10px;
            padding-bottom: 3px;
        }

        > .article-item-title,
        > .article-item-description
        {
            color: $color-default-black;
        }

        > .article-item-title {
            display: inline;
            vertical-align: top;
            width: 207px;
            font-family: $font-en;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-right: 32px;
            padding: 0;
        }

        > .article-item-description {
            display: inline;
            vertical-align: top;
            width: 873px;
            font-family: $font-en;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0.12em;
            padding-bottom: 0;
            line-height: 250%;
        }
    }

}
