/*
#overview
banner
*/

/*
#styleguide
banner
```
<a class="banner" href="">
    <img src="http://placekitten.com/300/250" height="250" width="300" alt="">
</a>

*/

.banner {
    height: 216px;
    text-align: left;

    .banner-item {

        //MODIFIER
        &.banner-item-ibm {
            width: 151px;
            height: 56px;
            padding-top: 80px;
        }
        &.banner-item-microsoft {
            width: 260px;
            height: 55px;
            padding-top: 80px;
        }
        &.banner-item-twitter {
            width: 249px;
            height: 47px;
            padding-top: 84px;
        }
        &.banner-item-facebook {
            width: 215px;
            height: 43px;
            padding-top: 86px;
        }
        &.banner-item-ibm-mr {
            margin-right: 75px;
        }
        &.banner-item-microsoft-mr {
            margin-right: 68px;
        }
        &.banner-item-twitter-mr {
            margin-right:62px;
        }

    }
}
