.concept {
    position: relative;

    .concept-nav-offset {
        min-height: 0;
    }

    .concept-left {
        float: left;

        > .concept-left-text-heading {
            font-family: $font-lato;
            font-weight: 500;
            font-size: 40px;
            letter-spacing: 0.098em;
            line-height: 150%;
            color: #fff;

            &.concept-left-text-heading-pt {
                padding-top: 150px;
            }
            &.concept-left-text-heading-pb {
                padding-bottom: 71px;
            }
        }

        > .concept-left-text-description {
            font-family: $font-en;
            font-size: 20px;
            font-weight: 300;
            color: #fff;
            letter-spacing: 0.12em;
            line-height: 150%;

            &.concept-left-text-description {
                padding-bottom: 222px;
            }
        }

        &.concept-left-pt {
            padding-top: 150px;
        }
    }
    .concept-right {
        //float: right;
        position: relative;
        top: 0;
        //right: 0;

        > .concept-right-phone {

            &.concept-right-phone-1 {
                height: 481px;
                width: 296px;
                position: absolute;
                top: 158px;
                right: 145px;

            }
            &.concept-right-phone-2 {
                position: absolute;
                top: 254px;
                right: -62px;
                width: 294px;

            }
            &.concept-right-phone-3 {
                position: absolute;
                right: 0;
                top: -29px;
                right: -8px;;
                width: 271px;

            }
        }
        //background: purple;
    }
}
