.contact-form {

    .contact-input {
        height: 60px;
        width: 100%;
        display: block;
        border: 2px solid #cccccc;
        font-family: $font-en;
        color:  #000000;
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        background-color:  #ffffff ;
        padding-top: 2px;
        padding-left: 19px;
        padding-right: 20px;

        //MODIFIER
        &.contact-input::placeholder {
            font-family: $font-en;
            color: #dddddd;
            font-weight: 500;
            letter-spacing: 0.08em;
        }
        &.contact-input-left {
            width: 500px;
        }
        &.contact-input-mb {
            margin-bottom: 30px;
        }
    }

    .contact-select {
        display: block;
        position: relative;
        height: 60px;
        width: 500px;
        border: 2px solid #cccccc;
        background-color:  #ffffff;

        > .contact-select-tag {
            top: 0;
            left: 0;
            z-index: 9;
            position: absolute;
            width: 100%;
            max-height: 60px;
            font-family: $font-en;
            color:  #000000;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-align: left;
            padding: 18px 20px 18px 18px;
            outline: none;
            appearance:none;
        }
        >.contact-select-tag::-ms-expand {
            display: none;
        }

        //MODIFIER
        &:before {
            cursor: pointer;
            content: " ";
            position: absolute;
            top: 12px;
            right: 20px;
            border-style: solid;
            margin-top: 12px;
            border-width: 8px;
            border-color: #ccc transparent transparent transparent;

        }
        &:hover::before {
            border-color: darken(#ccc, 50%) transparent transparent transparent;
        }
    }

    .contact-textarea {
        width: 100%;
        display: block;
        height: 150px;
        border: 2px solid #cccccc;
        font-family: $font-en;
        color:  #000000;
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        background-color:  #ffffff ;
        resize: none;
        padding: 17px 20px 0 22px;

        //MODIFIER
        &.contact-textarea::placeholder {
            font-family: $font-en;
            color: #dddddd;
            font-weight: 500;
            letter-spacing: 0.1em;
        }
        &.contact-input-mb {
            margin-bottom: 30px;
        }
    }

    .contact-submit {
        width: 100%;
        height: 60px;
        font-family: $font-en;
        color:  #fff;
        font-size: 20px;
        font-weight: 300;
        background: $color-default-black;
        letter-spacing: 0.08em;
        padding-left: 6px;

        box-shadow: 5px 5px 0 #c5c5c5;
        transition-property: box-shadow, transform;
        transition-duration: $duration;
        transition-timing-function: $easing;

        &:hover {
            text-decoration: none;
            transform: translate3d(0, 5px, 0);
            box-shadow: 0 0 0 #c5c5c5;
        }
    }

    //MODIFIER
    &.contact-form-pt {
        padding: 78px 0;
    }
}
