.hero {
    text-align: center;
    width: 100%;
    height: auto;
    background: url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
    min-height: 800px;
    z-index: 9999;
    overflow: hidden;

    .hero-inner {
        display: block;
        width: 100%;
        padding: 0;

        > .hero-heading {
            display: block;
            font-family: $font-lato;
            font-size: 164px;
            font-weight: 400;
            line-height: 100%;
            color: #fff;
            letter-spacing: 0.05em;
            margin: auto;
            width: 100%;
            padding-bottom: 15px;
        }

        > .hero-subheading {
            display: block;
            width: 100%;
            font-family: $font-lato;
            font-weight: 300;
            color: #fff;
            font-size: 60px;
            letter-spacing: 0.065em;
            line-height: 100%;
        }
    }
}
