.item {

    .item-inner {
        display: block;
        text-align: center;

        > .item-inner-image {
            width: 172px;
        }

        > .item-inner-heading {
            font-family: $font-en;
            color:  $color-default-black;
            font-size: 30px;
            font-weight: 700;
            line-height: 46px;
            text-align: center;
            letter-spacing: 0.085em;
            padding-top: 18px;
            padding-bottom: 11px;
        }

        > .item-inner-description {
            text-align: center !important;
            font-family: $font-en;
            color:  $color-default-black;
            font-size: 19px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.165em;
        }
    }

    &.is-visible {
        opacity: 1;
        transition: opacity 0.5s ease-in-out 0.25s;
    }
    &.is-invisible {
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.25s;
    }

}
