.main-visual {
    text-align: center;
    width: 100%;
    height: auto;
    background: url(../images/main-visual-img01.jpg) no-repeat center center;
    background-size: cover;
    z-index: 9999;
    overflow: hidden;

    .main-visual-inner {
        display: block;
        width: 100%;
        padding: 0;

            > .main-visual-heading {
                display: block;
                font-family: $font-lato;
                font-size: 160px;
                font-weight: 400;
                line-height: 100%;
                color: #fff;
                letter-spacing: 0.064em;
                margin: auto;
                width: 100%;
            }

            > .main-visual-subheading {
                display: block;
                width: 100%;
                font-family: $font-lato;
                font-weight: 300;
                color: #fff;
                font-size: 60px;
                letter-spacing: 0.065em;
                line-height: 100%;
            }
    }
}
