/*
#overview
nav
*/

/*
#styleguide
nav
```
<nav class="nav">
    <div class="nav-inner l-grid l-grid-col4">
        <ul class="nav-list l-grid-inner">

            <li class="nav-item l-grid-item">
                <a class="nav-link nav-link-current" href="#">
                    home
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    About
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    Service
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    Contact
                </a>
            </li>

        </ul>
    </div>
</nav>
```
*/

.nav {
    padding: 8px 0;
    position: relative;;
    .nav-inner {}
    
    .nav-list {
    }
    .nav-item {
        display: inline;
        position: relative;

        &.nav-item-mr-top {
            margin-right: 39px;
        }
        &.nav-item-mr-feature {
            margin-right: 32px;
        }
        &.nav-item-mr-service {
            margin-right: 30px;
        }
        &.nav-item-mr-news {
            margin-right: 0;
        }
    }
    .nav-link {
        font-family: Helvetica;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.07em;
        padding: 10px 0;
        text-align: left;
        color: $color-default-black;

        &:hover {
            text-decoration: none;
            color: lighten($color-default-black, 25%);
        }

    }
    //MODIFIER
    &.is-active {
        border-bottom: 2px solid $color-default-black;
    }
}
