.section {

    padding-top: 59px;

    .section-heading {
        font-family: $font-lato;
        color:  $color-default-black;
        font-size: 60px;
        font-weight: 500;
        line-height: 80px;
        text-align: center;
        letter-spacing: 0.085em;
        padding-bottom: 43px;

        //MODIFIER
        &.section-heading-service-mt {
            margin-top: -2px;
        }
        &.section-heading-service-mb {
            margin-bottom: 2px;
        }
        &.section-heading-feature-pb {
            padding-bottom: 47px;
        }
        &.section-heading-news-pb {
            padding-bottom: 32px;
        }
    }

    .section-content {

        > .section-content-inner {

        }

        //MODIFIER
        &.section-content-catch {

        }
    }

    //MODIFIER
    &.section-catch {
        background: rgba(151,145,142,1);
        background: linear-gradient(to bottom, rgba(151,145,142,1) 0%, rgba(195,187,184,1) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97918e', endColorstr='#c3bbb8', GradientType=1 );
    }
    &.section-feature {
        background: $color-default-grey;
        text-align: center;
        position: relative;
        padding-bottom: 72px;
    }
    &.section-contact {
        padding-top: 0;
        background: $color-default-grey;
        text-align: center;
    }
    &.section-news {
        background: $color-default-grey;
        text-align: center;
        padding-bottom: 70px;
    }

    &.section-pt {
        padding-top: 59px;
    }
}
