.service {

    width: 100%;
    display: block;

    .service-image {
        display: inline;
        width: 438px;
        height: 412px;
        margin-left: -15px;
    }
    .service-text {
        float: right;
        width: 580px;

        > .service-text-heading {
            font-family: $font-en;
            color: $color-default-black;
            font-size: 30px;
            font-weight: 700;
            line-height: 46px;
            text-align: right;
            letter-spacing: 0.11em;

            //MODIFIER
            &.service-text-heading-pb {
                padding-bottom: 40px;
            }
        }
        > .service-text-description {
            font-family: $font-en;
            color:  $color-default-black;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: right;
            letter-spacing: 0.125em;

            //MODIFIER
            &.service-text-description-pt {
                padding-top: 5px;
            }
        }

        //MODIFIER
        &.service-text-pt {
            padding-top: 70px;
        }
    }

    //MODIFIER
    &.service-pb {
        padding-bottom: 79px;
    }
}
