/*
#overview
social
*/

/*
#styleguide
social
```
<div class="social l-grid l-grid-col2">
    <ul class="l-grid-inner">
        <li class="l-grid-item">
            <a href="">
                <i class="sprite-sns-2x sprite-sns-facebook"></i>
            </a>
        </li>
        <li class="l-grid-item">
            <a href="">
                <i class="sprite-sns-2x sprite-sns-twitter"></i>
            </a>
        </li>
        <li class="l-grid-item">
            <a href="">
                <i class="sprite-sns-2x sprite-sns-instagram"></i>
            </a>
        </li>
    </ul>
</div>



```
*/

.social {
    text-align: left;
    margin-top: -3px;
    padding: 0;

    .social-footer-item {
        color: #fff;
        display: inline-block;
        margin: 0;
        text-decoration: none;

        > .social-footer-item-facebook {
            font-size: 30px;

            &:hover {
                color: #305097;
            }
        }
        > .social-footer-item-twitter {
            font-size: 25px;
            padding-left: 19px;

            &:hover {
                color: #00aced;
            }
        }
        > .social-footer-item-google-plus {
            font-size: 30px;
            //padding-top: -5px;
            padding-left: 16px;

            &:hover {
                color: #e74c3c;
            }
        }
    }

    //MODIFIER
    &.social-footer {
        color: #fff;
        //margin-right: 181px;
    }

    &.social-footer-pr {
        padding-right: 181px;
    }

}
