.spotlight {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    opacity: 0;

    &.is-active {
        opacity: 1;
        border-bottom: 2px solid $color-default-black;
        transition: opacity 0.25s ease-in-out;
    }
}
