/*
l-footer
*/
.l-footer {
    background-color: $color-default;
    color: $color-white;
    padding: 10px 0;
    font-size: 14px;
    .l-footer-icon{
        float: right;
    }
    .l-footer-icon-list{
            vertical-align: middle;
            width: 110px;
        }
    .l-footer-icon-list-link{
        text-decoration: none;
        color: $color-white;
        font-size: 30px;
        &.l-footer-icon-list-facebook{
            &:hover{
                color: #305097;
            }
        }
        &.l-footer-icon-list-twitter{
            &:hover{
                color: #00aced;
            }
        }
        &.l-footer-icon-list-google{
            &:hover{
                color: #e74c3c;
            }
        }
    }
    .l-footer-copyright{
        padding: 10px 0;
        float: left;
    }
}

//css汚いので直しておくこと。