/*
l-header
*/

.l-header {
    background-color: $color-white;
    padding: 29px;

    .l-header-left {
        float: left;
    }
    .l-header-right {
        float: right;
        width: 50%;
    }
}