@charset "utf-8";

@import 'setting';
@import 'base/sanitize';
@import 'base/mixin';
@import "base/placeholders";
@import 'base/base';

@import "lib/media-queries";
@import "lib/clearfix";
@import 'lib/flex';

// @import 'sprites/icon';

// @import "components/header";

@import 'layout/grid';
@import 'layout/layout';

.l-container {
    padding-left: 150px;
    padding-right: 150px;
}

.hero {
    background: url(../images/hero-bg.png) no-repeat;
    background-size: 100%;
    height: 800px;

    .hero-details {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        right: 0;
        left: 0;
        color: rgb(255, 255, 255);
        .hero-title {
            font-family: 'Lato', sans-serif;
            font-size: 160px;
            
        }
        .hero-description {
            font-size: 60px;
        }
    }
    
}
header {
    .header-logo,.header-nav {width: 50%;float: left;}
}

.concept {
    background: rgb(151,145,142);
    background: linear-gradient(90deg, rgba(151,145,142,1) 0%, rgba(195,187,184,1) 100%);
}

.features {
    .l-container {
        display: inline-flex;
        .feature-col {
            text-align: center;
        }
    }
    
}