.l-g-row {
    @extend %u-clearfix;
    display: block;
}
.l-g-col {
    box-sizing: border-box;
    display: block;
    float: left;
}

.l-g-col-10 {
    width: 83.3333%;
}
.l-g-col-6 {
    width: 50%;
}
.l-g-col-3 {
    width: 33.3333%;
}
.l-g-col-2 {
    width: 16.6666%;
}