
.after-share {
    margin: 0 0 43px 0;
    &-list {
        display: table;
        > li {
            display: table-cell;
        }
    }
    &-list-fb,
    &-list-tw {
        width: (350px/800px)*100%;
    }
    &-list-other {
        width: (80px/800px)*100%;
        border: 1px solid #999999;
        border-radius: 3px;
    }
    &-list-fb {
        a {
            &:hover {}
        }
    }
    &-list-tw {
        a {
            &:hover {}
        }
    }
    &-list-other {
        height: 10%;
        cursor: pointer;
        .more-list {
            position: absolute;
            top: -180px;
            left: -45px;
            &:after {
                position: absolute;
                bottom: -17px;
                left: 75px;
                display: block;
                content: "";
                width: 20px;
                height: 17px;
                background: url(../images/icon_fukidashi.png) no-repeat;
                transform: rotate(180deg);
                border-top: 1px solid #fff;
            }
            &:before {
                display: none;
            }
        }
        > div {
            width: 80px;
            height: 100%;
            display: block;
            background: url(../images/btn_other.png) no-repeat;
            background-position: center;
            li {
                display: block;
            }
        }
    }
}