.before-share-list {
    position: relative;
    h3 {
        position: absolute;
        width: 100px;
        height: 30px;
        font-size: 13px;
        display: block;
        border-radius: 3px;
        background: #999;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        background: #999 url(../images/icon_arrow_share.png) no-repeat;
        background-position: 87px 14px;
        text-indent: -10px;
        &:hover {
            cursor: pointer;
        }
    }
    .more-list {
        box-sizing: border-box;
        width: 170px;
        background: #fff;
        border: 1px solid #999999;
        display: none;
        position: absolute;
        top: 40px;
        left: -34px;
        margin: 0 auto;
        &:before {
            position: absolute;
            top: -17px;
            left: 75px;
            display: block;
            content: "";
            width: 20px;
            height: 17px;
            background: url(../images/icon_fukidashi.png) no-repeat;
        }
        li {
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: none;
            }
            a {
                display: block;
                height: 100%;
                color: #333;
                padding: 14px 14px 14px 58px;
                font-size: 13px;
            }
            &.l-more-list-item01 {
                background: url(../images/icon_share_fb.png) no-repeat;
                background-position: 20px 14px;
            }
            &.l-more-list-item02 {
                background: url(../images/icon_share_tw.png) no-repeat;
                background-position: 20px 14px;
            }
            &.l-more-list-item03 {
                background: url(../images/icon_share_google.png) no-repeat;
                background-position: 22px 14px;
            }
            &.l-more-list-item04 {
                background: url(../images/icon_share_hatena.png) no-repeat;
                background-position: 22px 14px;
            }
            &.l-more-list-item05 {
                background: url(../images/icon_share_pocket.png) no-repeat;
                background-position: 20px 14px;
            }
            &.l-more-list-item06 {
                background: url(../images/icon_share_mail.png) no-repeat;
                background-position: 21px 14px;
            }
        }
    }
}