// category
.cate {
    display: inline-block;
    padding: 5px;
    line-height: 1;
    font-size: 10px;
    color: #fff;
    border-radius: 2px;
    &.sports {
        background: $color_sports;
    }
    &.music {
        background: $color_music;
    }
    &.life {
        background: $color_life;
    }
    &.camera {
        background: $color_camera;
    }
    &.kitchen {
        background: $color_kitchen;
    }
}