.header-searchbox {
    $this: &;
    float: right;
    padding: 35px 30px 0 0;
    #{$this}-search {
        padding-right: 50x;
        float: left;
    }
    .searchform {
        position: relative;
        margin: 0 80px 0 0;
    }
    .keywords {
        width: 248px;
        height: 30px;
        background: #fff;
        border: 1px solid #ccc;
        padding: 8px;
        color: #000;
        border-radius: 2px;
    }
    .search-button {
        position: absolute;
        outline: none;
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        top: 0;
        _top: 1px;
        right: -49px;
        width: 50px;
        height: 30px;
        backface-visibility: hidden;
        border: 1px solid #ccc;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    #{$this}-sns {
        overflow: hidden;
        float: left;
        li {
            margin: 0 10px 0 0;
            float: left;
            width: 30px;
            height: 30px;
            a {
                display: block;
                width: 100%;
                border-radius: 2px;
                height: 100%;
                box-sizing: border-box;
                border: 1px solid #999;
                &:hover {
                    border: 1px solid #666;
                }
            }
        }
        #{$this}-link-facebook {
            a {
                background: url(../images/icon_facebook@2x.png) no-repeat;
                background-position: center;
                background-size: 9px 16px;
                &:hover {
                    background: #666 url(../images/icon_facebook_on@2x.png) no-repeat;
                    background-position: center;
                    background-size: 9px 16px;
                }
            }
        }
        #{$this}-link-twitter {
            margin: 0 0 0 0;
            a {
                background: url(../images/icon_twitter@2x.png) no-repeat;
                background-position: center;
                background-size: 15px 13px;
                &:hover {
                    background: #666 url(../images/icon_twitter_on@2x.png) no-repeat;
                    background-position: center;
                    background-size: 15px 13px;
                }
            }
        }
    }
}
