.latestlesson {
    overflow: hidden;
    > li {
        width: (350px/1090px)*100%;
        margin-right: (20px/1090px)*100%;
        margin-bottom: (44px/1090px)*100%;
        float: left;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
    }
}
