.likebox {
    box-sizing: border-box;
    border: 5px solid #e6e6e6;
    background: #fff;
    padding: 20px;
    margin: 0 0 66px 0;
    &-innner {
        max-width: 500px;
        margin: 0 auto;
    }
    .fb-page {
        width: 100%;
    }
    .fb_iframe_widget,
    .fb_iframe_widget span,
    .fb_iframe_widget iframe[style] {
        width: 100% !important;
    }
}