.loading {
      padding: 45px;
    clear: both;
    text-align: center;
    .load {
        width: 37px;
        height: 37px;

        animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

