// lesson-box
.main-lesson-box {
    a img {
        opacity: 1;
    }
    a:hover .thumbwrap {
        -webkit-transition: opacity .3s ease-in;
        -moz-transition: opacity .3s ease-in;
        -o-transition: opacity .3s ease-in;
        opacity: .7;
    }
    &-inner {
        position: relative;
        
        
    }
    .thumbwrap {
        display: block;
        z-index: 1;
        margin: 0 0 10px 0;
        position: relative;
        img {
            width: 100%;
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            z-index: 2;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            /* ▼ 透過グラデーション設定 ▼ */
            background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, .5));
        }
    }
    .topikcs-tag {
        z-index: 10;
        position: absolute;
        top: 9px;
        left: 9px;
        li {
            display: inline-block;
        }
    }
    .topicks-cat {
        margin: 0 10px 0 0;
    }
    .topicks-date {
        color: #fff;
        font-size: 13px;
        font-family: "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
    }
    .article-wrap {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px;
    }
    .lesson-topickname {
        color: #fff;
      
        font-size: 16px;
        font-weight: bold;
        padding: 0 0 5px 10px;
        vertical-align: bottom;
        position: relative;
        top: -10px;
    }
    .l-lesson-inner {
        .cate-list {
            color: #999;
            line-height: 1;
            display: inline-block;
        }
    }
    .l-lesson-inner-description {
        font-size: 16px;
        color: #000;
        margin: 7px 0 0 0;
        line-height: 1.3;
    }
    .article-inner {
        display: table;
        .l-table-cell {
            display: table-cell;
        }
        .lesson-topickface {
            width: 50px;
            margin-left: 3px;
            display: block;
        }
        .l-lesson-inner-description {
            color: #fff;
            font-size: 16px;
            line-height: 1.8;
            font-weight: bold;
        }
    }
}
