.main-item {
    overflow: hidden;
    > li {
        width: 50%;
        margin-right: 0;
        margin-bottom: 0;
        overflow: hidden;
        float: left;
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}