.pager {
    $this:&;
    
    padding: 57px 0;
    border-top: 5px solid #333333;
    border-bottom: 5px solid #333333;
    display: table;
    line-height: 1.8;
    > li {
        display: table-cell;
        width: 50%;
        &:first-child {
            border-right: 1px solid #cccccc;
            box-sizing: border-box;
            padding-right: 40px;
        }
        &:last-child {
            padding-left: 30px;
            dl {
                padding-right: 40px;
            }
        }
        #{$this}-inner {
            display: table;
            p,
            dl {
                display: table-cell;
            }
            #{$this}-thumb {
                width: 142px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            #{$this}-linkbox {
                width: 50px;
                vertical-align: middle;
                a {
                    height: 100%;
                    width: 100%;
                    background-position: center;
                }
            }
            dl {
                padding-left: 17px;
                vertical-align: top;
                dt {
                    font-size: 13px;
                    color: #ccc;
                    line-height: 2;
                }
                dd {
                    font-size: 16px;
                    line-height: 1.75;
                }
            }
        }
        #{$this}-link {
            vertical-align: middle;
            display: block;
            height: 100%;
            &.next {
                text-align: right;
            }
        }
    }
}