// ranking
.ranking {
    display: table;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    .thumb {
        display: table-cell;
        width: 220px;
        position: relative;
        height: auto;
        padding-right: 20px;
        .rank {
            position: absolute;
            display: block;
            z-index: 1;
            background: #000;
            font-family:$font-en;
            padding-top: 4px;
            width: 20px;
            height: 20px;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            text-align: center;
            line-height: 1;
            top: 0;
            left: 0;
        }
    }
    &-detail {
        padding-top: 7px;
        display: table-cell;
        line-height: 1.4;
        vertical-align: top;
        li {
            ul {
                display: table;
                width: 100%;
                li {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    .detail-face {
        width:67px;
        padding-right: 17px;
        img {
            width: 100%;
        }
    }
    .detail-name {
        font-size: 24px;
        vertical-align: middle;
        font-weight: bold;
    }
    &-ttl {
        font-size: 20px;
        padding-top: 2px;
    }
    .cate {
        text-align: right;
    }
    &-discription {
        color: #999999;
    }
}
