///archive-serch
.result {
    color: #fff;
    ul {
        display: table;
    }
    li {
        display: table-cell;
        vertical-align: bottom;
        line-height: 1;
    }
    &-item01 {
        font-size: 16px;
        font-weight: bold;
    }
    &-item02 {
        font-size: 48px;
        font-weight: bold;
        padding: 0 20px 0 17px;
    }
    &-item03 {
        font-size: 24px;
    }
    &-number {
        position: relative;
        top: 5px;
    }
}
