//single-article
.single-article {
    padding: 51px 0 50px 0;
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    line-height: 1.75;
    p {
        margin: 0 0 28px 0;
        a {
            color: #40b5ff;
            text-decoration: underline;
        }
        
        img{
            margin: 12px 0;
        }
    }
    .before-share-list {
        float: left;
        width: 100px;
    }
    div.video {
        margin: 0 0 40px 0;
    }
    h1 {
        clear: both;
        padding: 0 0 40px 0;
        border-bottom: 1px solid #000;
        margin: 0 0 46px 0;
        font-size: 36px;
        font-weight: bold;
        font-size: 36px;
        color: #000;
        line-height: 1.278;
    }
    h2 {
        font-size: 24px;
        color: #000;
        line-height: 1.75;
        border-bottom: 1px solid #000;
        font-weight: bold;
        margin: 0 0 25px 0;
    }
    .category-list {
        width: 700px;
        float: left;
        margin: 0 0 15px 0;
        li {
            display: inline-block;
        }
        .topicks-cat {}
        .cate {
            &.sports {}
        }
        .l-tag {
            margin-right: 20px;
            color: #999;
            line-height: 20px;
            height: 20px;
            font-size: 13px;
            &:after {
                margin-left: 18px;
                content: "";
                width: 1px;
                height: 20px;
                display: inline-block;
                background-color: #ccc;
                position: relative;
                top: 5px;
            }
        }
        .date {
            color: #999;
            line-height: 18px;
            font-size: 13px;
        }
    }
}
