.suporter {
    $this: &;
    
    padding: 29px;
    border: 1px solid #e6e6e6;
    background: #fff;
    margin: 0 0 20px 0;
    
    &-ttl {
    
    padding: 20px;
    border: 1px solid #e6e6e6;
    background: #fff;
    font-weight: bold;
    }

    
    &-inner {
        display: table;
        vertical-align: top;
        overflow: hidden;
        border-bottom: 1px solid #e6e6e6;
        #{$this}-thumb {
            display: table-cell;
            padding: 0 20px 28px 0;
            width: 120px;
        }
    }
    &-prof {
            display: table-cell;
            vertical-align: top;
            padding: 0 0 28px;
            dt {
                font-size: 20px;
                margin: 0 0 15px 0;
            }
            dd {
                line-height: 1.769;
                font-size: 13px;
            }
        }
    a {
        color: #0099cc;
    }
    &-name {
        background: #fff;
        clear: both;
        font-size: 20px;
        color: #666666;
        padding: 25px 0 0 0;
        border-top: #e6e6e6;
    }
    
}