.taglist {
    margin: 0 0 50px 0;
    dt {
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        margin-bottom: 13px;
    }
    dd {
        display: inline-block;
        margin: 0 10px 0 0;
        a {
            border: 1px solid #999;
            border-radius: 3px;
            padding: 6px;
            line-height: 1;
            &:hover {
                background: #999;
                color: #fff;
            }
        }
    }
}

