//similer lesson-box
.topicks {
    $this:&;
    
    .main-lesson-box-inner {
        position: relative;
    }
    .thumbwrap {
        margin: 0;
    }
    .article-wrap {
        padding: 20px;
    }
    #{$this}-tag {
        z-index: 10;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .article-inner {
        display: table;
        padding-top: (20px/575px)*100%;
        .l-table-cell {
            display: table-cell;
            vertical-align: top;
            padding: 0 30px 0 26px;
            #{$this}-name {
                color: #fff;
                font-size: 16px;
                line-height: 1.8;
                font-weight: bold;
            }
            .topicks-ttl {
                font-size: 24px;
                line-height: 1.2;
            }
        }
        #{$this}face {
            display: table-cell;
            vertical-align: top;
            float: left;
            width: 81px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .l-lesson-inner-description {
            font-size: 24px;
            color: #fff;
            line-height: 1.2;
        }
    }
}