.writer {
    $this:&;
    
    padding: 29px;
    border: 1px solid #e6e6e6;
    display: table;
    background: #fff;
    margin: 0 auto 10px;
    #{$this}-thumb {
        display: table-cell;
        width: 100px;
        img {
            width: 100%;
        }
        vertical-align: top;
    }
    #{$this}-prof {
        padding: 0 0 0 20px;
        display: table-cell;
        color: #666666;
        dt {
            font-size: 20px;
            margin: 0 0 15px 0;
        }
        dd {
            line-height: 1.769;
             font-size: 13px;
        }
    }
    a {
        color: #0099cc;
    }
}