.l-bitter {
    font-family:$font-en;
}

.t-right {
    text-align: right;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}

.clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.fixed {
    position: fixed;
}
