<% if(tag === "a"){ %>
<a class="nav-logo <%= mf %>" href="<%= link %>">
    <img src="images/logo-text.png" alt="<%= alt %>"/>
</a>
<% } else { %>
<div class="nav-logo <%= mf %>">
    <img src="images/logo-text.png" alt="<%= alt %>"/>
</div>
<% } %>
