/*
#overview
Color
*/
/*
#colors

@color-default #333
@color-base #f7f7f7
@color-border #ccc

@color-main #825794
@color-sub #ffbb4d
@color-caution #e74c3c

@color-white #fff
*/

$color-default: #333;
$color-base: #efefef;
$color-border: #ccc;

$color-main: #825794;
$color-sub: #ffbb4d;
$color-caution: #e74c3c;

$color-white: #fff;
$color-gray: #f6f6f6;
$color-form: #dddddd;