/*
* Variables font
*/

$font-jp: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-en: Helvetica, Arial, メイリオ, Meiryo, sans-serif;
$font-lato: 'Lato', sans-serif;

//icomoon
@font-face {
    font-family: 'icomoon';
    src:    url(' ../fonts/icomoon.eot?5rihge');
    src:    url('../fonts/icomoon.eot?5rihge#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?5rihge') format('truetype'),
        url('../fonts/icomoon.woff?5rihge') format('woff'),
        url('../fonts/icomoon.svg?5rihge#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
}
.icon-google:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
