* {
    box-sizing: border-box;
    font-size: $base-font-size + px;
    line-height: $base-line-height;
}
br {
    font-size: 0;
}

::selection {
    background: $color-border;
    color: #fff;
}

html {
    font-size: 62.5%;
    min-height: 100%;
	/*
    width: 100%;
	*/
}

body {
    font-size: $base-font-size + px;
    line-height: $base-line-height;
    font-family: $font-jp;
    background: $color-foundation;
    color: $color-default;
    width: 100%;
    letter-spacing: $base-letter-spacing;

    //state
    &.is-active {
        .l-header,
        .l-wrapper-inner,
        .follow-main.follow-main-sticky {
            left: 83%;
        }
        .slider-menu {
            left: 83%;
        }
    }
}

input,
button,
select,
textarea {
    font-family: $font-jp;
}

input,
button,
select,
textarea,
a,
div,
aside {
    &:focus {
        outline: none;
    }
}

a {
    color: $color-main;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.for-no-js,
.for-old {
    text-align: center;
    width: 100%;
    background: #000;
    color: #fff;
    height: 40px;
    line-height: 40px;
    z-index: $max-z + 1;
}

.for-old {
    display: none;

    .lt-ie9 & {
        display: block;
    }
}