.banners{
	//.banners__grid
	@at-root #{&}__grid{ 

		//.banners__grid-inner
		&-inner{
			margin:0 -8px;
			//border:1px solid red;
		}

		//.banners__grid-item
		&-item{
			padding:0 8px;
			//border:1px solid blue;
		}
	}

	//.banners__link
	@at-root #{&}__link{
		line-height:18px;
	}

	//.banners__image
	@at-root #{&}__image{
		vertical-align: middle;	
	}
}

/*
.primary-section-banners{
	background-color:#ffffff;

	.l-grid{
		//
		$horizSpace:34px;
		//$colCount:4;
		//overflow:hidden;
		//
		//border:1px solid #ff0000;
		.l-grid-inner{
			//margin:0 ($horizSpace * $colCount * -1);
			margin:0 ($horizSpace * -1);
			//border:1px solid #00ff00;
			.l-grid-item{
				padding:0 $horizSpace;
				//border:1px solid #0000ff;
			}
		}
	}
}
*/