.catch{
    position:relative;

	$char-spacing:70;
	//.catch__title
	@at-root #{&}__title{

    	position:relative;
    	z-index:5;

    	$font-size:20px;
    	$letter-spacing-multiplier:715;
		font-family: $font-lato;
		color:  #ffffff;
		font-size: $font-size;
		font-weight: 400;
		line-height: 30px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: center;
	}

	//.catch__desription
	@at-root #{&}__description{

    	position:relative;
    	z-index:5;

    	$font-size:15px;
    	$letter-spacing-multiplier:580;
		font-family: $font-en;
		color:  #ffffff;
		font-size: $font-size;
		font-weight: 300;
		line-height: 18px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: center;

		margin-top:18px;

		//border:1px solid blue;
	}

	//.catch__phone-group
	@at-root #{&}__phone-group{
		position:absolute;
		top:10px;
		left:50%;
		width:246px;
		margin-left:-123px;
		//border:1px solid red;
	}

	//.catch__phone-1
	@at-root .catch__phone-1{
		position:absolute;
    	left:0;
    	top:45px;
    	z-index:3;
	}
	//.catch__phone-2
	@at-root .catch__phone-2{
		position:absolute;
    	left:105px;
    	top:90px;
    	z-index:2;
	}
	//.catch__phone-3
	@at-root .catch__phone-3{
		position:absolute;
    	left:88px;
    	top:-46px;
    	z-index:1;
	}
}
