.down{
	position:absolute;
	left:50%;
	bottom:50px;

	$down-graphic-size:35px;
	margin-left:-($down-graphic-size/2);

	cursor:pointer;

	z-index:5;

	//.down__graphic
	@at-root #{&}__graphic{
		position:absolute;

		//circle graphic
		border:2px solid #ffffff;
		border-radius:50%;
		width:$down-graphic-size;
		height:$down-graphic-size;
		//arrow graphic
		&:before {
		    content: "";
		    position: absolute;
		    bottom: 6px;
		    left: 10px;
		    border-style: solid;
		    border-width: 6px;
		    border-color: #ffffff transparent transparent transparent;
		}
	}
}