.feature{

	//.feature__article
	@at-root #{&}__article{

		//--is-shown and --is-hidden
		@mixin shown-animation-state(){
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&--is-shown{
				opacity:1;
			}
		}
		
		//.feature__article-image
		&-image{
			text-align:center;
			margin-top:10px;
			//@include shown-animation-state();
		}

		//.feature__article-image-element
		&-image-element{
			margin:auto;
		}

		//.feature__article-title
		&-title{
			$font-size:20px;
			$char-spacing:70;
			$letter-spacing-multiplier:640;
			font-family: $font-en;
			color: #333333;
			font-size: $font-size;
			font-weight: 400;
			line-height: 100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
			text-align:center;

			margin-top:15px;

			//@include shown-animation-state();
		}

		//.feature__article-description
		&-description{
			$font-size:15px;
			$char-spacing:70;
			$letter-spacing-multiplier:600;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;			
			font-weight: 300;
			line-height: 23px;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
			text-align:center;

			margin-top:10px;

			//@include shown-animation-state();
		}
	}

	//.feature__pager
	@at-root #{&}__pager{
		position:absolute;
		left:16px;
		top:69px;

		cursor:pointer;

		//circle graphic
		border:2px solid #666666;
		border-radius:50%;
		width:35px;
		height:35px;
		//arrow graphic
		&:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 6px;
            border-style: solid;
            border-width: 6px;
            border-color: transparent #666666 transparent transparent;
        }

        //.feature__pager--right
        &--right{
			left:auto;
			right:16px;   
			&:before {
				left:auto;
				right:6px;
				border-color: transparent transparent transparent #666666;
			}
        }

        //.feature__pager--is-disabled
        &--is-disabled{
        	opacity:0.3;
        }
	}
}





/*
.primary-section-feature{
	background-color:#f6f6f6;
	position:relative;
	z-index:4;
	
	padding-bottom:$base-padding-bottom + 50;;

	.primary-section-title{
		margin-bottom:110px;
	}

	.l-grid{
		//
		$horizSpace:70px;
		.l-grid-inner{
			margin:0 ($horizSpace * -1);
			.l-grid-item{
				padding:0 $horizSpace;
			}
		}
	}
	
	.primary-section-article{
		.primary-section-article-html5-image{
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&-fadeIn{
				opacity:1;
			}
		}
		.primary-section-article-css3-image{
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&-fadeIn{
				opacity:1;
			}
		}
		.primary-section-article-javascript-image{
			opacity:0;
			transition-property: opacity;
    		transition-duration: $duration;
    		transition-timing-function: $easing;
    		transition-delay: $delay;
			&-fadeIn{
				opacity:1;
			}
		}
			
	}

}
*/

