/*
l-footer
*/

/*.footer {
    background-color: $color-default;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 10px;

    //Modifier margin
    &.footer-mt {
        margin-top: 50px;
    }
    &.footer-mt-sm {
        margin-top: 30px;
    }
    &.footer-mt {
        margin-top: 70px;
    }
}
*/

.footer{
    padding-top:5px;
    padding-bottom:5px;
    //padding-left:10px;
    //padding-right:0px;

    height:27px;
    background-color: #333333;

    line-height:0px;

    //.footer__copyright
    @at-root #{&}__copyright{
        $font-size:7px;
        $char-spacing:20;
        $letter-spacing-multiplier:1200;
        font-family:$font-en;
        font-size:$font-size;
        font-weight:300;
        color:#ffffff;
        line-height: 100%;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
        //border:1px solid white;
    }

    //.footer__left
    @at-root #{&}__left{
        float:left;
        margin-left:10px;
        margin-top:3px;
        //border:1px solid blue;
    }

    //.footer__right
    @at-root #{&}__right{
        float:right;
        margin-right:10px;
        //border:1px solid blue;
    }

    //.footer__icons
    @at-root #{&}__icons{
        padding:0 4px;

        color:#ffffff;

        font-size:15px;
        text-decoration: none;
        transition:color 0.1s ease-out;

        //.footer__icons--facebook
        &--facebook:hover{
            color:#305097;
            text-decoration: none;
        }
        //.footer__icons--twitter
        &--twitter{
            font-size:13px;
            &:hover{
                color:#00aced;
                text-decoration: none;
            }
        }
        //.footer__icons--googleplus
        &--googleplus:hover{
            color:#e74c3c;
            text-decoration: none;
        }
    }
}