/*
#overview
l-grid
*/

/*
#styleguide
l-grid
style comment.

```
<div class="l-grid">
	<ul class="l-grid-inner">
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
	</ul>
</div>

<div class="l-grid l-grid-col3">
	<ul class="l-grid-inner">
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
	</ul>
</div>

<div class="l-grid l-grid-col6 l-grid-lg-col4 l-grid-md-col3 l-grid-sm-col2">
	<ul class="l-grid-inner">
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
	</ul>
</div>
```
*/

.grid {
    text-align: center;
    .grid-inner {
        font-size: 0;
        letter-spacing: 0;
    }
    .grid-item {
        display: inline-block;
        vertical-align: top;
        font-size: $base-font-size + px;
    }

    //Modifier column
    &.grid-col2 {
        .grid-item {
            width: 50%;
            @include androidWidth(50%);
        }
    }
    &.grid-col3 {
        .grid-item {
            width: 33.3333%;
        }
    }
    &.grid-col4 {
        .grid-item {
            width: 25%;
            @include androidWidth(25%);
        }
    }
    &.grid-col5 {
        .grid-item {
            width: 20%;
            @include androidWidth(20%);
        }
    }
    &.grid-col6 {
        .grid-item {
            width: 16.6666%;
        }
    }

    /* Break point large */
    @media all and (max-width: $break-large) {

        &.grid-lg-col1 {
            .grid-item {
                width: 100%;
            }
        }
        &.grid-lg-col2 {
            .grid-item {
                width: 50%;
                @include androidWidth(50%);
            }
        }
        &.grid-lg-col3 {
            .grid-item {
                width: 33.3333%;
            }
        }
        &.grid-lg-col4 {
            .grid-item {
                width: 25%;
                @include androidWidth(25%);
            }
        }
        &.grid-lg-col5 {
            .grid-item {
                width: 20%;
                @include androidWidth(20%);
            }
        }
        &.grid-lg-col6 {
            .grid-item {
                width: 16.6666%;
            }
        }
    }

    /* Break point medium */
    @media all and (max-width: $break-medium) {

        &.grid-md-col1 {
            .grid-item {
                width: 100%;
            }
        }
        &.grid-md-col2 {
            .grid-item {
                width: 50%;
                @include androidWidth(50%);
            }
        }
        &.grid-md-col3 {
            .grid-item {
                width: 33.3333%;
            }
        }
        &.grid-md-col4 {
            .grid-item {
                width: 25%;
                @include androidWidth(25%);
            }
        }
        &.grid-md-col5 {
            .grid-item {
                width: 20%;
                @include androidWidth(20%);
            }
        }
        &.grid-md-col6 {
            .grid-item {
                width: 16.6666%;
            }
        }
    }

    /* Break point small */
    @media all and (max-width: $break-small) {

        &.grid-sm-col1 {
            .grid-item {
                width: 100%;
            }
        }
        &.grid-sm-col2 {
            .grid-item {
                width: 50%;
                @include androidWidth(50%);
            }
        }
        &.grid-sm-col3 {
            .grid-item {
                width: 33.3333%;
            }
        }
        &.grid-sm-col4 {
            .grid-item {
                width: 25%;
                @include androidWidth(25%);
            }
        }
        &.grid-sm-col5 {
            .grid-item {
                width: 20%;
                @include androidWidth(20%);
            }
        }
        &.grid-sm-col6 {
            .grid-item {
                width: 16.6666%;
            }
        }
    }
}
