.header{
    z-index:10;
    pointer-events: none;
    //border:1px solid black;

    //.header__left
    @at-root #{&}__left{
        float:left;
        margin-top:15px;
        margin-left:15px;

        //discuss the 20px issue later
        vertical-align: top;
        line-height:20px;
    }

    //.header__right
    @at-root #{&}__right{
        float:right;
    }

    //.header--is-sticky
    @at-root #{&}--is-sticky{
        position:fixed;
        top:0px;
        width:100%;
    }
}