.main{
    position:relative;
    pointer-events: none;
    z-index:5;
    overflow:hidden;

    //.main__image
    @at-root #{&}__image{
        display:inline-block;
    }

    $title-description-spacer:17px;
    $char-spacing:50;
    $letter-spacing-multiplier:640;
    //.main__title
    @at-root #{&}__title{
        width:100%;
        position:absolute;

        $font-size:80px / 2;
        font-family: $font-lato;
        color: #ffffff;
        font-size:$font-size;
        font-weight: 300;
        line-height:100%;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
        text-align: center;

        top:50%;
        margin-top:-$font-size - ($title-description-spacer/2);
        //border:1px solid #0000ff;        

        z-index:1;
    }
    //.main__description
    @at-root #{&}__description{        
        width:100%;
        position:absolute;

        $font-size:30px / 2;
        font-family: $font-lato;
        color: #ffffff;
        font-size:$font-size;
        font-weight: 100;
        line-height:100%;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
        text-align: center;

        top:50%;
        margin-top:($title-description-spacer/2);
        //border:1px solid #ff0000;        

        z-index:2;
    }
}