.mail{
	//
	//border:1px solid blue;
	margin:auto;
	width:100%;

	//.mail__form
	@at-root #{&}__form{
		display:block;
		border-style: solid;
		border-width: 1px;
		border-color:  #cccccc;
		box-sizing: border-box;
		background-color:  #ffffff;

		width:100%;
		max-width:300px;
		height: 30px;
		padding:10px;

		margin:auto;

		$font-size:10px;
		$char-spacing:50;
    	$letter-spacing-multiplier:640;
		font-family: Helvetica;
		color:  #000000;
		font-size: $font-size;
		font-weight: 300;
		line-height: 10px;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: left;

		//
		&::placeholder{
			color: #dddddd;
		}

		//.mail__form--email
		&--email{
			margin-top:10px;
		}
		//.mail__form--comments
		&--comments{
			height: 75px;
			resize: none;
			margin-top:10px;
			border-radius:0px;
		}
		//.mail__form--topic
		&--topic{
			//padding-top:8px;
			padding-bottom:8px;

			$font-size:10px;
			$char-spacing:50;
	    	$letter-spacing-multiplier:500;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			margin-top:10px;
			//text-indent:-2px;

			appearance:none; //webkit moz remove default arrow
			&::-ms-expand{
				display:none; //win8 ie11 remove default arrow
			}
		}
		//.mail__form--submit
		&--submit{
			background-color:  #333333;
			border:0px;
			color: #ffffff;
			text-align: center;
			margin-top:10px;

			border-radius: 0px;
			box-shadow: 3px 3px 0px 0px rgba(51, 51, 51, 0.25);
			&:hover {
		        text-decoration: none;
		        transform: translate3d(2px, 2px, 0);
		        //box-shadow: 0 0 0 darken($color-main,20%);
		        box-shadow: 3px 3px 0px 0px rgba(51, 51, 51, 0);
		    }
		}
	}

	//.mail__arrow
	@at-root #{&}__arrow{
		position:relative;
		//border:1px solid red;
		max-width:300px;
		width:100%;
		margin:auto;
		&:before {
            cursor: pointer;
            pointer-events:none;
            content: "";
            position: absolute;
            top: -23px;
            right: 10px;
            border-style: solid;
            margin-top: 6px;
            //border-width: 8px;
            border-width: 4px;
            border-color: #ccc transparent transparent transparent;
        }
	}

	//.mail__left
	@at-root #{&}__left{
		float:left;
	}

	//.mail__right
	@at-root #{&}__right{
		float:right
	}
}
