//hamburger icon
@mixin hamburger($width, $line-height, $spacing, $color, $line-radius){
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width:$width;
    height:$line-height;
    background-color:$color;
    border-radius:$line-radius;
    margin:auto;
    //transition:all;
    //transition-duration: 1s;
    &::before, &::after{
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:$line-height;
        background-color:$color;
        border-radius:$line-radius;
        content:"";
    }
    &::before{
        top:($spacing + $line-height) * -1;
    }
    &::after{
        top:($spacing + $line-height);
    }
}
//close icon
@mixin close($width, $line-height, $color, $line-radius){
    position:absolute;
    top:-1px;
    right:0px;
    bottom:0px;
    left:0px;
    width:$width;
    height:$line-height;
    background-color:transparent;
    border-radius:$line-radius;
    margin:auto;
    &::before, &::after{
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:$line-height;
        background-color:$color;
        border-radius:$line-radius;
        content:"";
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

.menu{
	position:relative;
    float:right;
    margin-top:15px;
    margin-right:15px;

    cursor:pointer;
    pointer-events:auto;

    //
    width:24px; //for cursor bounds
    height:19px; //for cursor bounds
    //background-color:red;

    //.menu__graphic-hamburger
    @at-root #{&}__graphic-hamburger{
        //
        @include hamburger(24px, 2px, 6px, #ffffff, 5px);
    }
     //.menu__graphic-close
    @at-root #{&}__graphic-close{
        //
        @include close(24px, 2px, #ffffff, 5px);
    }
}