/*
#overview
nav
*/

/*
#styleguide
nav
```
<nav class="nav">
    <div class="nav-inner l-grid l-grid-col4">
        <ul class="nav-list l-grid-inner">

            <li class="nav-item l-grid-item">
                <a class="nav-link nav-link-current" href="#">
                    home
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    About
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    Service
                </a>
            </li>

            <li class="nav-item l-grid-item">
                <a class="nav-link" href="#">
                    Contact
                </a>
            </li>

        </ul>
    </div>
</nav>
```
*/

/*
.nav {
    padding: 8px 0;
    .nav-inner {}
    .nav-list {
        margin: 0 -10px;
    }
    .nav-item {
        padding: 0 10px;
    }
    .nav-link {
        display: block;
        padding: 10px;
        background-color: $color-base;
        text-align: center;
        color: #999;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}
*/



.nav{
    position:fixed;
    top:0px;

    pointer-events:auto;
    z-index:10;

    width:100%;
    height:100%;
    //border:5px solid red;

    //background-color:rgba(0, 0, 0, 0.6);

    @at-root #{&}__overlay{
        background-color:red;
        width:100%;
        height:150%;
        background-color:rgba(0, 0, 0, 0.6);
    }    

    //.nav__inner
    @at-root #{&}__inner{
        position:absolute;
        top:50%;
        margin-top:-163px;
        width:100%;
        //transition:all 1s ease-out;
        //border:1px solid blue;
    }

    //.nav--is-hidden;
    @at-root #{&}--is-hidden{
        display:none;
    }
    
    //.nav__list
    @at-root #{&}__list{
        //position:fixed;
        //left:50%;
        //margin-left:-70px;

        
        //margin-top:-254px;
        
        //border:1px solid blue;
    }

    //.nav__item
    @at-root #{&}__item{
        $font-size:20px;
        $char-spacing:70;
        $letter-spacing-multiplier:640;
        font-family: $font-en;
        font-size:$font-size;
        font-weight: 400;
        line-height:100%;
        letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
        text-align: center;
        color:#ffffff;

        padding:30px;
        //border:1px solid blue;

        z-index:1;
    }

    //.nav__link
    @at-root #{&}__link{
        color: #ffffff;
        text-decoration: none;
        //border:1px solid red;
        //pointer-events:auto;

        &:hover{
            text-decoration: none;
            //border-bottom:1px solid #cccccc;
        }
    }
}