.news{
	//border:1px solid red;
	padding-left:10px;
	padding-right:10px;

	//.news__article
	@at-root #{&}__article{
		border-bottom:1px solid #cccccc;
		margin-top:10px;

		padding-bottom:15px;
		line-height:0px;

		//border:1px solid red;

		//
		&:first-child{
			margin-top:0px;
		}

		//.news__article-date
		&-date{
			$font-size:10px;
			$char-spacing:70;
    		$letter-spacing-multiplier:640;
			font-family: $font-kozuka;
			color:  #333333;
			font-size: $font-size;
			line-height:100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
			text-align: left;

			display:inline-block; //make this inline for text-decoration:none

			//border:1px solid blue;
		}

		//.news__article-title
		&-title{
			$font-size:15px;
			$char-spacing:70;
			$letter-spacing-multiplier:640;
			font-family: $font-en;
			color: #333333;
			font-size: $font-size;
			font-weight: 700;
			line-height: 100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
			
			margin-top:7px;

			border-bottom:1px solid transparent;
		}

		//.news__article-link:hover .news__article-title
		&-link:hover &-title{
			text-decoration: none;
			border-bottom:1px solid #333333;
		}

		//.news__article-description
		&-description{
			$font-size:10px;
			$char-spacing:70;
			$letter-spacing-multiplier:600;
			font-family: $font-en;
			color:  #333333;
			font-size: $font-size;			
			font-weight: 300;
			line-height:100%;
			letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);

			//width:200px;

			//padding-top:4px;

			display:inline-block;

			border-bottom:1px solid transparent;

			//.news__article-description--line-2
			&--line-2{
				margin-top:0px;
			}
		}

		//.news-article-link:hover .news-article-description
		&-link:hover &-description{
			text-decoration: none;
			border-bottom:1px solid #333333;
		}

		//.news__article-left
		&-left{
			float:left;
			//border:5px solid orange;
		}

		//article-right
		&-right{
			//float:left;
			//border:5px solid orange;
			margin-left:94px;
		}
	}
}
