.section{
	position:relative;
	padding-top:$section-padding-top;
	padding-bottom:$section-padding-bottom;
	
	//border:1px solid red;

	//.section__title
	@at-root #{&}__title{ 
		$font-size:30px;
		$char-spacing:50;
    	$letter-spacing-multiplier:640;
		font-family: $font-lato;
		color:  #333333;
		font-size: $font-size;
		font-weight: 400;
		line-height: 100%;
		letter-spacing:($font-size * $char-spacing / $letter-spacing-multiplier);
		text-align: center;

		margin-bottom:27px;

		//.section__title--news
		&--news{
			//margin-bottom:27px;
		}
		//.section__title--mail
		&--mail{
			margin-bottom:37px;	
		}
	}
	
	//.section--catch
	@at-root &--catch{
		background-color:#ffffff;
		height:378px;
	}
	//.section--feature
	@at-root &--feature{
		background-color:#f6f6f6;
		z-index:4;
	}
	//.section--service
	@at-root &--service{
		background-color:#ffffff;
	}
	//.section--news
	@at-root &--news{
		background-color:#f6f6f6;
	}
	//.section--banner
	@at-root &--banners{
		background-color:#ffffff;
		padding-top:$section-padding-top - 48;
		padding-bottom:$section-padding-bottom - 48;
	}
	//.section--mail
	@at-root &--mail{
		background-color:#f6f6f6;
	}

	//.section__overlay
	@at-root #{&}__overlay{
		position:absolute;
		left:0px;
		top:0px;
		background-color:rgba(0, 0, 0, 0.6);
		width:100%;

		//.section__overlay--catch
		&--catch{
			height:378px;
			z-index:4;
		}
	}

}