.button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    &.button-submit{
        background-color: $color-default;
        color: $color-white;
        box-shadow: 5px 5px rgba(197,197,197,1);
        &:hover{
            box-shadow: 5px 5px rgba(51,51,51,1);
        }
    }
}