.catch{
    background-image: url(../images/catch-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 220px 0;
    color: $color-white;
    .catch-hedding{
        font-family: $font-lato;
        font-size: 40px;
        letter-spacing: 0.09em;
        margin-bottom: 62px;
    }
    .catch-text{
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 0.09em;
        line-height: 1.5;
    }
    .catch-img{
        position: absolute;
        &.catch-img-a{
            width: 296px;
            top: 5px;
            right: 174px;
            z-index: 3;
        }
        &.catch-img-b{
            width: 294px;
            top:  105px;
            right: -30px;
            z-index: 2;
        }
        &.catch-img-c{
            width: 271px;
            top: -180px;
            right: 23px;
            z-index: 1;
        }
    }
}