.contact{
    background-color: $color-gray;
    padding: 80px 0;
    .contact-left{
        width: 50%;
        float: left;
        padding: 0 20px;
    }
    .contact-right{
        width: 50%;
        float: right;
        padding: 0 20px;
    }
}