.feature{
    .feature-list{
        margin: 0 -70px;
    }
    .feature-item{
        padding: 0 70px;
    }
    .feature-item-img{
        margin-bottom: 20px
    }
    .feature-item-hedding{
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 5px
    }
    .feature-item-text{
        text-align: center;
        font-weight: 200;
        font-size: 20px;
    }
}