.form{
    border:2px solid $color-border;
    width: 100%;
    display: block;
    background-color: $color-white;
    padding: 10px 20px;
    font-size: 20px;
    &::placeholder{
        color: $color-form;
    }
    &.form-hasmargin{
        margin-bottom: 30px;
    }
    &.form-textarea{
        height: 160px;
    }
}

.form-pulldown{
    position: relative;
    &:after{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        width: 1.8em;
        display: block;
        content: "";
        background: url("../images/arrow-down.png") center no-repeat;
        pointer-events: none;
        background-size: 50%;
    }
}