.hero{
    width: 100%;//後ほどjavascriptでサイズを取得。
    height: 900px;//後ほどjavascriptでサイズw指定。
    background-image: url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $color-white;
    font-family: $font-lato;
    position: relative;
    .hero-text{
        position: absolute;
        width: 100%;
        top: 30%;
    }
    .hero-text-title{
        font-size: 160px;
    }
    .hero-text-discription{
        font-size: 60px;
        font-weight: 100;
    }
}