.navigation{
    .navigation-inner{
    }
    .navigation-list{
    }
    .navigation-item{
        font-size: 24px;
    }
    .navigation-link{
        color: #000;
        text-decoration: none;
    }
}