.newscard{
    text-decoration: none;
    color: $color-default;
    .newscard-left{
        float: left;
        width: 19%;
    }
    .newscard-right{
        float: left;
        width: 81%;
    }
    .newscard-time{
        font-size: 20px;
        letter-spacing: 0.1em;
    }
    .newscard-title{
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.08em;
    }
    .newscard-text{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
        font-weight: 200;
        padding: 40px 0 0 0;
    }
}