.section{
    padding: 75px 0;
    .section-hedding{
        text-align: center;
        font-weight: bold;
        font-size: 60px;
        font-family: $font-lato;
        margin-bottom: 55px;
    }
    &.section-feature{
        background-color: #f6f6f6;
    }
    &.section-service{

    }
    &.section-news{
        background-color: #f6f6f6;
    }
}