.service{
    .service-img{
        display: block;
        float: left;
    }
    .service-text{
        float: right;
        text-align: right;
    }
    .service-text-hedding{
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.09em;
        margin-bottom: 62px;
    }
    .service-text-discription{
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 0.09em;
        line-height: 1.5;
    }
}