.supporters{
    padding: 70px 0;
    .supporters-item{
        vertical-align: middle;
    }
    .supporters-item-img{
        &.supporters-item-ibm{
            width: 151px;
        }
        &.supporters-item-microsoft{
            width: 260px
        }
        &.supporters-item-twitter{
            width: 249px;
        }
        &.supporters-item-facebook{
            width: 215px
        }
    }
}