<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
    <%
var id = "category c";
var title = "lessons category-c";
var description = "discription";
var keywords = "keywords";
var type = "article";
%>
        <meta charset="UTF-8">
        <title>
            <%= title %>
        </title>
        <% include view/meta/_head %>
</head>

<body class="category-c">
    <% include view/leyout/_l-header %>
        <div class="l-container">
            <% include view/leyout/_l-sidebar %>
                <div class="l-main">
                    <div class="l-index">

                        <div class="l-heading">
                            <div class="heading-inner">
                                <h2 class="font-en">LIFE</h2>
                                <p>最新のニュースやトレンドに関する、
                                    <br> ホットな話題をお届けします。</p>
                            </div>
                        </div>



                        <!--topicks-->
                        <ul class="main-item">
                            <li>
                                <article class="main-lesson-box topicks">
                                    <a href="single.html">
                                        <div class="main-lesson-box-inner">
                                            <p class="thumbwrap"><img src="assets/images/ph_honda.jpg" alt=""></p>
                                            <div class="topikcs-tag">
                                                <em class="topicks-cat"><span class="cate life">ライフ</span></em>
                                                <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                            </div>

                                            <div class="article-wrap">
                                                <div class="article-inner">
                                                    <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                    <div class="l-table-cell">
                                                        <span class="topicks-name lesson-topickname">本田圭佑</span>
                                                        <h3 class="l-lesson-inner-description">
                                                    【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                                </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </li>
                            <li>
                                <article class="main-lesson-box topicks">
                                    <a href="single.html">
                                        <div class="main-lesson-box-inner">
                                            <span class="thumbwrap"><img src="assets/images/ph_ichiro.jpg" alt=""></span>

                                            <div class="topikcs-tag">
                                                <em class="topicks-cat"><span class="cate life">ライフ</span></em>
                                                <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                            </div>

                                            <div class="article-wrap">
                                                <div class="article-inner">
                                                    <span class="topicks-face lesson-topickface"><img src="assets/images/icon-ichiro.png" alt="イチロー"></span>
                                                    <div class="l-table-cell">
                                                        <span class="topicks-name lesson-topickname">イチロー</span>
                                                        <h3 class="l-lesson-inner-description">
                                                    【スペシャルテクニック動画】イチローが教えるホームランキャッチ
                                                </h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </article>
                            </li>
                            <li>
                                <article class="main-lesson-box topicks">
                                    <a href="single.html">
                                        <div class="main-lesson-box-inner">
                                            <p class="thumbwrap"><img src="assets/images/ph_nishikori.jpg" alt=""></p>

                                            <div class="topikcs-tag">
                                                <em class="topicks-cat"><span class="cate life">ライフ</span></em>
                                                <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                            </div>

                                            <div class="article-wrap">
                                                <div class="article-inner">
                                                    <span class="topicks-face lesson-topickface"><img src="assets/images/icon-nishikori.png" alt="錦織圭"></span>
                                                    <div class="l-table-cell">
                                                        <span class="topicks-name lesson-topickname">錦織圭</span>
                                                        <h3 class="l-lesson-inner-description">
                                                    【スペシャルテクニック動画】錦織圭が教えるエアーK
                                                </h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </article>
                            </li>
                            <li>
                                <article class="main-lesson-box topicks">
                                    <a href="single.html">
                                        <div class="main-lesson-box-inner">
                                            <p class="thumbwrap"><img src="assets/images/ph_naymal.jpg" alt=""></p>

                                            <div class="topikcs-tag">
                                                <em class="topicks-cat"><span class="cate life">ライフ</span></em>
                                                <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                            </div>

                                            <div class="article-wrap">
                                                <div class="article-inner">
                                                    <span class="topicks-face lesson-topickface"><img src="assets/images/icon-neymal.png" alt="ネイマール"></span>
                                                    <div class="l-table-cell">
                                                        <span class="topicks-name lesson-topickname">ネイマール</span>
                                                        <h3 class="l-lesson-inner-description">
                                                    【スペシャルテクニック動画】ネイマールが驚きのテクニックを披露
                                                </h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </article>
                            </li>
                        </ul>



                        <!--        topikcs end-->

                        <section class="l-column">
                            <h2 class="l-column-title border-bottom">アクセスランキング</h2>
                            <ol class="article-loop">
                                <li class="article-loop-item">
                                    <article class="ranking">

                                        <p class="thumb">
                                            <a href="single.html">
                                                <img src="assets/images/ph_nishikori.jpg" alt="">
                                                <span class="rank">1</span></a>
                                        </p>

                                        <ul class="ranking-detail">
                                            <li>
                                                <ul>
                                                    <li class="detail-face"><img src="assets/images/icon-nishikori.png" alt=""></li>
                                                    <li class="detail-name">錦織圭</li>
                                                    <li class="cate"><span class="t-right cate life">ライフ</span></li>
                                                </ul>
                                            </li>
                                            <li class="ranking-ttl">
                                                <h3><a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                            <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                        </ul>

                                    </article>
                                </li>
                                <li class="article-loop-item">
                                    <!-- ranking-->
                                    <article class="ranking">

                                        <p class="thumb">
                                            <a href="single.html">
                                                <img src="assets/images/ph_hanyuu.jpg" alt="">
                                                <span class="rank">2</span>
                                            </a>
                                        </p>

                                        <ul class="ranking-detail">
                                            <li>
                                                <ul>
                                                    <li class="detail-face"><img src="assets/images/icon_hanyuu.png" alt=""></li>
                                                    <li class="detail-name">羽生結弦</li>
                                                    <li class="cate"><span class="t-right cate life">ライフ</span></li>
                                                </ul>
                                            </li>

                                            <li class="ranking-ttl">
                                                <h3><a href="single.html">
                                        【スペシャルテクニック動画】羽生結弦が教える失敗しないトリプルアクセル</a></h3></li>
                                            <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                        </ul>

                                    </article>
                                </li>
                                <li class="article-loop-item">
                                    <!-- ranking-->
                                    <article class="ranking">

                                        <p class="thumb">
                                            <a href="single.html">
                                                <img src="assets/images/ph_naymal.jpg" alt="">
                                                <span class="rank">3</span>
                                            </a>
                                        </p>

                                        <ul class="ranking-detail">
                                            <li>
                                                <ul>
                                                    <li class="detail-face"><img src="assets/images/icon-neymal.png" alt=""></li>
                                                    <li class="detail-name">ネイマール</li>
                                                    <li class="cate"><span class="t-right cate life">ライフ</span></li>
                                                </ul>
                                            </li>
                                            <li class="ranking-ttl">
                                                <a href="single.html"><h3>
                                        【スペシャルテクニック動画】ネイマールが驚きのテクニックを披露</h3></a></li>
                                            <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                        </ul>
                                    </article>
                                    <!-- ranking-->
                                </li>
                                <li class="article-loop-item">
                                    <article class="ranking">
                                        <p class="thumb">
                                            <a href="single.html">
                                                <img src="assets/images/ph_ichiro.jpg" alt="">

                                                <span class="rank">4</span>
                                            </a>
                                        </p>

                                        <ul class="ranking-detail">
                                            <li>
                                                <ul>
                                                    <li class="detail-face"><img src="assets/images/icon-ichiro.png" alt=""></li>
                                                    <li class="detail-name">イチロー</li>
                                                    <li class="cate"><span class="t-right cate life">ライフ</span></li>
                                                </ul>
                                            </li>
                                            <li class="ranking-ttl">
                                                <a href="single.html"><h3>【スペシャルテクニック動画】イチローが教えるホームランキャッチ</h3></a></li>
                                            <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                        </ul>
                                    </article>
                                </li>
                                <li class="article-loop-item">
                                    <!-- ranking-->
                                    <article class="ranking">

                                        <p class="thumb">
                                            <a href="single.html">
                                                <img src="assets/images/ph_honda02.jpg" alt="">
                                                <span class="rank">5</span>
                                            </a>
                                        </p>

                                        <ul class="ranking-detail">
                                            <li>
                                                <ul>
                                                    <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                    <li class="detail-name">本田圭佑</li>
                                                    <li class="cate"><span class="t-right cate life">ライフ</span></li>
                                                </ul>
                                            </li>
                                            <li class="ranking-ttl">
                                                <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                            <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                        </ul>

                                    </article>
                                </li>
                            </ol>
                        </section>
                        <!--  l-column-->



                        <section class="l-column">

                            <h2 class="l-column-title">最新のレッスン</h2>

                            <ul class="latestlesson">
                                <!--loop start-->
                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <p class="thumbwrap">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </p>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">本田圭佑</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                サッカー、スペシャル、本田圭佑
                                            </span>
                                                <h3 class="l-lesson-inner-description">

                                                【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!-- loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">

                                                <img src="assets/images/ph_nishikori.jpg" alt="">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-nishikori.png" alt="錦織span"></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">錦織圭</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                テニス, スペシャル, 錦織圭
                                            </span>
                                                <h3 class="l-lesson-inner-description">

                                                【スペシャルテクニック動画】錦織圭が教えるエアーK
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!-- loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">

                                                <img src="assets/images/ph_naymal.jpg" alt="ネイマール">

                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </li>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-neymal.png" alt=""></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">ネイマール</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                サッカー, スペシャル, ネイマール
                                            </span>
                                                <h3 class="l-lesson-inner-description">

                                                【スペシャルテクニック動画】ネイマールが驚きのドリブルテクを披露
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!--   loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">

                                                <img src="assets/images/ph_ichiro.jpg" alt="">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-ichiro.png" alt="イチロー"></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">イチロー</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                野球, スペシャル, イチロー
                                            </span>

                                                <h3 class="l-lesson-inner-description">

                                                【スペシャルテクニック動画】イチローが教えるホームランキャッチ
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!--   loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">
                                                <img src="assets/images/ph_hanyuu.jpg" alt="羽生結弦">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </li>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon_hanyuu.png" alt=""></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">羽生結弦</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                スケート, スペシャル, 羽生結弦
                                            </span>
                                                <h3 class="l-lesson-inner-description">
                                                羽生結弦が教える必ず成功するトリプルアクセル
                                            </h3>
                                            </div>

                                        </a>
                                    </article>
                                </li>
                                <!--   loop end-->
                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">
                                                <img src="assets/images/ph_honda.jpg" alt="">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">本田圭佑</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                サッカー、スペシャル、本田圭佑
                                            </span>
                                                <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!--   loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">
                                                <img src="assets/images/ph_honda02.jpg" alt="">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">本田圭佑</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                サッカー、スペシャル、本田圭佑
                                            </span>
                                                <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!-- loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">
                                                <img src="assets/images/ph_nishikori.jpg" alt="">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </li>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-nishikori.png" alt="錦織圭"></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">錦織圭</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                テニス, スペシャル, 錦織圭
                                            </span>
                                                <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】錦織圭が教えるエアーK
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!-- loop end-->

                                <li>
                                    <article class="main-lesson-box">
                                        <a href="single.html">
                                            <div class="main-lesson-box-inner">
                                                <span class="thumbwrap">
                                                <img src="assets/images/ph_naymal.jpg" alt="ネイマール">
                                            </span>

                                                <ul class="topikcs-tag">
                                                    <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                    <li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </li>
                                                </ul>

                                                <div class="article-wrap">
                                                    <div class="article-inner">
                                                        <span class="topicks-face lesson-topickface"><img src="assets/images/icon-neymal.png" alt=""></span>
                                                        <div class="l-table-cell">
                                                            <span class="topicks-name lesson-topickname">ネイマール</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="l-lesson-inner">
                                                <span class="cate-list">
                                                サッカー, スペシャル, ネイマール
                                            </span>
                                                <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】ネイマールが驚きのドリブルテクを披露
                                            </h3>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!--   loop end-->
                            </ul>
                        </section>


                    </div>
                    <!--  l-index-->

                    <% include view/module/_loading %>
                </div>

        </div>

        <script src="assets/js/app.js" async></script>
</body>

</html>
