<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
       <%
var id = "index";
var title = "search";
var description = "discription";
var keywords = "keywords";
var type = "article";
%>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include view/meta/_head %>
</head>

<body>
    <% var cat = { class:'cate sports', text:'スポーツ' }; %>
        <% include view/leyout/_l-header %>
            <div class="l-container l-serchcontainer">
                <% include view/leyout/_l-sidebar %>
                    <div class="l-main">
                        <div class="l-index">
                            <div class="l-heading serch">
                                <div class="heading-inner">
                                    <h2 class="font-en searchword">「テニス」</h2>
                                    <div class="result">
                                        <ul>
                                            <li class="result-item01">検索結果：</li>
                                            <li class="result-item02 font-en"><span class="result-number">20</span></li>
                                            <li class="result-item03 font-en">results</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--        topikcs end-->

                            <section class="l-column">

                                <ol class="article-loop">
                                    <li class="article-loop-item">
                                        <article class="ranking">
                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_nishikori.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-nishikori.png" alt=""></li>
                                                        <li class="detail-name">錦織圭</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3><a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>

                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_hanyuu.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon_hanyuu.png" alt=""></li>
                                                        <li class="detail-name">羽生結弦</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>

                                                <li class="ranking-ttl">
                                                    <h3><a href="single.html">
                                        【スペシャルテクニック動画】羽生結弦が教える失敗しないトリプルアクセル</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>

                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">
                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_naymal.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-neymal.png" alt=""></li>
                                                        <li class="detail-name">ネイマール</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <a href="single.html"><h3>
                                        【スペシャルテクニック動画】ネイマールが驚きのテクニックを披露</h3></a></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                        <!-- ranking-->
                                    </li>
                                    <li class="article-loop-item">
                                        <article class="ranking">
                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_ichiro.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-ichiro.png" alt=""></li>
                                                        <li class="detail-name">イチロー</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <a href="single.html"><h3>【スペシャルテクニック動画】イチローが教えるホームランキャッチ</h3></a></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                        <li class="detail-name">本田圭佑</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                        <li class="detail-name">本田圭佑</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                        <li class="detail-name">本田圭佑</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                        <li class="detail-name">本田圭佑</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                        <li class="detail-name">本田圭佑</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                    <li class="article-loop-item">
                                        <!-- ranking-->
                                        <article class="ranking">

                                            <p class="thumb">
                                                <a href="single.html">
                                                    <img src="assets/images/ph_honda02.jpg" alt="">
                                                </a>
                                            </p>

                                            <ul class="ranking-detail">
                                                <li>
                                                    <ul>
                                                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                                                        <li class="detail-name">本田圭佑</li>
                                                        <li class="cate"><span class="t-right <%= cat.class %>"><%= cat.text %></span></li>
                                                    </ul>
                                                </li>
                                                <li class="ranking-ttl">
                                                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                                                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
                                            </ul>
                                        </article>
                                    </li>
                                </ol>
                            </section>
                            <!--  l-column-->


                        </div>
                        <!--  l-index-->

                        <% include view/module/_loading %>
                    </div>

            </div>

            <script src="assets/js/app.js" async></script>
</body>

</html>
