<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
    <%
var id = "single";
var title = "lessons";
var description = "discription";
var keywords = "keywords";
var type = "article";
%>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include view/meta/_head %>
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=435569379970710";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>

    <% include view/leyout/_l-header %>
        <div class="l-container l-serchcontainer">
            <% include view/leyout/_l-sidebar %>
                <main class="l-main">
                    <div class="l-single">
                        <article class="single-article">
                            <ul class="category-list">
                                <li class="topicks-cat"><span class="cate sports">スポーツ</span></li>
                                <li class="l-tag">サッカー, スペシャル, 本田圭佑</li>
                                <li class="date">2015/1/2</li>
                            </ul>
                            <section class="before-share-list clearfix">
                                <h3>シェアする</h3>
                                <div class="more-list">
                                    <ul>
                                        <% include view/module/_sns-item %>
                                    </ul>
                                </div>
                            </section>

                            <% include view/module/_content %>


                        </article>


                        <article class="single-boots">

                            <%- include view/module/_writer %>
                                <%- include view/module/_suporter %>

                                    <div class="after-share">
                                        <ul class="after-share-list">
                                            <li class="after-share-list-fb">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://liginc.co.jp" class="share"><img src="assets/images/btn_facebook.png" alt="Facebook"></a>
                                            </li>
                                            <li class="after-share-list-tw">

                                                <a data-url="<?php echo $xxx ; ?>" href="https://twitter.com/share" class="share twitter-share-button" data-lang="ja" data-count="vertical" data-dnt="true"><img src="assets/images/btn_twitter.png" alt="Twitter"></a>
                                            </li>
                                            <li class="after-share-list-other">
                                                <div>
                                                    <section class="before-share-list clearfix">

                                                        <div class="more-list">
                                                            <ul>
                                                                <li class="l-more-list-item03">
                                                                    <a href="https://plus.google.com/share?url={Permalink}" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">+1する</a>
                                                                </li>
                                                                <li class="l-more-list-item04"><a href="http://b.hatena.ne.jp/entry/{Permalink}" class="hatena-bookmark-button" data-hatena-bookmark-title="{Title}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加">はてブする</a>
                                                                    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                                                                </li>
                                                                <li class="l-more-list-item05"><a href="http://getpocket.com/edit?url=記事URL&title=記事タイトル" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">Pocketに保存</a></li>
                                                                <li class="l-more-list-item06"><a href="mailto:user@dammy.com">メールで送る</a></li>
                                                            </ul>
                                                        </div>
                                                    </section>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                    <dl class="taglist">
                                        <dt>関連のタグでLessonを探してみよう</dt>
                                        <dd><a href="">サッカー</a></dd>
                                        <dd><a href="">スペシャル</a></dd>
                                        <dd><a href="">本田圭佑</a></dd>
                                    </dl>

                                    <%- include view/module/_likebox %>
                                        
                        </article>

                        <!--  l-single-boots-->

                        <%- include view/module/_pager %>

                            <!-- //////   start relation-->

                            <section class="l-column">
                                <h2 class="l-column-title">最新のレッスン</h2>
                                <ul class="latestlesson border-bottom">
                                    <!--loop start-->
                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <p class="thumbwrap">
                                                        <img src="assets/images/ph_honda02.jpg" alt="">
                                                    </p>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate sports">スポーツ</span></li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">本田圭佑</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                サッカー、スペシャル、本田圭佑
                                            </span>
                                                    <h3 class="l-lesson-inner-description">

                                                【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!-- loop end-->

                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_nishikori.jpg" alt="">
                                            </span>
                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate kitchen">キッチン</span></li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </ul>
                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface">
                                                        <img src="assets/images/icon-nishikori.png" alt="錦織span">
                                                        </span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">錦織圭</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                テニス, スペシャル, 錦織圭
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】錦織圭が教えるエアーK
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!-- loop end-->
                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">

                                                <img src="assets/images/ph_naymal.jpg" alt="ネイマール">

                                            </span>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                        <li>
                                                            <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                        </li>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-neymal.png" alt=""></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">ネイマール</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                サッカー, スペシャル, ネイマール
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】ネイマールが驚きのドリブルテクを披露
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!--   loop end-->

                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_ichiro.jpg" alt="">
                                            </span>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate music">音楽</span></li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-ichiro.png" alt="イチロー"></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">イチロー</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                野球, スペシャル, イチロー
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】イチローが教えるホームランキャッチ
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!--   loop end-->

                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_hanyuu.jpg" alt="羽生結弦">
                                            </span>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate music">音楽</span></li>
                                                        <li>
                                                            <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                        </li>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon_hanyuu.png" alt=""></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">羽生結弦</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                スケート, スペシャル, 羽生結弦
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                羽生結弦が教える必ず成功するトリプルアクセル
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!--   loop end-->
                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_honda.jpg" alt="">
                                            </span>
                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate life">ライフ</span></li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </ul>
                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">本田圭佑</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                サッカー、スペシャル、本田圭佑
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!--   loop end-->

                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_honda02.jpg" alt="">
                                            </span>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate camera">カメラ</span></li>
                                                        <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-honda.png" alt="本田圭佑"></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">本田圭佑</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                サッカー、スペシャル、本田圭佑
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!-- loop end-->

                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_nishikori.jpg" alt="">
                                            </span>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate sports">スポーツ</span></li>
                                                        <li>
                                                            <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                        </li>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-nishikori.png" alt="錦織圭"></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">錦織圭</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                テニス, スペシャル, 錦織圭
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】錦織圭が教えるエアーK
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!-- loop end-->

                                    <li>
                                        <article class="main-lesson-box">
                                            <a href="single.html">
                                                <div class="main-lesson-box-inner">
                                                    <span class="thumbwrap">
                                                <img src="assets/images/ph_naymal.jpg" alt="ネイマール">
                                            </span>

                                                    <ul class="topikcs-tag">
                                                        <li class="topicks-cat"><span class="cate camera">カメラ</span></li>
                                                        <li>
                                                            <time class="topicks-date" datetime="2015-01-02">2015/1/2</time>
                                                        </li>
                                                    </ul>

                                                    <div class="article-wrap">
                                                        <div class="article-inner">
                                                            <span class="topicks-face lesson-topickface"><img src="assets/images/icon-neymal.png" alt=""></span>
                                                            <div class="l-table-cell">
                                                                <span class="topicks-name lesson-topickname">ネイマール</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="l-lesson-inner">
                                                    <span class="cate-list">
                                                サッカー, スペシャル, ネイマール
                                            </span>
                                                    <h3 class="l-lesson-inner-description">
                                                【スペシャルテクニック動画】ネイマールが驚きのドリブルテクを披露
                                            </h3>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <!--   loop end-->
                                </ul>
                            </section>
                            <!--l-relation end-->


                            <section class="l-column">
                                <h2 class="l-column-title border-bottom">アクセスランキング</h2>
                                <% include view/module/_article-loop %>                          
                            </section>

                            <!--  l-column-->
                    </div>
                    <!--  l-index-->

                    <% include view/module/_loading %>
                </main>
        </div>

        <script src="assets/js/app.js" async></script>
        <script src="https://apis.google.com/js/platform.js" async defer>
            {
                lang: 'ja'
            }

        </script>
</body>

</html>
