/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/
body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
	font-family: $font-base;
	color: $base-font-color;
	background-color: $base-background-color;

	a {
		display: block;
		cursor: pointer;
		text-decoration: none;
		list-style: none;
		color: $base-font-color;
	}
	button {
		cursor: pointer;
	}
}