    <!-- start footer-->
    <footer class="l-footer">
        <small class="l-footer-text">
            ©2016 Sample
        </small>
        <ul class="l-footer-icon">
          <li class="l-footer-icon-list"> <a class="l-footer-link" href="https://facebook.com" target="_blank"> <span class="icon-facebook"> </span> </a> </li>
          <li class="l-footer-icon-list"> <a class="l-footer-link" href="https://twitter.com" target="_blank"> <span class="icon-twitter"> </span> </a> </li>
          <li class="l-footer-icon-list"> <a class="l-footer-link" href="https://plus.google.com/" target="_blank"> <span class="icon-google"> </span> </a> </li>
        </ul>
    </footer>
    <!-- end footer-->
