<!--start header-->
<% include ../const/_data %>
<header class="l-header l-header-mb" id="js-navbar">
    <nav class="nav">
        <div class="nav__left">
            <div class="nav__logo">
                <a href="#js-hero" class="js-scroll">
                    <svg class="nav__logo__text" width="162" height="57" viewBox="0 0 162 57">
                        <text class="logo-wordmark" transform="translate(4.139 45.551) scale(1.045)">
                         Logo
                        </text>
                    </svg>
                </a>
            </div>
        </div>
        <div class="nav__right">
            <div class="nav__right__menu" id="js-menu">
                <span class="nav__right__menu__top"></span>
                <span class="nav__right__menu__middle"></span>
                <span class="nav__right__menu__bottom"></span>
            </div>
        </div>
        <div class="nav__overlay">
            <ul class="nav__overlay__menu">
                <% for(var iNav=0; iNav< navArray.length; iNav++) { %>
                <li class="nav__overlay__menu__list">
                    <a class="js-scroll nav__link" href="<%= navArray[iNav].link %>" id="<%= navArray[iNav].id %>">
                        <%= navArray[iNav].name %>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

</header>
<!--end header-->
