<% include ./const/_sample %>

<%
var id = "main";
var title = "";
var description = "hello world";
var keywords = "word1,word2,word3";
var type = "blog";
%>

<% include metadata/_head %>


<!-- Start Hero Section -->
<main class="l-page" id="js-hero">

    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-header">
                Hello world
            </h1>
            <p class="hero-description">
                -  description  text  -
            </p>
        </div>
    </div>
    <!-- End Hero Section -->

    <% include layout/_l-header %>

    <!-- Start Copy Section -->
    <section class="copy js-section" id="js-sec0">
        <div class="l-container">
             <div class="l-grid l-grid-col2">
                <div class="l-grid-inner">
                    <div class="l-grid-item">
                        <div class="copy-body">
                            <h2 class="copy-header">
                                Catch copy text catch copy !! <br>
                                Catch copy text!
                            </h2>
                            <p class="copy-content">
                                sample text sample text sample text sample text <br>
                                sample text sample text sample text sample <br>
                                sample text sample text sample text
                            </p>
                            <p class="copy-content">
                                sample text sample text sample text <br>
                                sample text sample text sample text sample text
                            </p>
                        </div>
                    </div>
                    <div class="l-grid-item">
                        <div class="copy-cellphone">
                            <img src="./images/cp1.png" alt="" class="copy-cellphone-image" id="js-cellphone1">
                            <img src="./images/cp2.png" alt="" class="copy-cellphone-image" id="js-cellphone2">
                            <img src="./images/cp3.png" alt="" class="copy-cellphone-image" id="js-cellphone3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- Start Feature Section -->
    <section class="feature js-section" id="js-sec1">
        <div class="l-container l-container-feature">
            <h2 class="feature-header">
                - Feature -
            </h2>
            <div class="l-grid l-grid-col3">
                <ul class="l-grid-inner">
                      <% for(var iFeature = 0; iFeature < featuresArray.length; iFeature ++) { %>
                      <li class="l-grid-item">
                          <div class="feature-module js-feature" id="<%- featuresArray[iFeature].id%>">
                              <img src="<%- featuresArray[iFeature].img.src%>" alt= "" class="feature-image">
                              <h3 class="feature-title">
                                  <%- featuresArray[iFeature].heading%>
                              </h3>
                              <p class="feature-description">
                                  <%- featuresArray[iFeature].description%>
                              </p>
                          </div>
                      </li>
                      <% } %>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Feature Section -->

    <!-- Start Service Section -->
    <section class="services js-section" id="js-sec2">
        <div class="l-container">
            <h2 class="services-title">
                - Service -
            </h2>
            <div class="l-grid l-grid-col2">
                <div class="l-grid-inner">
                    <div class="l-grid-item">
                        <img src="./images/services.png" alt="35% Okay 50% Fun 15% Terrible" class="services-graph">
                    </div>
                    <div class="l-grid-item">
                        <div class="services-module">
                            <h3 class="services-header">
                                2016 our results
                            </h3>
                            <p class="services-description">
                                sample text sample text sample text sample text <br>
                                sample text sample text sample text sample <br>
                                sample text sample text sample text <br>
                            </p>
                            <p class="services-description">
                                sample text sample text sample text <br>
                                sample text sample text sample text sample text <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Section -->

    <!-- Start News Section -->
    <section class="news js-section" id="js-sec3">
        <div class="l-container">
            <h2 class="news-header">
                - News -
            </h2>
            <ul class="news-list">
                <% for (var iNews = 0; iNews < newsArray.length; iNews ++) { %>
                <li class="news-body">
                    <article class="news-article">
                        <a href="#" class="news-link">
                            <time datetime="<%- newsArray[iNews].datetime%>" class="news-date"><%- newsArray[iNews].date%></time>
                            <h3 class="news-title"><%- newsArray[iNews].title %></h3>
                            <p class="news-description"> <%- newsArray[iNews].description %> </p>
                        </a>
                    </article>
                </li>
                <% } %>
            </ul>
        </div>
    </section>
    <!-- End News Section -->

    <!-- Start Brand Area -->
    <aside class="brands">
        <div class="l-container l-container-feature">
            <div class="brand-image">
                <div class="brands-image-list">
                    <img src="./images/ibm.png" alt="">
                </div>
                <div class="brands-image-list">
                    <img src="./images/microsoft.png" alt="">
                </div>
                <div class="brands-image-list">
                    <img src="./images/twitter.png" alt="">
                </div>
                <div class="brands-image-list">
                    <img src="./images/fb.png" alt="">
                </div>
            </div>
        </div>
    </aside>
    <!-- End Brand Area -->

    <!-- Start Contact Form Section -->
    <section class="contact">
        <div class="l-container">
            <div class="l-grid l-grid-col2">
                <ul class="l-grid-inner">
                    <li class="l-grid-item">
                        <div class="contact-form">
                            <ul>
                              <li class="contact-input"> <input type="text" placeholder="Name"> </li>
                              <li class="contact-input"> <input type="email" placeholder="E-mail"> </li>
                              <li class="contact-input">
                                  <select class="minimal">
                                      <option disabled selected>Please select your topic</option>
                                      <option value="option1"> Topic 1 </option>
                                      <option value="option2"> Topic 2 </option>
                                  </select>
                              </li>
                            </ul>
                        </div>
                    </li>
                    <li class="l-grid-item">
                        <div class="contact-comment">
                            <ul>
                              <li class="contact-input">
                                  <textarea name="Comments" placeholder="Comments"></textarea>
                              </li>
                              <li class="contact-input">
                                  <input type="submit" value="Submit">
                              </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Contact Form Section -->

</main>

<% include layout/_l-footer %>
<% include metadata/_script %>
