<%
    var category = [
        {
            text: 'スポーツ',
            image: './',
            link: '#',
            target: '_self'
        },
        {
            text: '音楽',
            image: './',
            link: '#',
            target: '_self'
        },
        {
            text: 'ライフ',
            image: './',
            link: '#',
            target: '_self'
        },
        {
            text: 'カメラ',
            image: './',
            link: '#',
            target: '_self'
        },
        {
            text: 'キッチン',
            image: './',
            link: '#',
            target: '_self'
        }
    ];
 %>

<ul class="catergory-group">
    <% for (var i = 0; i < category.length; i++) { %>
        <li class="category__list">
            <a class="category__link" href="<%= category[i].link %>" target="<%= category[i].target %>">
                <img class="category__logo" src="<%= category[i].image %>" alt="">
                <%= category[i].text %>
            </a>
        </li>
    <% } %>
</ul>
