<a class= "feature__link" href="<%= feature[iFeature].link %>" target="<%= feature[iFeature].target %>">
    <div class="feature__card">
        <img src="<%= feature[iFeature].image %>" alt="">
        <div class="feature__content">
            <div class="feature__wrap">
                <img class="feature__avatar" src="<%= feature[iFeature].avatar %>" alt="<%= feature[iFeature].name %>">
                <h2 class="feature__name"> <%= feature[iFeature].name %> </h2>
                <p class="feature__description"> <%= feature[iFeature].content %> </p>
            </div>
        </div>
    </div>
</a>
