<% if(tag === "a"){ %>
<a class="logo <%= mf %>" href="<%= link %>">
    <img src="images/lessons.png" width="253" height="52" alt="<%= alt %>"/>
</a>
<% } else { %>
<div class="logo <%= mf %>">
    <img src="images/lessons.png" width="253" height="52" alt="<%= alt %>"/>
</div>
<% } %>
