<%

var snsBtn = [
    {
        image: './',
        link: 'https://facebook.com',
        target: '_blank',
    },
    {
        image: './',
        link: 'https://twitter.com',
        target: '_blank',
    }
];

 %>
<% for (var i = 0; i < snsBtn.length; i++) { %>
    <a class="sns-btn" href="<%= snsBtn[i].link %>" target="<%= snsBtn[i].target %>">
        <img class="sns-btn__image" src="<%= snsBtn[i].image %>" alt="">
    </a>
<% } %>
