body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    line-height: 1;
    word-break: break-all;
    color: $color-default;
}

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
}

img {
    vertical-align: bottom;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
    display: block;
}

iframe {
    max-width: 100% !important;
}

img,
embed,
object,
video {
    width: 100%;
    height: 100%;
}

a,
label {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

blockquote {
    padding: 0;
    margin: 0;
    display: block;
}

address,
em {
    font-style: normal;
}

hr {
    border: 0;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

textarea {
    resize: vertical;
    overflow: hidden;
    -webkit-appearance: none;
    border: 0;
}

input,
button,
select {
    vertical-align: middle;
    border-radius: 0;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
}

a:-webkit-any-link {
    text-decoration: none;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    line-height: 1;
}
