<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->

<% include parts/_head %>

<body>
    <div class="wrapper">

        <div class="l-visual">
            <div class="l-visual-inner">
                <h1 class="visual-title">Hello world
                    <span class="visual-subtitle">- description text -</span>
                </h1>
            </div>
        </div>

        <% include parts/_header %>

        <section class="catch js-current" id="top">
            <div class="l-container" id="js-catch">

                <% include parts/_catch %>

            </div>
        </section>

        <section class="feature js-current" id="feature">
            <div class="l-container" id="js-feature">

                <% include parts/_feature %>

                </div>
        </section>

        <section class="service js-current" id="service">
            <div class="l-container">

                <% include parts/_service %>

            </div>
        </section>

        <section class="info js-current" id="news">
            <div class="l-container">

                <% include module/_info %>

            </div>
        </section>

        <div class="content">
            <div class="l-container l-container-alliance">

                <% include module/_alliance %>

            </div>
        </div>

        <div class="content content-bg">
            <div class="l-container">

                <% include parts/_form %>

            </div>
        </div>

        <% include parts/_footer.ejs %>

    </div>

<script src="js/app.js"></script>
</body>
</html>
