    <!--footer ここから-->
    <footer class="l-footer l-footer-pd u-clear">
        <div class="l-container">
            <div class="l-footer-left">
                <small>&copy;2016 Sample</small>
            </div>
            <div class="l-footer-right l-footer-right-pt">
                <div class="social social-footer social-footer-pr">
                    <a href="#" class="social-footer-item"><i class="social-footer-item-facebook icon-facebook"></i></a>
                    <a href="#" class="social-footer-item"><i class="social-footer-item-twitter icon-twitter"></i></a>
                    <a href="#" class="social-footer-item"><i class="social-footer-item-google-plus icon-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--footer ここまで-->
