<% var navArray = [ "Top", "Feature", "Service", "News" ]; %>

<!-- START HEADER-->
<div class="u-nav-offset">
    <header id="js-header" class="l-header">
        <div class="l-container u-clear">

            <div class="l-header-left">
                <a class="logo logo-pt" href="./">
                    <img src="images/logo.png" alt="logo"/>
                </a>
            </div>

            <div class="l-header-right static">
                <% var navItems = [
                    { id: "js-spotlight-top", href: "#js-body", section: "Top", margin: "nav-item-mr-top", spotlight: "spotlight-top"},
                    { id: "js-spotlight-feature", href: "#js-feature", section: "Feature", margin: "nav-item-mr-feature", spotlight: "spotlight-feature"},
                    { id: "js-spotlight-service", href: "#js-service", section: "Service", margin: "nav-item-mr-service", spotlight: "spotlight-service"},
                    { id: "js-spotlight-news", href: "#js-news", section: "News", margin: "nav-item-mr-news", spotlight: "spotlight-news"}
                ]; %>
                <nav class="nav">
                    <ul class="nav-list">
                        <% for(var i=0; i< navItems.length; i++) { %>
                        <li class="nav-item <%= navItems[i].margin %>">
                            <a class="nav-link js-scroll" href="<%= navItems[i].href %>">
                                <%= navItems[i].section %>
                                <span id="<%= navItems[i].id %>" class="spotlight"></span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
<!-- END HEADER -->
