<ol class="article-loop">
    <li class="article-loop-item">
        <article class="ranking">

            <p class="thumb">
                <a href="single.html">
                    <img src="assets/images/ph_nishikori.jpg" alt="">
                    <span class="rank">1</span></a>
            </p>

            <ul class="ranking-detail">
                <li>
                    <ul>

                        <li class="detail-face"><img src="assets/images/icon-nishikori.png" alt=""></li>
                        <li class="detail-name">錦織圭</li>
                        <li class="cate"><span class="t-right cate music">音楽</span></li>
                    </ul>
                </li>
                <li class="ranking-ttl">
                    <h3><a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
            </ul>

        </article>
    </li>
    <li class="article-loop-item">
        <!-- ranking-->
        <article class="ranking">

            <p class="thumb">
                <a href="single.html">
                    <img src="assets/images/ph_hanyuu.jpg" alt="">
                    <span class="rank">2</span>
                </a>
            </p>
            <ul class="ranking-detail">
                <li>
                    <ul>
                        <li class="detail-face"><img src="assets/images/icon_hanyuu.png" alt=""></li>
                        <li class="detail-name">羽生結弦</li>
                        <li class="cate"><span class="t-right cate kitchen">キッチン</span></li>
                    </ul>
                </li>

                <li class="ranking-ttl">
                    <h3><a href="single.html">
                                        【スペシャルテクニック動画】羽生結弦が教える失敗しないトリプルアクセル</a></h3></li>
                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
            </ul>
        </article>
    </li>
    <li class="article-loop-item">
        <!-- ranking-->
        <article class="ranking">

            <p class="thumb">
                <a href="single.html">
                    <img src="assets/images/ph_naymal.jpg" alt="">
                    <span class="rank">3</span>
                </a>
            </p>

            <ul class="ranking-detail">
                <li>
                    <ul>
                        <li class="detail-face"><img src="assets/images/icon-neymal.png" alt=""></li>
                        <li class="detail-name">ネイマール</li>
                        <li class="cate"><span class="t-right cate sports">スポーツ</span></li>
                    </ul>
                </li>
                <li class="ranking-ttl">
                    <a href="single.html"><h3>
                                        【スペシャルテクニック動画】ネイマールが驚きのテクニックを披露</h3></a></li>
                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
            </ul>
        </article>
        <!-- ranking-->
    </li>
    <li class="article-loop-item">
        <article class="ranking">
            <p class="thumb">
                <a href="single.html">
                    <img src="assets/images/ph_ichiro.jpg" alt="">

                    <span class="rank">4</span>
                </a>
            </p>

            <ul class="ranking-detail">
                <li>
                    <ul>
                        <li class="detail-face"><img src="assets/images/icon-ichiro.png" alt=""></li>
                        <li class="detail-name">イチロー</li>
                        <li class="cate"><span class="t-right cate camera">カメラ</span></li>
                    </ul>
                </li>
                <li class="ranking-ttl">
                    <a href="single.html"><h3>【スペシャルテクニック動画】イチローが教えるホームランキャッチ</h3></a></li>
                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
            </ul>
        </article>
    </li>
    <li class="article-loop-item">
        <!-- ranking-->
        <article class="ranking">
            <p class="thumb">
                <a href="single.html">
                    <img src="assets/images/ph_honda02.jpg" alt="">
                    <span class="rank">5</span>
                </a>
            </p>
            <ul class="ranking-detail">
                <li>
                    <ul>
                        <li class="detail-face"><img src="assets/images/icon-honda.png" alt=""></li>
                        <li class="detail-name">本田圭佑</li>
                        <li class="cate"><span class="t-right cate sports">スポーツ</span></li>
                    </ul>
                </li>
                <li class="ranking-ttl">
                    <h3>
                                        <a href="single.html">タイトルは全30文字タイトルは全30文字タイトルは全30文字</a></h3></li>
                <li class="ranking-discription">ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす...</li>
            </ul>
        </article>
    </li>
</ol>
