<h1>【スペシャルテクニック動画】本田圭佑が教える始めての無回転シュート
                            </h1>

<p>ゴールを決めるシュートはサッカーの醍醐味ですが、予測不能の変化でゴールキーパーを惑わす「無回転シュート」が注目を集めています。日本代表の本田圭佑選手も得意としている無回転シュートですが、ゴールキーパーが受け止めようとすると、ゴールキーパーの直前で落ちたり左右にブレたりするため、ゴールキーパーが受け止めることが出来ず、ゴールネットにボールが突き刺さります。</p>


<div class="video">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/jnMU_cYrHNQ?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<p>無回転シュートは、通常のシュートに比べて非常に回転数が少なく、名古屋大学：布目寛幸准教授の実験では、時速110Kmで蹴り出されたサッカーボールは毎秒0.8秒でした。完全な無回転ではありませんが、カーブシュートが毎秒4～10回転ですから、比較すると無回転シュートの方が極端に回転数が少ないことが分かります。</p>

<p>無回転シュートは、蹴り出されたサッカーボールのまわりの空気の渦の振動により、サッカーボールに掛かる力が刻々と変化することで、予測不能となる不規則な動きを生み出していると考えられています。</p>

<p><img src="assets/images/article-img01.jpg" alt=""></p>

<h2>見出しです無回転シュート</h2>

<p>一般のサッカー選手たちも、本田圭佑選手のような無回転シュートを蹴りたいと思うのは当然ですから、スポーツ関連メーカーのミズノは、2009年に無回転シュートを蹴りやすいスパイクシューズを開発したのですが、5か月間で5万足も売れるほどの人気でした。</p>
<p>一般のサッカー選手たちも、本田圭佑選手のような無回転シュートを蹴りたいと思うのは当然ですから、スポーツ関連メーカーのミズノは、2009年に無回転シュートを蹴りやすいスパイクシューズを開発したのですが、5か月間で5万足も売れるほどの人気でした。</p>

<h2>見出しです無回転シュート</h2>
<p>一般のサッカー選手たちも、本田圭佑選手のような無回転シュートを蹴りたいと思うのは当然ですから、スポーツ関連メーカーのミズノは、2009年に無回転シュートを蹴りやすい<a href="">スパイクシューズ</a>を開発したのですが、5か月間で5万足も売れるほどの人気でした。</p>
