<form name="searchform" class="searchform" method="get" action="search.html">
    <input name="<%= name %>" class="keywords" value="" placeholder="<%= placeholder %>" type="<%= type %>" />
    <input type="image" src="assets/images/icon_serch.gif" width="16" alt="" name="search-button" class="search-button" />
</form>
