<div class="likebox">
    <div class="likebox-innner">
        <div class="fb-page" data-href="https://www.facebook.com/CSSDesignAwards" data-width="740px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/CSSDesignAwards" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CSSDesignAwards">CSS Design Awards</a></blockquote>
        </div>
    </div>
</div>
