<ul class="pager">
    <li>
        <div class="pager-inner">
            <p class="pager-linkbox">
                <a class="pager-link prev" href="#">
                    <img src="assets/images/btn_prev.png" alt="">
                </a>
            </p>
            <p class="pager-thumb"><img src="assets/images/ph_nishikori.jpg" alt=""></p>
            <dl>
                <dt>前のLesson</dt>
                <dd>【スペシャルテクニック動画】錦織圭が教えるエアーK</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="pager-inner">
            <p class="pager-thumb"><img src="assets/images/ph_hanyuu.jpg" alt=""></p>

            <dl>
                <dt>次のLesson</dt>
                <dd>羽生結弦が教える必ず成功するトリプルアクセル</dd>
            </dl>
            <p class="pager-linkbox">
                <a class="pager-link next" href="#">
                    <img src="assets/images/btn_next.png" alt="">
                </a>
            </p>
        </div>
    </li>
</ul>
