<li class="l-more-list-item01"><a href="https://www.facebook.com/sharer/sharer.php?u=http://liginc.co.jp" class="share">シェアする</a></li>
<li class="l-more-list-item02"><a data-url="<?php echo $xxx ; ?>" href="https://twitter.com/share" class="share twitter-share-button" data-lang="ja" data-count="vertical" data-dnt="true">ツイートする</a>
</li>
<li class="l-more-list-item03">
    <a href="https://plus.google.com/share?url={Permalink}" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">+1する</a>
</li>
<li class="l-more-list-item04"><a href="http://b.hatena.ne.jp/entry/{Permalink}" class="hatena-bookmark-button" data-hatena-bookmark-title="{Title}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加">はてブする</a>
    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</li>
<li class="l-more-list-item05"><a href="http://getpocket.com/edit?url=記事URL&title=記事タイトル" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">Pocketに保存</a></li>
<li class="l-more-list-item06"><a href="mailto:user@dammy.com">メールで送る</a></li>
