<p class="suporter-ttl">提供</p>
<div class="suporter">
    <div class="suporter-inner">
        <p class="suporter-thumb">
            <img src="assets/images/icon_liginc.png" alt="lig">
        </p>

        <dl class="suporter-prof">
            <dt>株式会社LIG</dt>
            <dd>提供元の紹介文が入ります。サンプルテキスト。提供元の紹介文が入ります。サンプルテキスト。提供元の紹介文が入ります。サンプルテキスト。
                <br>
                <a href="http://liginc.co.jp/" target="_blank">http://liginc.co.jp/</a></dd>
        </dl>
    </div>
    <p class="suporter-name">株式会社LIG</p>
</div>
