<div class="writer">
    <p class="writer-thumb">
        <img src="assets/images/icon-honda.png" alt="本田圭佑">
    </p>
    <dl class="writer-prof">
        <dt>本田圭佑</dt>
        <dd>プロサッカー選手、ACミランに所属。サッカー日本代表としても活躍しており2010年のFIFAワールドカップでの活躍は特に目覚ましかった海外からの評価も高い
        </dd>
    </dl>
</div>
