<%
    var id = "index";
    var title = "Hello World";
    var description = "Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.";
    var og_description = "world, html5, css3, javascropt, facebook, twitter";
    var url = "http://liginc.co.jp/";
    var site_name = "Hello World";
    var keywords = "world, html5, css3, javascropt, facebook, twitter";
    var type = "blog";
%>
<% include metadata/_head %>
    <main class="u-clear">
        <% include module/_header %>
        <% include module/_hero %>
        <% include module/_concept %>
    </main>
    <% include module/_feature %>
    <% include module/_service %>
    <% include module/_news %>
    <% include module/_banner %>
    <% include module/_contact-form %>
    <% include module/_footer %>
<% include metadata/_script %>
