<!-- start footer -->
<footer class="l-footer">
    <div class="l-container u-clear">
        <div class="l-footer-icon l-grid l-grid-col3">
            <ul class="l-footer-icon-list l-grid-inner">
                <li class="l-grid-item"><a class="l-footer-icon-list-link l-footer-icon-list-facebook" href=""><span class="icon icon-facebook"></span></a></li>
                <li class="l-grid-item"><a class="l-footer-icon-list-link l-footer-icon-list-twitter" href=""><span class="icon icon-twitter"></span></a></li>
                <li class="l-grid-item"><a class="l-footer-icon-list-link l-footer-icon-list-google" href=""><span class="icon icon-google"></span></a></li>
            </ul>
        </div>
        <div class="l-footer-copyright">
            <small>&copy;2016 LIG inc.</small>
        </div>
    </div>
</footer>
<!-- end of footer -->