<!-- start l-header -->
<header class="l-header">
    <div class="l-container u-clear">
        <div class="l-header-left">
            <% include ../module/_logo%>
        </div>
        <div class="l-header-right">
            <% include ../module/_navigation %>
        </div>
    </div>
</header>
<!-- end of l-header -->


