/*
l-footer
*/

.l-footer {
    background-color: $color-default;
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    height: 54px;

    &__left {
        float: left;
        color: #fff;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        padding-left: 5px;

    }

    &__right {
        float: right;

        &--pt {
            padding-top: 4px;
        }
    }


    //MODIFIER
    &--pd {
        padding: 10px 0 11px 0;
    }
    &--mt {
        margin-top: 50px;
    }
    &--mt-sm {
        margin-top: 30px;
    }
    &--mt-lg {
        margin-top: 70px;
    }
}
