
/*
l-header
*/

.l-header {
    position: fixed;
    width: $site-size;
    top: 0;
    z-index: 9999;
    border-bottom: none;
    transition: opacity 0.25s ease-in-out;

    &__left {
        float: left;

        //MODIFIER
        &--pt {
            padding-top: 30px;
        }
        &--pl {
            padding-left: 16px;
        }
    }
    &__right {
        width: 100%;
        float: right;
        text-align: center;
    }

    //STATE
    &.is-expanded {
        transition: opacity 0.25s ease-in-out;
        height: 100%;
        background: rgba(0,0,0, 0.6);
    }
}
