$icon-icon_arrow_share: (
    x: 77,
    y: 46,
    width: 7,
    height: 4,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -77,
    offset_y: -46
);$icon-icon_camera_on: (
    x: 52,
    y: 51,
    width: 19,
    height: 17,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -52,
    offset_y: -51
);$icon-icon_camera: (
    x: 33,
    y: 51,
    width: 19,
    height: 17,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -33,
    offset_y: -51
);$icon-icon_facebook_on: (
    x: 77,
    y: 0,
    width: 15,
    height: 30,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -77,
    offset_y: 0
);$icon-icon_facebook: (
    x: 0,
    y: 51,
    width: 15,
    height: 30,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: 0,
    offset_y: -51
);$icon-icon_fukidashi: (
    x: 47,
    y: 28,
    width: 20,
    height: 17,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -47,
    offset_y: -28
);$icon-icon_kitchen_on: (
    x: 92,
    y: 15,
    width: 19,
    height: 15,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -92,
    offset_y: -15
);$icon-icon_kitchen: (
    x: 71,
    y: 51,
    width: 19,
    height: 15,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -71,
    offset_y: -51
);$icon-icon_life_on: (
    x: 92,
    y: 30,
    width: 19,
    height: 15,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -92,
    offset_y: -30
);$icon-icon_life: (
    x: 92,
    y: 0,
    width: 19,
    height: 15,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -92,
    offset_y: 0
);$icon-icon_music_on: (
    x: 92,
    y: 45,
    width: 15,
    height: 17,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -92,
    offset_y: -45
);$icon-icon_music: (
    x: 92,
    y: 62,
    width: 15,
    height: 17,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -92,
    offset_y: -62
);$icon-icon_serch: (
    x: 0,
    y: 0,
    width: 49,
    height: 28,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: 0,
    offset_y: 0
);$icon-icon_share_fb: (
    x: 77,
    y: 30,
    width: 14,
    height: 16,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -77,
    offset_y: -30
);$icon-Icon_share_google: (
    x: 32,
    y: 81,
    width: 14,
    height: 13,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -32,
    offset_y: -81
);$icon-icon_share_hatena: (
    x: 29,
    y: 69,
    width: 14,
    height: 11,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -29,
    offset_y: -69
);$icon-icon_share_mail: (
    x: 15,
    y: 69,
    width: 14,
    height: 11,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -15,
    offset_y: -69
);$icon-icon_share_pocket: (
    x: 0,
    y: 81,
    width: 16,
    height: 13,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: 0,
    offset_y: -81
);$icon-icon_share_tw: (
    x: 16,
    y: 81,
    width: 16,
    height: 13,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -16,
    offset_y: -81
);$icon-icon_sports_on: (
    x: 28,
    y: 28,
    width: 19,
    height: 19,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -28,
    offset_y: -28
);$icon-icon_sports: (
    x: 15,
    y: 51,
    width: 18,
    height: 18,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -15,
    offset_y: -51
);$icon-icon_twitter_on: (
    x: 0,
    y: 28,
    width: 28,
    height: 23,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: 0,
    offset_y: -28
);$icon-icon_twitter: (
    x: 49,
    y: 0,
    width: 28,
    height: 23,
    total_width: 111,
    total_height: 94,
    image: "../images/icon.png",
    offset_x: -49,
    offset_y: 0
);

@mixin sprite($variable,$scale:1) {
    $image: map_get($variable,image);
    $offset_x: map_get($variable,offset_x) * $scale;
    $offset_y: map_get($variable,offset_y) * $scale;
    $width: map_get($variable,width) * $scale;
    $height: map_get($variable,height) * $scale;
    $total_width: map_get($variable,total_width) * $scale;
    $total_height: map_get($variable,total_height) * $scale;
    background-image: url($image);
    background-position: #{$offset_x}px #{$offset_y}px;
    background-size: #{$total_width}px #{$total_height}px;
    width: #{$width}px;
    height: #{$height}px;
}


.icon {
    display: inline-block;
    background-repeat: no-repeat;
    
    &.icon-icon_arrow_share{
        @include sprite($icon-icon_arrow_share, 1);
    }
    &.icon-icon_camera_on{
        @include sprite($icon-icon_camera_on, 1);
    }
    &.icon-icon_camera{
        @include sprite($icon-icon_camera, 1);
    }
    &.icon-icon_facebook_on{
        @include sprite($icon-icon_facebook_on, 1);
    }
    &.icon-icon_facebook{
        @include sprite($icon-icon_facebook, 1);
    }
    &.icon-icon_fukidashi{
        @include sprite($icon-icon_fukidashi, 1);
    }
    &.icon-icon_kitchen_on{
        @include sprite($icon-icon_kitchen_on, 1);
    }
    &.icon-icon_kitchen{
        @include sprite($icon-icon_kitchen, 1);
    }
    &.icon-icon_life_on{
        @include sprite($icon-icon_life_on, 1);
    }
    &.icon-icon_life{
        @include sprite($icon-icon_life, 1);
    }
    &.icon-icon_music_on{
        @include sprite($icon-icon_music_on, 1);
    }
    &.icon-icon_music{
        @include sprite($icon-icon_music, 1);
    }
    &.icon-icon_serch{
        @include sprite($icon-icon_serch, 1);
    }
    &.icon-icon_share_fb{
        @include sprite($icon-icon_share_fb, 1);
    }
    &.icon-Icon_share_google{
        @include sprite($icon-Icon_share_google, 1);
    }
    &.icon-icon_share_hatena{
        @include sprite($icon-icon_share_hatena, 1);
    }
    &.icon-icon_share_mail{
        @include sprite($icon-icon_share_mail, 1);
    }
    &.icon-icon_share_pocket{
        @include sprite($icon-icon_share_pocket, 1);
    }
    &.icon-icon_share_tw{
        @include sprite($icon-icon_share_tw, 1);
    }
    &.icon-icon_sports_on{
        @include sprite($icon-icon_sports_on, 1);
    }
    &.icon-icon_sports{
        @include sprite($icon-icon_sports, 1);
    }
    &.icon-icon_twitter_on{
        @include sprite($icon-icon_twitter_on, 1);
    }
    &.icon-icon_twitter{
        @include sprite($icon-icon_twitter, 1);
    }
}