.brand {
    background-color: $color-white;
    height: 75px;
    width: 100%;

    &__list {
        text-align: center;
    }

    &__item {
        width: 42px;
        margin: 0px 10px;
        margin-top: 20px;
        display: inline-block;

        &:nth-child(2) {
            width: 72px;
            margin-left: 5px;
        }

        &:nth-child(3) {
            width: 69px;
            margin-left: 5px;
            top: -1px;
            position: relative;
        }

        &:nth-child(4) {
            width: 60px;
            margin-left: 2px;
            top: -1px;
            position: relative;
        }

      }

}
