.contact {
    background-color: $color-gray;
    width: 100%;
    height: 417px;

    &__inner {
        text-align: center;
    }

    &__title {
        font-weight: bolder;
        font-family: Lato-Regular;
        text-align: center;
        font-size: 30px;
        letter-spacing: 0.09em;
        padding-top: 46px;
        padding-left: 5px;
        padding-bottom: 28px;
    }

    &__form {
        margin-top: 28px;
        width: 300px;
        margin: 0 auto;
        position: relative;

        &__input {
            width: 300px;
            height: 30px;
            border: 1px solid $color-border;
            margin-bottom: 10px;
            appearance: none;
            padding: 9px;
            font-size: 10px;

            &::placeholder {
                letter-spacing: 0.1em;
                color: #ddd;
                font-size: 10px;
                font-style: Lato-Regular;
                font-weight: lighter;
            }
        }

        &__select {
            width: 300px;
            height: 30px;
            padding-left: 10px;
            font-size: 10px;
            font-weight: lighter;
            border: 1px solid $color-border;
            background: $color-white url(#{$path-image}down.png) no-repeat;
            background-position: 281px 12px;
            background-size: 8px 5px;
            letter-spacing: 0.1em;
            appearance: none;
        }

        &__textarea {
            -webkit-border-radius: 0;
            border-radius: none;
            appearance: none;
            margin-top: 11px;
            border: 1px solid $color-border;
            padding-top: 7px;
            padding-left: 10px;
            width: 300px;
            height: 75px;
            font-size: 10px;

            &::placeholder {
                letter-spacing: 0.1em;
                color: #ddd;
                font-size: 10px;
                font-style: Lato-Regular;
                font-weight: lighter;
            }

        }

        &__submit {
            width: 300px;
            height: 30px;
            background: #333;
            color: $color-white;
            font-size: 10px;
            font-style: Lato-Regular;
            font-weight: lighter;
            letter-spacing: 0.1em;
            box-shadow: 2px 2px #c5c5c5;
            transition: all 0.3s ease-in-out;
            appearance: none;

            &:hover {
                margin-top: 3px;
                margin-left: 3px;
                box-shadow: none;
            }
        }

    }
}
