.copy {
    position: relative;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    height: 375px;
    background-size: cover;


    &__body {
        margin-left:auto;
        margin-right:auto;
        padding-top: 130px;
    }

    &__header {
        font-family: Lato-Regular;
        color: $color-white;
        padding-bottom: 27px;
        font-size: 20px;
        letter-spacing: 0.098em;
        line-height: 1.5em;
        padding-top: 53px;
        padding-left: 5px;
    }

    &__inner {
        margin: 0 2px;
        text-align: center;
    }

    &__content {
        font-family: Helvetica-light;
        letter-spacing: 0.102em;
        color: #fff;
        font-size: 15px;
        line-height: 1.534;
        margin-left: 7px;
        margin-bottom: 21px;

        &:nth-child(3) {
            margin-top: 21px;
            margin-left: 9px;
            letter-spacing: 0.105em;
        }

    }

    &__cellphone {
        top: -300px;
        z-index: -1;
        position: relative;
        height: 300px;
        margin: 0 auto;
        width: 300px;
        box-sizing: border-box;

        &__image {
            width: 140px;
            position: absolute;

            &:nth-child(1) {
                top: 58px;
                z-index: -1;
                left: 24px;
            }

            &:nth-child(2) {
                top: 106px;
                right: 32px;
                z-index: -2;
            }

            &:nth-child(3) {
                z-index: -5;
                width: 132px;
                right: 55px;
                top: -36px;
            }
        }


    }
}
