.feature {
    background-color: $color-gray;
    height: 424px;

    &__module {
        opacity: 0;
        text-align: center;

        &.on-enter {
          visibility: visible;
          opacity: 1;
          transition: opacity 2s linear;

        }
    }

    &__image {
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: -9px;

        &__list {
            text-align: center;
            width: 141px;
        }
    }
    &__inner {
        text-align: center;
    }
    &__header {
        padding-left: 5px;
        padding-bottom: 36px;
        padding-top: 46px;
        font-weight: bolder;
        font-family: Lato-Regular;
        font-size: 30px;
        letter-spacing: 0.084em;
    }

    &__title {
        width: 100%;
        margin-left: 5px;
        margin-top: 14px;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    &__description {
        width: 264px;
        font-weight: lighter;
        font-size: 15px;
        margin: 0 auto;
        padding-top: 1px;
        line-height: 1.58;
        position: relative;
        left: 2px;
        letter-spacing: 0.105em;
        text-align: center;
    }

    &__button {

        &__left {
            position: relative;
            top: -220px;
            left: 2px;
            margin: 0px 14px;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            border: 2px solid #333;
            float: left;

            &__prev {
                position: relative;
                top: 9px;
                left: 5px;
                width: 12px;
                border-top: 6px solid transparent;
                border-right: 6px solid $color-black;
                border-bottom: 6px solid transparent;
                border-left: 6px solid transparent;

                &.--disabled {
                    border-right: 6px solid $color-border;
                }
            }

            &.slick-disabled {
                opacity: 1;
                border: 2px solid #ccc;
            }

        }

        &__right {
            position: relative;
            top: -220px;
            margin: 0px 14px;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            border: 2px solid #333;
            float: right;

            &__next {
                position: relative;
                top: 9px;
                left: 13px;
                width: 12px;
                border-top: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid $color-black;

                &.--disabled {
                    border-left: 6px solid $color-border;
                }
            }

            &.slick-disabled {
                opacity: 1;
                border: 2px solid #ccc;
            }

        }
     }
}
