.hero {
    background-image: url(#{$path-image}1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: 80% 50%;

      &__header {
          top: 24px;
          position: relative;
          margin-left: 6px;
          font-weight: bolder;
          letter-spacing: 0.075em;
          color: $color-white;
          font-size: 40px;
          font-family: Lato-Light;
      }

      &__inner {
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-59%);
      }

      &__description {
          top: 22px;
          position: relative;
          color: #fff;
          font-size: 15px;
          letter-spacing: 0.08em;
          font-family: Lato-Hairline;
          margin-left: 2px;
      }

      &__button {
          z-index: 1000;
          margin: 0 auto;
          position: relative;
          top: 149px;
          width: 35px;
          height: 35px;
          border-radius: 100%;
          border: 2px solid $color-white;

          &__down {
              position: relative;
              top: 13px;
              left: 9px;
              width: 12px;
              border-top: 6px solid $color-white;
              border-right: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 6px solid transparent;
          }
      }

}
