.nav {
    background-color: $color-white;
    width: 100%;

    &__logo {
      width: 74px;
      top: -27px;
      right: 12px;
      position: relative;

      &__text {
        text-transform: uppercase;
        font-family: Lato-Regular;
        fill: $color-white;
        font-size: 26px;
        font-weight: 200;

        &.--is-sticky {
            fill: $color-default;
        }

        &.--active {
            fill: $color-white;
        }
      }

    }

    &__left {
        float: left;
    }

    &__right {
        float: right;

        &__menu {
            margin: 0 18px;
            z-index: 10;

            &__top,
            &__middle,
            &__bottom {
                display: block;
                position: absolute;
                height: 3px;
                width: 24px;
                background: $color-white;
                border-radius: 9px;
                transition: all 0.3s ease-in-out;
                transform: rotate(0deg);

                &.--is-sticky {
                    background: $color-default;
                }

                &.--active {
                    background: $color-white;
                }
            }

            &__top {
                top: 15px;
                &.--active {
                    top: 22px;
                    transform: rotate(135deg);
                }
            }

            &__middle {
                top: 23px;
                &.--active {
                    opacity: 0;
                }
            }

            &__bottom {
                top: 31px;
                &.--active {
                    top: 22px;
                    transform: rotate(48deg);
                }  
            }
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: -1;

        &__menu {
            text-align: center;
            position: relative;
            top: 24%;

            &__list {
                color: $color-white;
                font-family: helvetica;
                font-size: 20px;
                margin: 0 auto;
                position: relative;
                padding-bottom: 23px;
                letter-spacing: 0.11em;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $color-white;

        &:hover {
            border: 0;
        }
    }

}
