.news {
    background-color: $color-gray;
    height: 313px;
    width: 100%;
    padding-top: 53px;

    &__header {
        font-weight: bolder;
        font-family: Lato-Regular;
        text-align: center;
        font-size: 30px;
        text-align: center;
        padding-left: 3px;
        position: relative;
        letter-spacing: 0.1em;
        top: -7px;
    }

    &__article {
        padding-top: 1px;
        margin: 0 4px;
        & > a {
            text-decoration: none;
            color: $color-default;
        }
    }
    &__date {
        position: relative;
        letter-spacing: 0.1em;
        font-family: Helvetica;
        font-size: 10px;
        display: block;
        top: 7px;
        left: 5px;
    }
    &__title {
        width: 100px;
        float: left;
        letter-spacing: 0.1em;
        font-weight: bolder;
        font-family: "Arial";
        font-size: 15px;
        position: relative;
        top: 6px;
        left: 4px;
    }

    &__description {
        float: left;
        width: calc(100% - 100px);
        letter-spacing: 0.127em;
        font-size: 10px;
        top: 9px;
        right: 2px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @media screen
            and (max-width: 640px)
            and (orientation: landscape) {
                top: 7px;
          }

    }

    &__border {
        position: relative;
        top: 2px;
        left: 5px;
        width: calc(100% - 13px);
        border-bottom: 0.5px solid $color-border;

        @media screen
            and (max-width: 640px)
            and (orientation: landscape) {
                top: 8px;
          }
    }
}
