.services {
    background-color: $color-white;
    height: 634px;
    padding-top: 52px;

    &__title {
        font-weight: bolder;
        position: relative;
        font-family: Lato-Regular;
        top: -4px;
        font-size: 30px;
        letter-spacing: 0.08em;
    }

    &__inner {
        text-align: center;
    }

    &__graph {
        position: relative;
        max-width: 235px;
        top: 26px;
        left: 15px;
    }

    &__header {
        margin-left: 4px;
        letter-spacing: 0.105em;
        margin-top: 50px;
        font-size: 15px;
        font-weight: 800;
        position: relative;
    }

    &__description {
        position: relative;
        padding-left: 4px;
        font-family: Helvetica;
        font-size: 15px;
        line-height: 1.5em;
        letter-spacing: 0.105em;
        margin-top: 8px;
        font-weight: lighter;

        &:nth-child(odd) {
            position: relative;
            top: 16px;
            padding-left: 12px;
            letter-spacing: 0.107em;
        }
    }
}
