<!-- start catch -->
<section class="catch">
    <div class="l-container">
        <h1 class="catch-hedding">
            Catch copy text catch copy !!<br />
            Catch copy text!
        </h1>
        <p class="catch-text">
            sample text samplve text sample text sample text <br />
            sample text sample text sample text sample <br />
            sample text sample text sample text <br />
            <br />
            sample text sample text sample text <br />
            sample text sample text sample text sample text <br />
        </p>
        <img class="catch-img catch-img-a" src="images/phone-a.png" alt="A sample image of smartphone">
        <img class="catch-img catch-img-b" src="images/phone-b.png" alt="A sample image of smartphone">
        <img class="catch-img catch-img-c" src="images/phone-c.png" alt="A sample image of smartphone">
    </div>
</section>
<!-- end of catch -->