<div class="contact">
    <div class="l-container">
        <form class="u-clear" action="#">
            <div class="contact-left">
                <input class="form form-hasmargin" type="text" name="" placeholder="Name">
                <input class="form form-hasmargin" type="text" name="" placeholder="E-mail">
                <div class="form-pulldown">
                    <select class="form" name="topic">
                        <option value="">Please select your topic</option>
                        <option value="test01">test01</option>
                        <option value="test02">test02</option>
                        <option value="test03">test03</option>
                    </select>
                </div>
            </div>
            <div class="contact-right">
                <textarea class="form form-hasmargin form-textarea" name="comments" placeholder="Comments"></textarea>
                <input class="button button-submit" type="submit" name="submit" value="Submit">
            </div>
        </form>
    </div>
</div>