<!-- start feature -->
<section class="feature l-grid l-grid-col3">
    <ul class="feature-list l-grid-inner">
        <li class="feature-item l-grid-item">
            <img class="feature-item-img" src="images/icon-html5.png" width="171" height="189" alt="html5">
            <h1 class="feature-item-hedding">
                HTML5
            </h1>
            <p class="feature-item-text">
                sample text sample<br />
                text sample text<br />
                sample text sample text
            </p>
        </li>
        <li class="feature-item l-grid-item">
            <img class="feature-item-img" src="images/icon-css3.png" width="171" height="189" alt="css3">
            <h1 class="feature-item-hedding">
                CSS3
            </h1>
            <p class="feature-item-text">
                sample text sample<br />
                text sample text<br />
                sample text sample text
            </p>
        </li>
        <li class="feature-item l-grid-item">
            <img class="feature-item-img" src="images/icon-js.png" width="171" height="189" alt="js">
            <h1 class="feature-item-hedding">
                Javascript
            </h1>
            <p class="feature-item-text">
                sample text sample<br />
                text sample text<br />
                sample text sample text
            </p>
        </li>
    </ul>
</section>
<!-- end of feature -->