<!-- start hero -->
<div class="hero">
    <div class="hero-text">
        <h1 class="hero-text-title">Hello World</h1>
        <p class="hero-text-discription">- description text -</p>
    </div>
</div>
<!-- end of hero -->