<%
var navArray = [ "Top","Feature","Service","News" ];
%>

<!-- start navigation -->
<nav class="navigation">
    <div class="navigation-inner l-grid l-grid-col4">
        <ul class="navigation-list l-grid-inner">
            <% for(var iNav=0; iNav< navArray.length; iNav++) { %>
            <li class="navigation-item l-grid-item">
                <a class="navigation-link navigation-link-<%= navArray[iNav]%>" href="#">
                    <%= navArray[iNav]%>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
<!-- end of navigation -->