<!-- start news -->
<div class="news">
    <ul class="news-list">
        <% for(var i=0; i< 4; i++) { %>
        <li class="news-list-item">
            <% include ../module/_newscard %>
        </li>
        <% } %>
    </ul>
</div>
<!-- end of news -->