<!-- start newscard -->
<a class="newscard" href="#">
    <article class="u-clear">
        <div class="newscard-left">
            <time class="newscard-time" datetime="2011-12-03T13:05+09:01">00.00</time>
            <h1 class="newscard-title">News title</h1>
        </div>
        <p class="newscard-right newscard-text">
            sample text sample textsample textsample textsample textsample textsample textsample textsample text sample text sample textsample textsample textsample textsample textsample textsample textsample text sample text sample textsample textsample textsample textsample textsample textsample textsample text
        </p>
    </article>
</a>
<!-- end of newscard -->