<!-- start section-feature -->
<section class="section section-feature">
    <h1 class="section-hedding">
        - Feature -
    </h1>
    <div class="l-container">
        <% include ../module/_feature %>
    </div>
</section>
<!-- end of section-feature -->
<section class="section section-service">
    <h1 class="section-hedding">
        - Service -
    </h1>
    <div class="l-container">
        <% include ../module/_service %>
    </div>
</section>
<!-- start section-news -->
<section class="section section-news">
    <h1 class="section-hedding">
        - News -
    </h1>
    <div class="l-container">
        <% include ../module/_news %>
    </div>
</section>
<!-- end of section-news -->