<!-- start service -->
<section class="service u-clear">
    <img class="service-img" src="images/service-img.jpg" width="438" height="412" alt="a image of service">
    <div class="service-text">
        <h1 class="service-text-hedding">
            2016 our results
        </h1>
        <p class="service-text-discription">
            sample text sample text sample text sample text <br />sample text sample text sample text sample <br />
            sample text sample text sample text <br />
            <br />
            sample text sample text sample text <br />
            sample text sample text sample text sample text <br />
        </p>
    </div>
</section>
<!-- end of service -->