<%
var supArray = [ "ibm","microsoft","twitter","facebook" ];
%>

<!-- start supporters -->
<aside class="supporters">
    <div class="l-container">
        <div class="supporters-inner l-grid l-grid-col4">
            <ul class="supporters-list l-grid-inner">
                <% for(var iSup=0; iSup< supArray.length; iSup++) { %>
                <li class="supporters-item l-grid-item">
                    <img class="supporters-item-img supporters-item-<%= supArray[iSup]%>" src="images/logo-<%= supArray[iSup]%>.png" alt="<%= supArray[iSup]%>のロゴマーク">
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</aside>
<!-- end of supporters -->