<header class="l-header">
    <h1 class="logo">
       <a href="/">
        <img src="assets/images/logo@2x.png" width="381" height="76" alt=""/>
        </a>
        <span>達人に学ぶテクニック</span>
        </h1>
    <div class="header-searchbox">
        <div class="header-searchbox-search">
            <%- include('./view/module/_form', {placeholder: 'キーワード検索', name :'name',type :'text'}) %>
        </div>
        <div class="header-searchbox-sns">
            <ul>
                <li class="header-searchbox-link-facebook">
                <a class="share" href="https://www.facebook.com/sharer/sharer.php?u=https://liginc.co.jp/"></a>
                </li>
                <li class="header-searchbox-link-twitter">
                    <a href="http://twitter.com/share?text=達人に学ぶテクニック&url=http://localhost:3000/&hashtags=lessons" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"></a>
                </li>
            </ul>
        </div>
    </div>
</header>
