<aside class="l-sidebar is-natural">
    <h2 class="font-en">CATEGORY</h2>
    <nav class="nav">
        <ul class="nav_list">
            <li class="list-item nav01">
                <a href="category-a.html">
                    <i></i>
                    <span>スポーツ</span>
                </a>
            </li>
            <li class="list-item nav02">
                <a href="category-b.html">
                    <i></i>
                    <span>音楽</span>
                </a>
            </li>
            <li class="list-item nav03">
                <a href="category-c.html">
                    <i></i>
                    <span>ライフ</span>
                </a>
            </li>
            <li class="list-item nav04">
                <a href="category-d.html">
                    <i></i>
                    <span>カメラ</span></a>
            </li>
            <li class="list-item nav05">
                <a href="category-e.html">
                    <i></i>
                    <span>キッチン</span>
                </a>
            </li>
        </ul>
    </nav>

    <footer class="l-footer">
        <ul class="pagelist font-en">
            <li>
                <small>
                <a href="about.html">About</a>
                </small>
            </li>
        </ul>
        <small class="copylight font-en">© 2015 BATTERY</small>
    </footer>
</aside>
