.camera {
    background: url('#{$path-image}camera-bg.jpg');
    width: 100%;
    height: 200px;
    position: relative;

    &__wrap {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    &__title {
        display: inline;
        color: $color-white;
        font-size: 64px;
        text-transform: uppercase;
    }

    &__description {
        text-align: left;
        display: inline-block;
        color: $color-white;
    }
}
