.feature {
    $this: &;

    &__card {
        height: 100%;
        position: relative;

        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0.3;
            position: absolute;
            background: transparent;
            transition: background 0.3s ease-in-out;
        }

    }

    &__avatar {
        width: 82px;
        height: 82px;
        border-radius: 82px;
        float: left;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $color-default;
        max-width: 100%;
        height: 100%;

        &:hover {
            text-decoration: none;

            #{$this}__card:before {
                background: #000;
            }
        }

    }

    &__content {
        position: absolute;
        bottom: 0px;
        height: 100%;
        width: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.55), rgba(111, 111, 111, 0.23));
        color: $color-white;
    }

    &__wrap {
        margin:0 33px;
        position: absolute;
        bottom: 10px;
    }

}
