/*
#overview
logo
*/

/*
#styleguide
logo
```
<a class="logo" href="./">
    <img src="../../pc/images/logo.png" width="253" height="52" alt="LIG inc."/>
</a>
```
*/

.logo {
    display: block;
    float: left;

    &__text {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(50%);
    }

}
