<!--start header-->
<header class="l-header l-header-mb">
    <div class="l-container u-clear">

        <div class="l-header-left">
            <%- include('module/_logo', { tag: 'a', link: './', mf: '', alt: 'LIG inc.'}) %>
            <p class="logo__text"> 達人に学ぶテクニック </p>
        </div>


        <div class="l-header-right">
            <%- include('module/_search', { mf: '', placeholder: 'キーワード検索'}) %>
            <%- include ../module/_sns-btn %>
        </div>
    </div>
</header>
<!--end header-->
