<!--start l-sidebar-->
<aside class="l-sidebar" id="js-sticky">
    <h2 class="category__title">
        Category
    </h2>
    <ul class="l-sidebar-list">
        <li class="l-sidebar-item">
            <% include ../module/_category %>
        </li>
    </ul>
</aside>
<!--end l-sidebar-->
