@charset "UTF-8";
/* 1-setting */
@font-face { font-family: 'bitter'; font-style: normal; font-weight: 400; src: local("Bitter-Regular"), url(./font/Bitter/Bitter-Regular.ttf) format("truetype"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face { font-family: 'bitter'; font-style: normal; font-weight: 700; src: local("Bitter-Bold"), url(./font/Bitter/Bitter-Bold.ttf) format("truetype"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* 2-mixin */
/* 3-base */
/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/
body { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-rendering: auto; font-size: 14px; font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; color: #333; background-color: #fff; padding: 0; margin: 0; }

a { color: #000; }

a:hover img { opacity: .7; }

a:hover { cursor: pointer; }

.font-en { font-family: "bitter", sans-serif; }

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/* Normalization */
:root { -ms-overflow-style: -ms-autohiding-scrollbar; overflow-y: scroll; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

audio:not([controls]) { display: none; }

details { display: block; }

input[type="number"] { width: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

main { display: block; }

summary { display: block; }

pre { overflow: auto; }

progress { display: inline-block; }

small { font-size: 75%; }

template { display: none; }

textarea { overflow: auto; }

[hidden] { display: none; }

[unselectable] { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* Universal inheritance */
*, ::before, ::after { box-sizing: inherit; }

* { font-size: inherit; line-height: inherit; }

::before, ::after { text-decoration: inherit; vertical-align: inherit; }

/* Opinionated defaults */
*, ::before, ::after { border-style: solid; border-width: 0; }

* { margin: 0; padding: 0; }

:root { box-sizing: border-box; cursor: default; font: 16px / 1.5 sans-serif; text-rendering: optimizeLegibility; }

html { background-color: #FFFFFF; }

a { text-decoration: none; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

button, input, select, textarea { background-color: transparent; }

button, input, select, textarea { color: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; }

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea { min-height: 1.5em; }

code, kbd, pre, samp { font-family: monospace, monospace; }

nav ol, nav ul { list-style: none; }

select { -moz-appearance: none; -webkit-appearance: none; }

select::-ms-expand { display: none; }

select::-ms-value { color: currentColor; }

table { border-collapse: collapse; border-spacing: 0; }

textarea { resize: vertical; }

::-moz-selection { background-color: #B3D4FC; text-shadow: none; }

::selection { background-color: #B3D4FC; text-shadow: none; }

@media screen { [hidden~="screen"] { display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) { clip: rect(0 0 0 0) !important; position: absolute !important; } }

body { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; line-height: 1; word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, input, textarea { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; font-style: normal; vertical-align: baseline; background: transparent; }

img { vertical-align: bottom; }

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea { display: block; line-height: 1; }

iframe { max-width: 100% !important; }

img, embed, object, video { max-width: 100%; }

a, label { cursor: pointer; }

blockquote { padding: 0; margin: 0; display: block; }

address, em { font-style: normal; }

hr { border: 0; margin: 0; padding: 0; }

ul, ol, li { list-style: none; }

textarea { resize: vertical; overflow: hidden; -webkit-appearance: none; border: 0; }

input, button, select { vertical-align: middle; border-radius: 0; border: 0; background: transparent; margin: 0; padding: 0; cursor: pointer; -webkit-appearance: none; }

table { border-collapse: collapse; }

*:before, *:after { padding: 0; margin: 0; line-height: 1; }

/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/
body { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-rendering: auto; font-size: 14px; font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; color: #333; background-color: #fff; padding: 0; margin: 0; }

a { color: #000; }

a:hover img { opacity: .7; }

a:hover { cursor: pointer; }

.font-en { font-family: "bitter", sans-serif; }

/* 4-layout */
.l-header { height: 105px; border-bottom: 5px solid #e6e6e6; }

.l-header .logo { position: relative; }

.l-header .logo img { width: 191px; height: auto; position: absolute; top: 31px; left: 31px; }

.l-header .logo span { font-size: 16px; font-weight: bold; display: inline-block; color: #000; line-height: 1.625; text-align: left; position: absolute; top: 36px; left: 249px; }

.l-heading { background: #999; background-position: right bottom; padding: 66px 0 69px; width: 100%; display: table; }

.l-heading .heading-inner { display: table; width: auto; margin: 0 auto; }

.l-heading h2 { display: table-cell; font-size: 64px; color: #fff; line-height: 1; text-align: center; text-shadow: 0px 1px 1px rgba(6, 0, 1, 0.1); }

.l-heading p { vertical-align: middle; color: #fff; line-height: 1.625; display: table-cell; padding: 0 0 0 30px; font-size: 16px; font-weight: bold; text-shadow: 0px 1px 1px rgba(6, 0, 1, 0.1); }

.l-heading .searchword { font-weight: bold; font-size: 49px; }

.l-sidebar { height: 100%; position: absolute; top: 0; left: 0; display: table-cell; padding: 30px; background: #f2f2f2; width: 250px; min-width: 250px; vertical-align: top; }

.l-sidebar .is-fixed { position: fixed; top: 0; display: block; }

.l-sidebar h2 { margin: 0 0 8px 0; }

.l-sidebar .list-item { height: 50px; border-radius: 3px; background-position: 15px 16px; }

.l-sidebar .list-item a { display: block; width: 100%; height: 100%; color: #333; position: relative; vertical-align: top; }

.l-sidebar .list-item a i { width: 48px; height: 50px; margin-right: 19px; display: inline-block; float: left; }

.l-sidebar .list-item a i:hover { border-right: 1px solid rgba(255, 255, 255, 0.9); }

.l-sidebar .list-item a span { font-size: 16px; line-height: 50px; display: inline-block; float: left; }

.l-sidebar .list-item a:hover, .l-sidebar .list-item a.current { color: #fff; cursor: pointer; }

.l-sidebar .list-item:nth-child(1) i { background: url(../images/icon_sports.png) no-repeat; background-position: 15px 15px; }

.l-sidebar .list-item:nth-child(1):hover, .l-sidebar .list-item:nth-child(1).current { background: #40b5ff; }

.l-sidebar .list-item:nth-child(1):hover a, .l-sidebar .list-item:nth-child(1).current a { color: #fff; }

.l-sidebar .list-item:nth-child(1):hover i, .l-sidebar .list-item:nth-child(1).current i { background: url(../images/icon_sports_on.png) no-repeat; border-right: 1px solid rgba(255, 255, 255, 0.5); background-position: 15px 15px; }

.l-sidebar .list-item:nth-child(2) i { background: url(../images/icon_music.png) no-repeat; background-position: 15px 15px; }

.l-sidebar .list-item:nth-child(2):hover, .l-sidebar .list-item:nth-child(2).current { background-color: #ff5b76; }

.l-sidebar .list-item:nth-child(2):hover i, .l-sidebar .list-item:nth-child(2).current i { background: url(../images/icon_music_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

.l-sidebar .list-item:nth-child(3) i { background: url(../images/icon_life.png) no-repeat; background-position: 15px 15px; }

.l-sidebar .list-item:nth-child(3):hover, .l-sidebar .list-item:nth-child(3).current { background-color: #ffd957; }

.l-sidebar .list-item:nth-child(3):hover i, .l-sidebar .list-item:nth-child(3).current i { background: url(../images/icon_life_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

.l-sidebar .list-item:nth-child(4) i { background: url(../images/icon_camera.png) no-repeat; background-position: 15px 15px; }

.l-sidebar .list-item:nth-child(4):hover, .l-sidebar .list-item:nth-child(4).current { background-color: #61e583; }

.l-sidebar .list-item:nth-child(4):hover i, .l-sidebar .list-item:nth-child(4).current i { background: url(../images/icon_camera_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

.l-sidebar .list-item:nth-child(5) i { background: url(../images/icon_kitchen.png) no-repeat; background-position: 15px 15px; }

.l-sidebar .list-item:nth-child(5):hover, .l-sidebar .list-item:nth-child(5).current { background-color: #ff9b52; }

.l-sidebar .list-item:nth-child(5):hover i, .l-sidebar .list-item:nth-child(5).current i { background: url(../images/icon_kitchen_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

.is-natural { position: absolute; top: 0; }

body.is-sticky-header { padding-top: 0; }

body.is-sticky-header .l-sidebar { top: 0; position: fixed; z-index: 10; }

body.is-sticky-header .l-main { padding-left: 250px; }

.l-footer { position: absolute; bottom: 0; left: 0; }

.l-footer .pagelist { padding: 0 30px; margin: 0 0 30px 0; }

.l-footer .pagelist li { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; width: 190px; }

.l-footer .pagelist li a { display: block; color: #000; padding: 16px 0; background: url(../images/icon_arrow.png) no-repeat; background-position: 182px 19px; }

.l-footer .copylight { text-align: center; display: block; color: #ccc; margin: 0 0 30px 0; font-size: 13px; }

.l-main { float: left; width: 100%; min-width: 1150px; padding-left: 250px; }

.l-column { padding: 0 30px; }

.l-column-title { padding: 50px 0 52px; line-height: 1; font-size: 24px; color: black; line-height: 1.083; text-align: center; font-weight: bold; clear: both; }

.l-container { background: #f2f2f2; width: 100%; overflow: hidden; position: relative; }

.l-container.l-serchcontainer .l-heading { background: #999999; }

/* 5-module */
.header-searchbox { float: right; padding: 35px 30px 0 0; }

.header-searchbox .header-searchbox-search { padding-right: 50x; float: left; }

.header-searchbox .searchform { position: relative; margin: 0 80px 0 0; }

.header-searchbox .keywords { width: 248px; height: 30px; background: #fff; border: 1px solid #ccc; padding: 8px; color: #000; border-radius: 2px; }

.header-searchbox .search-button { position: absolute; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; border: none; cursor: pointer; outline: none; padding: 0; appearance: none; top: 0; _top: 1px; right: -49px; width: 50px; height: 30px; backface-visibility: hidden; border: 1px solid #ccc; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.header-searchbox .header-searchbox-sns { overflow: hidden; float: left; }

.header-searchbox .header-searchbox-sns li { margin: 0 10px 0 0; float: left; width: 30px; height: 30px; }

.header-searchbox .header-searchbox-sns li a { display: block; width: 100%; border-radius: 2px; height: 100%; box-sizing: border-box; border: 1px solid #999; }

.header-searchbox .header-searchbox-sns li a:hover { border: 1px solid #666; }

.header-searchbox .header-searchbox-sns .header-searchbox-link-facebook a { background: url(../images/icon_facebook@2x.png) no-repeat; background-position: center; background-size: 9px 16px; }

.header-searchbox .header-searchbox-sns .header-searchbox-link-facebook a:hover { background: #666 url(../images/icon_facebook_on@2x.png) no-repeat; background-position: center; background-size: 9px 16px; }

.header-searchbox .header-searchbox-sns .header-searchbox-link-twitter { margin: 0 0 0 0; }

.header-searchbox .header-searchbox-sns .header-searchbox-link-twitter a { background: url(../images/icon_twitter@2x.png) no-repeat; background-position: center; background-size: 15px 13px; }

.header-searchbox .header-searchbox-sns .header-searchbox-link-twitter a:hover { background: #666 url(../images/icon_twitter_on@2x.png) no-repeat; background-position: center; background-size: 15px 13px; }

.main-lesson-box a img { opacity: 1; }

.main-lesson-box a:hover .thumbwrap { -webkit-transition: opacity .3s ease-in; -moz-transition: opacity .3s ease-in; -o-transition: opacity .3s ease-in; opacity: .7; }

.main-lesson-box-inner { position: relative; }

.main-lesson-box .thumbwrap { display: block; z-index: 1; margin: 0 0 10px 0; position: relative; }

.main-lesson-box .thumbwrap img { width: 100%; }

.main-lesson-box .thumbwrap:after { content: ""; width: 100%; height: 100%; z-index: 2; display: block; position: absolute; top: 0; left: 0; /* ▼ 透過グラデーション設定 ▼ */ background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.5)); }

.main-lesson-box .topikcs-tag { z-index: 10; position: absolute; top: 9px; left: 9px; }

.main-lesson-box .topikcs-tag li { display: inline-block; }

.main-lesson-box .topicks-cat { margin: 0 10px 0 0; }

.main-lesson-box .topicks-date { color: #fff; font-size: 13px; font-family: "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif; }

.main-lesson-box .article-wrap { z-index: 10; position: absolute; bottom: 0; left: 0; padding: 5px; }

.main-lesson-box .lesson-topickname { color: #fff; font-size: 16px; font-weight: bold; padding: 0 0 5px 10px; vertical-align: bottom; position: relative; top: -10px; }

.main-lesson-box .l-lesson-inner .cate-list { color: #999; line-height: 1; display: inline-block; }

.main-lesson-box .l-lesson-inner-description { font-size: 16px; color: #000; margin: 7px 0 0 0; line-height: 1.3; }

.main-lesson-box .article-inner { display: table; }

.main-lesson-box .article-inner .l-table-cell { display: table-cell; }

.main-lesson-box .article-inner .lesson-topickface { width: 50px; margin-left: 3px; display: block; }

.main-lesson-box .article-inner .l-lesson-inner-description { color: #fff; font-size: 16px; line-height: 1.8; font-weight: bold; }

.topicks .main-lesson-box-inner { position: relative; }

.topicks .thumbwrap { margin: 0; }

.topicks .article-wrap { padding: 20px; }

.topicks .topicks-tag { z-index: 10; position: absolute; top: 20px; left: 20px; }

.topicks .article-inner { display: table; padding-top: 3.47826%; }

.topicks .article-inner .l-table-cell { display: table-cell; vertical-align: top; padding: 0 30px 0 26px; }

.topicks .article-inner .l-table-cell .topicks-name { color: #fff; font-size: 16px; line-height: 1.8; font-weight: bold; }

.topicks .article-inner .l-table-cell .topicks-ttl { font-size: 24px; line-height: 1.2; }

.topicks .article-inner .topicksface { display: table-cell; vertical-align: top; float: left; width: 81px; }

.topicks .article-inner .topicksface img { width: 100%; height: auto; }

.topicks .article-inner .l-lesson-inner-description { font-size: 24px; color: #fff; line-height: 1.2; }

.latestlesson { overflow: hidden; }

.latestlesson > li { width: 32.11009%; margin-right: 1.83486%; margin-bottom: 4.0367%; float: left; }

.latestlesson > li:nth-child(3n) { margin-right: 0; }

.latestlesson > li:nth-child(3n+1) { clear: left; }

.main-item { overflow: hidden; }

.main-item > li { width: 50%; margin-right: 0; margin-bottom: 0; overflow: hidden; float: left; }

.main-item > li:nth-child(3n+1) { clear: none; }

.result { color: #fff; }

.result ul { display: table; }

.result li { display: table-cell; vertical-align: bottom; line-height: 1; }

.result-item01 { font-size: 16px; font-weight: bold; }

.result-item02 { font-size: 48px; font-weight: bold; padding: 0 20px 0 17px; }

.result-item03 { font-size: 24px; }

.result-number { position: relative; top: 5px; }

.cate { display: inline-block; padding: 5px; line-height: 1; font-size: 10px; color: #fff; border-radius: 2px; }

.cate.sports { background: #40b5ff; }

.cate.music { background: #ff5b76; }

.cate.life { background: #ffd957; }

.cate.camera { background: #61e583; }

.cate.kitchen { background: #ff9b52; }

.ranking { display: table; width: 100%; padding: 20px 0; border-bottom: 1px solid #ccc; }

.ranking .thumb { display: table-cell; width: 220px; position: relative; height: auto; padding-right: 20px; }

.ranking .thumb .rank { position: absolute; display: block; z-index: 1; background: #000; font-family: "bitter", sans-serif; padding-top: 4px; width: 20px; height: 20px; color: #fff; font-weight: bold; font-size: 13px; text-align: center; line-height: 1; top: 0; left: 0; }

.ranking-detail { padding-top: 7px; display: table-cell; line-height: 1.4; vertical-align: top; }

.ranking-detail li ul { display: table; width: 100%; }

.ranking-detail li ul li { display: table-cell; vertical-align: middle; }

.ranking .detail-face { width: 67px; padding-right: 17px; }

.ranking .detail-face img { width: 100%; }

.ranking .detail-name { font-size: 24px; vertical-align: middle; font-weight: bold; }

.ranking-ttl { font-size: 20px; padding-top: 2px; }

.ranking .cate { text-align: right; }

.ranking-discription { color: #999999; }

.taglist { margin: 0 0 50px 0; }

.taglist dt { font-size: 16px; font-weight: bold; line-height: 2; margin-bottom: 13px; }

.taglist dd { display: inline-block; margin: 0 10px 0 0; }

.taglist dd a { border: 1px solid #999; border-radius: 3px; padding: 6px; line-height: 1; }

.taglist dd a:hover { background: #999; color: #fff; }

.writer { padding: 29px; border: 1px solid #e6e6e6; display: table; background: #fff; margin: 0 auto 10px; }

.writer .writer-thumb { display: table-cell; width: 100px; vertical-align: top; }

.writer .writer-thumb img { width: 100%; }

.writer .writer-prof { padding: 0 0 0 20px; display: table-cell; color: #666666; }

.writer .writer-prof dt { font-size: 20px; margin: 0 0 15px 0; }

.writer .writer-prof dd { line-height: 1.769; font-size: 13px; }

.writer a { color: #0099cc; }

.pager { padding: 57px 0; border-top: 5px solid #333333; border-bottom: 5px solid #333333; display: table; line-height: 1.8; }

.pager > li { display: table-cell; width: 50%; }

.pager > li:first-child { border-right: 1px solid #cccccc; box-sizing: border-box; padding-right: 40px; }

.pager > li:last-child { padding-left: 30px; }

.pager > li:last-child dl { padding-right: 40px; }

.pager > li .pager-inner { display: table; }

.pager > li .pager-inner p, .pager > li .pager-inner dl { display: table-cell; }

.pager > li .pager-inner .pager-thumb { width: 142px; }

.pager > li .pager-inner .pager-thumb img { width: 100%; height: auto; }

.pager > li .pager-inner .pager-linkbox { width: 50px; vertical-align: middle; }

.pager > li .pager-inner .pager-linkbox a { height: 100%; width: 100%; background-position: center; }

.pager > li .pager-inner dl { padding-left: 17px; vertical-align: top; }

.pager > li .pager-inner dl dt { font-size: 13px; color: #ccc; line-height: 2; }

.pager > li .pager-inner dl dd { font-size: 16px; line-height: 1.75; }

.pager > li .pager-link { vertical-align: middle; display: block; height: 100%; }

.pager > li .pager-link.next { text-align: right; }

.suporter { padding: 29px; border: 1px solid #e6e6e6; background: #fff; margin: 0 0 20px 0; }

.suporter-ttl { padding: 20px; border: 1px solid #e6e6e6; background: #fff; font-weight: bold; }

.suporter-inner { display: table; vertical-align: top; overflow: hidden; border-bottom: 1px solid #e6e6e6; }

.suporter-inner .suporter-thumb { display: table-cell; padding: 0 20px 28px 0; width: 120px; }

.suporter-prof { display: table-cell; vertical-align: top; padding: 0 0 28px; }

.suporter-prof dt { font-size: 20px; margin: 0 0 15px 0; }

.suporter-prof dd { line-height: 1.769; font-size: 13px; }

.suporter a { color: #0099cc; }

.suporter-name { background: #fff; clear: both; font-size: 20px; color: #666666; padding: 25px 0 0 0; border-top: #e6e6e6; }

.likebox { box-sizing: border-box; border: 5px solid #e6e6e6; background: #fff; padding: 20px; margin: 0 0 66px 0; }

.likebox-innner { max-width: 500px; margin: 0 auto; }

.likebox .fb-page { width: 100%; }

.likebox .fb_iframe_widget, .likebox .fb_iframe_widget span, .likebox .fb_iframe_widget iframe[style] { width: 100% !important; }

.single-article { padding: 51px 0 50px 0; width: 800px; margin: 0 auto; font-size: 16px; color: #333; line-height: 1.75; }

.single-article p { margin: 0 0 28px 0; }

.single-article p a { color: #40b5ff; text-decoration: underline; }

.single-article p img { margin: 12px 0; }

.single-article .before-share-list { float: left; width: 100px; }

.single-article div.video { margin: 0 0 40px 0; }

.single-article h1 { clear: both; padding: 0 0 40px 0; border-bottom: 1px solid #000; margin: 0 0 46px 0; font-size: 36px; font-weight: bold; font-size: 36px; color: #000; line-height: 1.278; }

.single-article h2 { font-size: 24px; color: #000; line-height: 1.75; border-bottom: 1px solid #000; font-weight: bold; margin: 0 0 25px 0; }

.single-article .category-list { width: 700px; float: left; margin: 0 0 15px 0; }

.single-article .category-list li { display: inline-block; }

.single-article .category-list .l-tag { margin-right: 20px; color: #999; line-height: 20px; height: 20px; font-size: 13px; }

.single-article .category-list .l-tag:after { margin-left: 18px; content: ""; width: 1px; height: 20px; display: inline-block; background-color: #ccc; position: relative; top: 5px; }

.single-article .category-list .date { color: #999; line-height: 18px; font-size: 13px; }

.single-boots { width: 800px; margin: 0 auto; }

.before-share-list { position: relative; }

.before-share-list h3 { position: absolute; width: 100px; height: 30px; font-size: 13px; display: block; border-radius: 3px; background: #999; line-height: 30px; font-weight: bold; text-align: center; color: #fff; background: #999 url(../images/icon_arrow_share.png) no-repeat; background-position: 87px 14px; text-indent: -10px; }

.before-share-list h3:hover { cursor: pointer; }

.before-share-list .more-list { box-sizing: border-box; width: 170px; background: #fff; border: 1px solid #999999; display: none; position: absolute; top: 40px; left: -34px; margin: 0 auto; }

.before-share-list .more-list:before { position: absolute; top: -17px; left: 75px; display: block; content: ""; width: 20px; height: 17px; background: url(../images/icon_fukidashi.png) no-repeat; }

.before-share-list .more-list li { border-bottom: 1px solid #ccc; }

.before-share-list .more-list li:last-child { border-bottom: none; }

.before-share-list .more-list li a { display: block; height: 100%; color: #333; padding: 14px 14px 14px 58px; font-size: 13px; }

.before-share-list .more-list li.l-more-list-item01 { background: url(../images/icon_share_fb.png) no-repeat; background-position: 20px 14px; }

.before-share-list .more-list li.l-more-list-item02 { background: url(../images/icon_share_tw.png) no-repeat; background-position: 20px 14px; }

.before-share-list .more-list li.l-more-list-item03 { background: url(../images/icon_share_google.png) no-repeat; background-position: 22px 14px; }

.before-share-list .more-list li.l-more-list-item04 { background: url(../images/icon_share_hatena.png) no-repeat; background-position: 22px 14px; }

.before-share-list .more-list li.l-more-list-item05 { background: url(../images/icon_share_pocket.png) no-repeat; background-position: 20px 14px; }

.before-share-list .more-list li.l-more-list-item06 { background: url(../images/icon_share_mail.png) no-repeat; background-position: 21px 14px; }

.after-share { margin: 0 0 43px 0; }

.after-share-list { display: table; }

.after-share-list > li { display: table-cell; }

.after-share-list-fb, .after-share-list-tw { width: 43.75%; }

.after-share-list-other { width: 10%; border: 1px solid #999999; border-radius: 3px; }

.after-share-list-other { height: 10%; cursor: pointer; }

.after-share-list-other .more-list { position: absolute; top: -180px; left: -45px; }

.after-share-list-other .more-list:after { position: absolute; bottom: -17px; left: 75px; display: block; content: ""; width: 20px; height: 17px; background: url(../images/icon_fukidashi.png) no-repeat; transform: rotate(180deg); border-top: 1px solid #fff; }

.after-share-list-other .more-list:before { display: none; }

.after-share-list-other > div { width: 80px; height: 100%; display: block; background: url(../images/btn_other.png) no-repeat; background-position: center; }

.after-share-list-other > div li { display: block; }

.loading { padding: 45px; clear: both; text-align: center; }

.loading .load { width: 37px; height: 37px; animation: spin 1.5s linear infinite; }

@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }

/* 6-utility */
.l-bitter { font-family: "bitter", sans-serif; }

.t-right { text-align: right; }

.border-bottom { border-bottom: 1px solid #ccc; }

.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.fixed { position: fixed; }

/* 7-theme */
body.category-a .l-header { border-bottom: 5px solid #40b5ff; }

body.category-a .l-nav .list-item.nav01 { background: #40b5ff; }

body.category-a .l-nav .list-item.nav01 a { color: #fff; }

body.category-a .l-nav .list-item.nav01 i { background: url(../images/icon_sports_on.png) no-repeat; border-right: 1px solid rgba(255, 255, 255, 0.5); background-position: 15px 15px; }

body.category-a .l-heading { background: #40b5ff url(../images/bg_heading_sports.png) no-repeat; background-position: right bottom; }

body.category-b .l-header { border-bottom: 5px solid #ff5b76; }

body.category-b .l-nav .list-item.nav02 { background-color: #ff5b76; }

body.category-b .l-nav .list-item.nav02 a { color: #fff; }

body.category-b .l-nav .list-item.nav02 i { background: url(../images/icon_music_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

body.category-b .l-heading { background: #ff5b76 url(../images/bg_heading_music.png) no-repeat; background-position: right top; }

body.category-c .l-header { border-bottom: 5px solid #ffd957; }

body.category-c .l-nav .list-item.nav03 { background-color: #ffd957; }

body.category-c .l-nav .list-item.nav03 a { color: #fff; }

body.category-c .l-nav .list-item.nav03 i { background: url(../images/icon_life_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

body.category-c .l-heading { background: #ffce38 url(../images/bg_heading_life.png) no-repeat; background-position: right bottom; }

body.category-d .l-header { border-bottom: 5px solid #61e583; }

body.category-d .l-nav .list-item.nav04 { background-color: #61e583; }

body.category-d .l-nav .list-item.nav04 a { color: #fff; }

body.category-d .l-nav .list-item.nav04 i { background: url(../images/icon_camera_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

body.category-d .l-heading { background: #61e583 url(../images/bg_heading_camera.png) no-repeat; background-position: right bottom; }

body.category-e .l-header { border-bottom: 5px solid #ff9b52; }

body.category-e .l-nav .list-item.nav05 { background-color: #ff9b52; }

body.category-e .l-nav .list-item.nav05 a { color: #fff; }

body.category-e .l-nav .list-item.nav05 i { background: url(../images/icon_kitchen_on.png) no-repeat; background-position: 15px 15px; border-right: 1px solid rgba(255, 255, 255, 0.5); }

body.category-e .l-heading { background: #ff9b52 url(../images/bg_heading_kitchen.png) no-repeat; background-position: right bottom; }

/* css sprite */
.icon { display: inline-block; background-repeat: no-repeat; }

.icon.icon-icon_arrow_share { background-image: url("../images/icon.png"); background-position: -77px -46px; background-size: 111px 94px; width: 7px; height: 4px; }

.icon.icon-icon_camera_on { background-image: url("../images/icon.png"); background-position: -52px -51px; background-size: 111px 94px; width: 19px; height: 17px; }

.icon.icon-icon_camera { background-image: url("../images/icon.png"); background-position: -33px -51px; background-size: 111px 94px; width: 19px; height: 17px; }

.icon.icon-icon_facebook_on { background-image: url("../images/icon.png"); background-position: -77px 0px; background-size: 111px 94px; width: 15px; height: 30px; }

.icon.icon-icon_facebook { background-image: url("../images/icon.png"); background-position: 0px -51px; background-size: 111px 94px; width: 15px; height: 30px; }

.icon.icon-icon_fukidashi { background-image: url("../images/icon.png"); background-position: -47px -28px; background-size: 111px 94px; width: 20px; height: 17px; }

.icon.icon-icon_kitchen_on { background-image: url("../images/icon.png"); background-position: -92px -15px; background-size: 111px 94px; width: 19px; height: 15px; }

.icon.icon-icon_kitchen { background-image: url("../images/icon.png"); background-position: -71px -51px; background-size: 111px 94px; width: 19px; height: 15px; }

.icon.icon-icon_life_on { background-image: url("../images/icon.png"); background-position: -92px -30px; background-size: 111px 94px; width: 19px; height: 15px; }

.icon.icon-icon_life { background-image: url("../images/icon.png"); background-position: -92px 0px; background-size: 111px 94px; width: 19px; height: 15px; }

.icon.icon-icon_music_on { background-image: url("../images/icon.png"); background-position: -92px -45px; background-size: 111px 94px; width: 15px; height: 17px; }

.icon.icon-icon_music { background-image: url("../images/icon.png"); background-position: -92px -62px; background-size: 111px 94px; width: 15px; height: 17px; }

.icon.icon-icon_serch { background-image: url("../images/icon.png"); background-position: 0px 0px; background-size: 111px 94px; width: 49px; height: 28px; }

.icon.icon-icon_share_fb { background-image: url("../images/icon.png"); background-position: -77px -30px; background-size: 111px 94px; width: 14px; height: 16px; }

.icon.icon-Icon_share_google { background-image: url("../images/icon.png"); background-position: -32px -81px; background-size: 111px 94px; width: 14px; height: 13px; }

.icon.icon-icon_share_hatena { background-image: url("../images/icon.png"); background-position: -29px -69px; background-size: 111px 94px; width: 14px; height: 11px; }

.icon.icon-icon_share_mail { background-image: url("../images/icon.png"); background-position: -15px -69px; background-size: 111px 94px; width: 14px; height: 11px; }

.icon.icon-icon_share_pocket { background-image: url("../images/icon.png"); background-position: 0px -81px; background-size: 111px 94px; width: 16px; height: 13px; }

.icon.icon-icon_share_tw { background-image: url("../images/icon.png"); background-position: -16px -81px; background-size: 111px 94px; width: 16px; height: 13px; }

.icon.icon-icon_sports_on { background-image: url("../images/icon.png"); background-position: -28px -28px; background-size: 111px 94px; width: 19px; height: 19px; }

.icon.icon-icon_sports { background-image: url("../images/icon.png"); background-position: -15px -51px; background-size: 111px 94px; width: 18px; height: 18px; }

.icon.icon-icon_twitter_on { background-image: url("../images/icon.png"); background-position: 0px -28px; background-size: 111px 94px; width: 28px; height: 23px; }

.icon.icon-icon_twitter { background-image: url("../images/icon.png"); background-position: -49px 0px; background-size: 111px 94px; width: 28px; height: 23px; }
/*# sourceMappingURL=maps/style.css.map */