//base font style
$base-font-size: 20px;
$base-font-color: #333;
$base-background-color: #fff;


//color
$color-white: #fff;
$color-black: #333333;
$color-gray: #9d9693;
$color-lightgray: #f6f6f6;
$color-darkgray: #cccccc;