<%
var id = "index";
var title = "Hello World";
var description = "Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.";
var keywords = "world, html5, css3, javascript, facebook, twitter";
var type = "blog";
%>

<% include metadata/_head %>
		
	<div id="js-section-top">
		
		<main class="main">
			<h1 class="main__title">Hello world</h1>
			<p class="main__description">- description text -</p>
			<div class="main__image" id="js-main-container">
				<img id="js-main-image" src="images/header.jpg" width="320" height="183" alt="header image">
			</div> 
		</main>
			
		<nav class="nav nav--is-hidden" id="js-nav">
			<div class="nav__overlay"></div>
			<div class="nav__inner" id="js-nav-inner">
				<ul class="nav__list" id="js-nav-list">
					<%
					var navItems=["Top", "Feature", "Service", "News"];
					var navHref=["#js-section-top", "#js-section-feature", "#js-section-service", "#js-section-news"];
					for(var i=0; i < navItems.length; i++){
					%>
						<li class="nav__item">
							<a class="nav__link js-scroll" href="<%= navHref[i]%>" id="js-nav-link-<%= i%>">
								<%= navItems[i]%>
							</a>
						</li>
					<%}%>
				</ul>
			</div>
		</nav>

		<header class="header header--is-sticky" id="js-header">
				
				<div class="header__left">
					<a class="logo" href="#">
						<img src="images/logo.png" width="74" height="20" alt="logo image">
					</a>
				</div>
				
				<div class="menu" id="js-menu">
					<div class="menu__graphic-hamburger" id="js-menu-graphic"></div>
				</div>
				
		</header>

		

		<!-- put explain here later -->
		<div class="down" id="js-down">
			<a class="js-scroll" href="#js-section-catch">
				<div class="down__graphic"></div>
			</a>
		</div>

		
		<section class="section section--catch" id="js-section-catch">
			<div class="section__overlay section__overlay--catch"></div>
			<div class="container">
				<div class="catch">
					<h2 class="catch__title" id="js-section-catch-title">Catch copy text catch copy !!<br>Catch copy text!</h2>
					<p class="catch__description" id="js-section-catch-description">
						sample text sample text sample text sample text sample text sample text sample text sample sample text	sample text sample text
						<br><br>
						sample text sample text sample text sample text sample text sample text sample text
					</p>
					<div class="catch__phone-group">

						<div class="catch__phone-1" id="js-section-catch-phone-1">
							<img src="images/phone_1.png" width="148" height="240" alt="phone 1">
						</div>
						<div class="catch__phone-2" id="js-section-catch-phone-2">
							<img src="images/phone_2.png" width="147" height="229" alt="phone 2">
						</div>
						<div class="catch__phone-3" id="js-section-catch-phone-3">
							<img src="images/phone_3.png" width="135" height="214" alt="phone 3">
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
	
	
	<section class="section section--feature" id="js-section-feature">
		<h2 class="section__title">- Feature -</h2>
		<div class="container">
			<div class="feature" id="js-feature">
				<div id="js-feature-content">
					<article class="feature__article">
						<div class="feature__article-image" id="js-feature-image-html5">
								<img class="feature__article-image-element" width="141" height="156" src="images/feature_html5.png" alt="HTML5 Logo">
						</div>
						<h3 class="feature__article-title" id="js-feature-title-html5">HTML5</h3>
						<p class="feature__article-description" id="js-feature-description-html5">
								sample text sample text sample text sample text sample test</p>
					</article>
					<article class="feature__article">
						<div class="feature__article-image">
								<img class="feature__article-image-element" width="141" height="156" src="images/feature_css3.png" alt="CSS3 Logo">
						</div>
						<h3 class="feature__article-title">CSS3</h3>
						<p class="feature__article-description">
								sample text sample text sample text sample text sample test</p>
					</article>
					<article class="feature__article">
						<div class="feature__article-image">
								<img class="feature__article-image-element" width="141" height="156" src="images/feature_javascript.png" alt="JavaScript Logo">
						</div>
						<h3 class="feature__article-title">JavaScript</h3>
						<p class="feature__article-description">
								sample text sample text sample text sample text sample test</p>
					</article>
				</div>
				<div class="feature__pager feature__pager--is-disabled" id="js-feature-pager-prev"></div>
				<div class="feature__pager feature__pager--right" id="js-feature-pager-next"></div>
			</div>
		</div>
	</section>


	<section class="section section--service" id="js-section-service">
		<h2 class="section__title">- Service -</h2>
		<div class="container">
			<div class="service">
				
				<article class="service__article">
					<figure class="service__article-image">
						<img width="236" height="223" src="images/service_graph.png" alt="Service Graph">	
					</figure>
					<h3 class="service__article-title">2016 our results</h3>
					<p class="service__article-description">
							sample text sample text sample text sample text sample text sample text
							sample text sample sample text sample text sample text
							<br><br>
							sample text sample text sample text sample text sample text sample text sample text</p>
				</article>

			</div>
		</div>
	</section>
	
	

	<section class="section section--news" id="js-section-news">
		<h2 class="section__title section__title--news">- News -</h2>
		<div class="container">
			<div class="news">
				
				<%
				var articleCount=3;
				var dates=["06.18", "06.17", "06.16"];
				for(var i=0; i < articleCount; i++){%>
					<article class="news__article">
						<a class="news__article-link" href="#">
							<div class="news__article-left">
								<time class="news__article-date" datetime="06-18"><%= dates[i]%></time>
								<h3 class="news__article-title">News title</h3>
							</div>
							<div class="news__article-right">								
								<p class="news__article-description">
									sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text
								</p>
							</div>
						</a>
					</article>
				<%}%>	

			</div>
		</div>
	</section>
	
	
	<aside class="section section--banners">
		<div class="container">
			<div class="banners">

				<div class="grid banners__grid">
					<div class="grid-inner banners__grid-inner">

						<div class="grid-item banners__grid-item">

							<a class="banners__link" href="#">
								<img class="banners__image" width="42" height="16" src="images/logo_ibm.png" alt="IBM Banner">
							</a>

						</div>
						<div class="grid-item banners__grid-item">

							<a class="banners__link" href="#">
								<img class="banners__image" width="72" height="15" src="images/logo_microsoft.png" alt="Microsoft Banner">
							</a>

						</div>
						<div class="grid-item banners__grid-item">

							<a class="banners__link" href="#">
								<img class="banners__image" width="69" height="13" src="images/logo_twitter.png" alt="Twitter Banner">
							</a>

						</div>
						<div class="grid-item banners__grid-item">

							<a class="banners__link" href="#">
								<img class="banners__image" width="56" height="12" src="images/logo_facebook.png" alt="Facebook Banner">
							</a>

						</div>

					</div>
				</div>

			</div>
		</div>
	</aside>

	
	<form class="section section--mail" action="#" method="GET">
		<h2 class="section__title section__title-mail">- Mail -</h2>
		<div class="container">

			<div class="mail">
				
				<input class="mail__form" type="text" placeholder="Name">
				<input class="mail__form mail__form--email" type="text" placeholder="E-mail">

				
				<select class="mail__form mail__form--topic">
					<option value="" disabled selected>Please select your topic</option>
					<option value="item 1">Topic 1</option>
					<option value="item 2">Topic 2</option>
				</select>
				<div class="mail__arrow"></div>

				<textarea class="mail__form mail__form--comments" rows="4" cols="50" placeholder="Comments"></textarea>				
				<button class="button mail__form mail__form--submit" type="submit">Submit</button>

			</div>
		</div>
	</form>
	

	<footer class="footer">
		<div class="container">
			<div class="footer__left">
				<small class="footer__copyright">©2016 Sample</small>
			</div>
			<div class="footer__right">
				<a class="icon-facebook footer__icons footer__icons--facebook" href="https://www.facebook.com/facebook"></a>
				<a class="icon-twitter footer__icons footer__icons--twitter" href="https://twitter.com/twitter"></a>
				<a class="icon-googleplus footer__icons footer__icons--googleplus" href="https://plus.google.com/+googleplus/posts"></a>
			</div>
		</div>
	</footer>
	
<% include metadata/_script %>