.l-header {
    border-bottom: 2px solid $color-darkgray;
    background: $color-white;
    z-index: 10;

    //child-module
    &-inner {
        position: relative;
        margin: 0 auto;
        width: 1080px;
    }
}