.l-visual {
    position: relative;

    //child-module
    &-inner {
        height: 0;
        padding-top: 57.14%;
        background: url(../images/visual/visual-1.png) center no-repeat;
        background-size: 100%;
    }
}