<% include ./parts/layout/_header %>
<div id="js-content-top">
    <section class="content content-gradation" id="js-content-start">
        <% include ./parts/module/_catch %>
    </section>
</div>

<div id="faeture">
    <section class="content content-margin" id="js-content-feature">
        <div class="l-container">
            <h2 class="heading heading-margin">Feature</h2>
            <% include ./parts/module/_feature %>
        </div>
    </section>
</div>

<div id="service">
    <section class="content content-light" id="js-content-service">
        <div class="l-container">
            <h2 class="heading heading-margin">Service</h2>

            <% include ./parts/module/_service %>

        </div>
    </section>
</div>

<div id="news">
    <section class="content content-margin" id="js-content-news">
        <div class="l-container">
            <h2 class="heading heading-margin">News</h2>
            <% include ./parts/module/_archive %>
        </div>
    </section>
</div>

<div class="content content-news content-light cntent-margin">
    <div class="l-container">
        <% include ./parts/module/_block-lines %>
    </div>
</div>

<div class="content content-margin" id="js-content-end">
    <div class="l-container">
        <% include ./parts/module/_form %>
    </div>
</div>

<% include ./parts/layout/_footer %>
