.l-column {
    padding: 0 30px;
    &-title {
        padding: 50px 0 52px;
        line-height: 1;
        font-size: 24px;
        color: rgb(0, 0, 0);
        line-height: 1.083;
        text-align: center;
        font-weight: bold;
        clear: both;
    }
}
