.l-container {
    background: #f2f2f2;
   // display: table;
    width: 100%;
    overflow: hidden;
    position: relative;
    // heading back ground color
    &.l-serchcontainer {
        .l-heading {
            background: #999999;
        }
    }
}
