.l-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    .pagelist {
        padding: 0 30px;
        margin: 0 0 30px 0;
        li {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            width: 190px;
            a {
                display: block;
                color: #000;
                padding: 16px 0;
                background: url(../images/icon_arrow.png) no-repeat;
                background-position: 182px 19px;
            }
        }
    }
    .copylight {
        text-align: center;
        display: block;
        color: #ccc;
        margin: 0 0 30px 0;
        font-size: 13px;
    }
}
