//heading
.l-heading {
    background: #999;
    background-position: right bottom;
    padding: 66px 0 69px;
    width: 100%;
    display: table;
    .heading-inner {
        display: table;
        width: auto;
        margin: 0 auto;
    }
    h2 {
        display: table-cell;
        font-size: 64px;
        color: #fff;
        line-height: 1;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(6, 0, 1, 0.1);
    }
    p {
        vertical-align: middle;
        color: #fff;
        line-height: 1.625;
        display: table-cell;
        padding: 0 0 0 30px;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(6, 0, 1, 0.1);
    }
    .searchword{
        font-weight: bold;
        font-size: 49px;
    }
}

