//header
.l-header {
    height: 105px;
    border-bottom: 5px solid #e6e6e6;
    .logo {
        position: relative;
        img {
            width: 191px;
            height: auto;
            position: absolute;
            top: 31px;
            left: 31px;
        }
        span {
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
            color: #000;
            line-height: 1.625;
            text-align: left;
            position: absolute;
            top: 36px;
            left: 249px;
        }
    }
}
