//l-sidebar
.l-sidebar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: table-cell;
    padding: 30px;
    background: #f2f2f2;
    width: 250px;
    min-width: 250px;
    vertical-align: top;
    .is-fixed {
        position: fixed;
        top: 0;
        display: block;
    }
    h2 {
        margin: 0 0 8px 0;
    }
    .list-item {
        height: 50px;
        border-radius: 3px;
        background-position: 15px 16px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            color: #333;
            position: relative;
            vertical-align: top;
            i {
                width: 48px;
                height: 50px;
                margin-right: 19px;
                display: inline-block;
                float: left;
                &:hover {
                    border-right: 1px solid rgba(255, 255, 255, .9);
                }
            }
            span {
                font-size: 16px;
                line-height: 50px;
                display: inline-block;
                float: left;
            }
            &:hover,
            &.current {
                color: #fff;
                cursor: pointer;
            }
        }
        &:nth-child(1) {
            i {
                background: url(../images/icon_sports.png) no-repeat;
                background-position: 15px 15px;
            }
            &:hover,
            &.current {
                a {
                    color: #fff;
                }
                background: $color_sports;
                i {
                    background: url(../images/icon_sports_on.png) no-repeat;
                    border-right: 1px solid rgba(255, 255, 255, .5);
                    background-position: 15px 15px;
                }
            }
        }
        &:nth-child(2) {
            i {
                background: url(../images/icon_music.png) no-repeat;
                background-position: 15px 15px;
            }
            &:hover,
            &.current {
                background-color: $color_music;
                i {
                    background: url(../images/icon_music_on.png) no-repeat;
                    background-position: 15px 15px;
                    border-right: 1px solid rgba(255, 255, 255, .5);
                }
            }
        }
        &:nth-child(3) {
            i {
                background: url(../images/icon_life.png) no-repeat;
                background-position: 15px 15px;
            }
            &:hover,
            &.current {
                background-color: $color_life;
                i {
                    background: url(../images/icon_life_on.png) no-repeat;
                    background-position: 15px 15px;
                    border-right: 1px solid rgba(255, 255, 255, .5);
                }
            }
        }
        &:nth-child(4) {
            i {
                background: url(../images/icon_camera.png) no-repeat;
                background-position: 15px 15px;
            }
            &:hover,
            &.current {
                background-color: $color_camera;
                i {
                    background: url(../images/icon_camera_on.png) no-repeat;
                    background-position: 15px 15px;
                    border-right: 1px solid rgba(255, 255, 255, .5);
                }
            }
        }
        &:nth-child(5) {
            i {
                background: url(../images/icon_kitchen.png) no-repeat;
                background-position: 15px 15px;
            }
            &:hover,
            &.current {
                background-color: $color_kitchen;
                i {
                    background: url(../images/icon_kitchen_on.png) no-repeat;
                    background-position: 15px 15px;
                    border-right: 1px solid rgba(255, 255, 255, .5);
                }
            }
        }
    }
}
// Sticky
.is-natural {
    position: absolute;
    top: 0;
}
body.is-sticky-header {
    padding-top: 0;
    .l-sidebar {
        top: 0;
        position: fixed;
        z-index: 10;
    }
    .l-main {
        padding-left: 250px;
    }
}
