<aside>
    <div class="container">
        <div class="banner grid grid-col4">
            <div class="banner__inner grid-inner">
                <div class="banner-item banner-item--ibm grid-item">
                    <a href="#">
                        <img src="./images/logo_ibm.png" width="42" height="16" alt="ibm">
                    </a>
                </div>
                <div class="banner-item banner-item--microsoft grid-item">
                    <a href="#">
                        <img src="./images/logo_microsoft.png" width="72" height="15" alt="microsoft">
                    </a>
                </div>
                <div class="banner-item banner-item--twitter grid-item">
                    <a href="#">
                        <img src="./images/logo_twitter.png" width="78" height="13" alt="twitter">
                    </a>
                </div>
                <div class="banner-item banner-item--facebook grid-item">
                    <a href="#">
                        <img src="./images/logo_facebook.png" width="59" height="11" alt="facebook">
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>
