<section id="js-concept" class="section section--concept section--concept-pb u-clear">
    <div class="section__overlay section-overlay-concept"></div>
    <div class="section__content">
        <div class="concept">
            <div class="container">
                <div class="concept__left-content">
                    <h1 class="heading heading--pt heading--pb">
                        Catch copy text catch copy !!<br>
                        Catch copy text!
                    </h1>
                    <p class="description description--pb">
                        sample text sample text sample text<br>
                        sample text sample text sample<br>
                        text sample text sample sample text<br>
                        sample text sample text<br>
                    <br>
                        sample text sample text sample text<br>
                        sample text sample text<br>
                        sample text sample text<br>
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="concept__right-content">
                    <div id="js-concept-prlx-phone3" class="phone phone--3">
                        <img src="./images/phone_3.png" width="136" height="214" alt="phone 3" />
                    </div>
                    <div id="js-concept-prlx-phone2"  class="phone phone--2">
                        <img src="./images/phone_2.png" width="147" height="229" alt="phone 2" />
                    </div>
                    <div id="js-concept-prlx-phone1"  class="phone phone--1">
                        <img src="./images/phone_1.png" width="148" height="241" alt="phone 1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
