<!-- BEGIN CONTACT SECTION -->
<div class="section section--contact">
    <div class="section__heading">
        <h1>- Mail -</h1>
    </div>
    <div class="container">
        <!-- BEGIN CONTACT FORM -->
        <form class="contact-form" action="/submit" method="POST">
            <div class="contact-form__item">
                <input class="input input--mb" type="text" name="name" placeholder="Name">
                <input class="input input--mb" type="email" name="email" placeholder="E-mail">
                <div id="js-contact-select" class="select">
                    <select id="js-select-tag" class="select__tag" name="select" size="1">
                        <option value="">Please select your topic</option>
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                    </select>
                </div>
                <textarea class="textarea" name="comments" rows="8" cols="40" placeholder="Comments"></textarea>
                <input class="submit" type="submit" value="Submit">
            </div>
        </form>
        <!-- END CONTACT FORM -->
    </div>
</div>
<!-- END CONTACT SECTION -->
