<section id="js-feature" class="section section--feature u-notap">
    <div class="section__heading">
        <h1>- Feature -</h1>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="feature">
                <% var items = [
                    { img: "html5", heading: "HTML5", description: "sample text sample text sample<br>text sample text sample text"},
                    { img: "css3", heading: "CSS3", description: "sample text sample text sample<br>text sample text sample text"},
                    { img: "javascript", heading: "JavaScript", description: "sample text sample text sample<br>text sample text sample text"}
                ]; %>
                <% for(var i = 0; i < items.length; i++) { %>
                    <div class="feature__item">
                        <div class="item">
                            <div class="item__inner">
                                <img class="image" src="./images/feature_<%= items[i].img %>.png" width="141" height="155" alt="<%= items[i].img %>">
                                <h2 class="heading heading--pt heading--pb heading--ml"><%= items[i].heading %></h2>
                                <p class="description">
                                    <%- items[i].description %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="u-clear"></div>
</section>
