    <!--footer ここから-->
    <footer class="footer u-clear footer--pd">
        <div class="container u-clear">
            <div class="footer__left footer__left--pt footer__left--ml">
                <small>&copy;2016 Sample</small>
            </div>
            <div class="footer__right footer__right--mr">
                <div class="social social--footer social--footer-pr">
                    <a href="#" class="social__item"><i class="facebook icon-facebook"></i></a>
                    <a href="#" class="social__item"><i class="twitter twitter--pl icon-twitter"></i></a>
                    <a href="#" class="social__item"><i class="google-plus google-plus--pl icon-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--footer ここまで-->
