<section id="js-hero" class="hero">
    <div id="js-hero-inner" class="hero__inner l-container">
        <h1 id="js-hero-text-heading" class="heading">Hello world</h1>
        <h2 id="js-hero-text-subheading" class="subheading">- description text -</h2>
    </div>
    <div class="hero__arrow">
        <a href="#js-concept" class="arrow js-scroll">
            <div class="arrow__ring arrow__ring--hero">
                <span class="pointer pointer--bottom"></span>
            </div>
        </a>
    </div>
</section>
