<section id="js-news" class="section section--news">
    <div class="section__heading section__heading--pt section__heading--news-pb">
        <h1>- News -</h1>
    </div>
    <div class="container">
        <div class="section__content">

            <% var articles = [
                { date: "06.18", title: "News title", description: "sample text sample text sample text sample text sample text sample ..."},
                { date: "06.17", title: "News title", description: "sample text sample text sample text sample text sample text sample ..."},
                { date: "06.16", title: "News title", description: "sample text sample text sample text sample text sample text sample ..."}
            ];%>
            <ul class="article-list">

                <% for(var i = 0; i < articles.length; i++) { %>
                <li class="article-list__item article-list__item--pd">
                    <article class="article u-clear">
                        <a class="article__link" href="#">
                            <div class="link-item">
                                <div class="link-item__left">
                                    <time class="date" datetime="2016-06-18"><%= articles[i].date %></time>
                                    <h2 class="title"><%= articles[i].title %></h2>
                                </div>
                                <div class="link-item__right">
                                    <p class="description"><%= articles[i].description %></p>
                                </div>
                            </div>
                        </a>
                    </article>
                </li>
                <% } %>

            </ul>
        </div>
    </div>
</section>
