<section id="js-service" class="section section--service">
    <div class="section__heading section__heading--service-mb">
        <h1>- Service -</h1>
    </div>
    <div class="section__content">
        <div class="service service--pb service--mb">
            <div class="l-container u-clear">
                <figure class="service__image">
                    <img src="./images/service_graph.png" width="438" height="412" alt="graph">
                </figure>
                <div class="service__content">
                    <h2 class="heading heading--pt heading--pl heading--mb">2016 our results</h2>
                    <p class="description">sample text sample text sample text<br>
                    sample text sample text sample text<br>
                    sample text sample<br>
                    sample text sample text sample text<br>
                    </p>
                    <p class="description description--mt">sample text sample text sample<br>
                        text sample text sample text sample<br>
                        text sample text
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
