.l-footer {
    background-color: $color-default;
    color: #fff;
    height: 27px;
    position: relative;

    //Modifier margin
    &.l-footer-mt {
        margin-top: 50px;
    }
    &.l-footer-mt-sm {
        margin-top: 30px;
    }
    &.l-footer-mt {
        margin-top: 70px;
    }

    &-text {
        position: relative;
        left: 10px;
        float: left;
        padding-top: 8px;
        font-size: 7px;
        letter-spacing: 0.02em;
    }

    &-icon {
        float: right;
        padding-right: 10px;

        &-list {
            display: inline-block;
            padding-top: 3px;

            &:nth-child(1) {
                right: 51px;
                position: absolute;
            }

            &:nth-child(2) {
                position: absolute;
                right: 31px;
            }

            &:nth-child(3) {
                position: absolute;
                right: 10px;
            }
        }
    }

    &-link {
        text-decoration: none;
        color: $color-white;
    }
}
