.l-header {
    height: 50px;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 20;
    border-bottom: 0.5px solid transparent;
    transition: all 0.5s ease-in-out;

    &.--is-sticky {
        border-bottom: 0.5px solid $color-border;
        background: $color-white;
        height: 50px;

        .nav__logo__text {
            fill: $color-default;
        }
        .nav__right__menu__top,
        .nav__right__menu__middle,
        .nav__right__menu__bottom {
            background: $color-default;
        }
    }

    &__left {
        float: left;
    }
    &__right {
        float: right;
    }

    //Modifier margin
    &.l-header-mb {
        // margin-bottom: 50px;
    }
    &.l-header-mb-sm {
        margin-bottom: 30px;
    }
    &.l-header-mb-l {
        margin-bottom: 70px;
    }

    &.hidden {
        display: none;
    }
}
