.l-index {

    &-list {

        > li {
            padding-bottom: 20px;
            border-bottom: 1px solid $color-base;
            margin-bottom: 20px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    &-button {
        margin-top: 40px;
        text-align: center;
    }
}
